<div class="main__profile-details row m-1 m-md-3">

    <div class="profile-details__maincontainer col-12 card p-0">

        <div class="maincontainer__header card-header px-0">

            <div class="d-flex align-items-center">
                <h4 class="m-0 h4">{{account.user.name}} {{account.user.surname}}</h4>
                <div class="d-flex input-group w-auto ml-auto">
                    <div class="input-group-prepend d-none d-md-inline"><span class="input-group-text">ACTIONS</span></div>
                    <div class="d-flex align-items-center form-control round-right-5 round-md-5">
                        <div (click)="changeMode(PAGEMODE.READONLY)" class="inverse-image-button"
                            [ngClass]="{'active': pageStatus[PAGES.PROFILES] == PAGEMODE.READONLY}"
                            ngbTooltip="Visualizza" placement="left"><img src="assets/icons/actions/visibility.svg"
                                style="width:20px; height:auto;"></div>
                        <div (click)="changeMode(PAGEMODE.WRITE)" class="ml-2 inverse-image-button"
                            [ngClass]="{'active': pageStatus[PAGES.PROFILES] == PAGEMODE.WRITE}" ngbTooltip="Modifica"
                            placement="left"><img src="assets/icons/actions/edit.svg" style="width:20px; height:auto;">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="maincontainer__body card-body h-vh-fixed pt-3">

            <!-- USER INFORMATIONS -->
            <div class="row m-0 p-0">
                <div class="col-12 p-0">
                    <button class="btn btn-outline-dark w-100" type="button" data-toggle="collapse"
                        data-target="#userInformationContainer" aria-expanded="true"
                        aria-controls="userInformationContainer">
                        <h5 class="m-0 h5">Informazioni Utente</h5>
                    </button>
                </div>
                <div class="col-12 form-row py-3 px-0 border round-5 m-0 round-top-0 collapse show " id="userInformationContainer">
                    <form [formGroup]="userForm" (ngSubmit)="onSubmitUser()" class="col-12 row m-0 p-0">
                        <fieldset class="col-12 row form-group m-0 p-0" [disabled]="(pageStatus[PAGES.PROFILES] == PAGEMODE.READONLY)">
                            <div class="row col-12 m-0 p-0">
                                <!-- Name -->
                                <div class="col-12 col-md-6 col-lg-3 form-group">
                                    <label for="userName" class="col-form-label col-form-label-sm text-muted">Nome</label>
                                    <input type="text" formControlName="name" required maxlength="30" class="form-control form-control-sm"
                                        [ngClass]="{'is-invalid': userFormSubmitted && fu.name.errors, 'border-bottom-only bg-white': (pageStatus[PAGES.PROFILES] == PAGEMODE.READONLY)}"/>
                                    <div *ngIf="userFormSubmitted && fu.name.errors" class="invalid-feedback">
                                        <div *ngIf="fu.name.errors.required">Nome obbligatorio</div>
                                    </div>
                                </div>

                                <!-- Surname -->
                                <div class="col-12 col-md-6 col-lg-3 form-group">
                                    <label for="userSurname" class="col-form-label col-form-label-sm text-muted">Cognome</label>
                                    <input type="text" formControlName="surname" maxlength="30" required class="form-control form-control-sm"
                                        [ngClass]="{'is-invalid': userFormSubmitted && fu.surname.errors, 'border-bottom-only bg-white': (pageStatus[PAGES.PROFILES] == PAGEMODE.READONLY)}"/>
                                    <div *ngIf="userFormSubmitted && fu.surname.errors" class="invalid-feedback">
                                        <div *ngIf="fu.surname.errors.required">Cognome obbligatorio</div>
                                    </div>
                                </div>

                                <!-- Date of Birth -->
                                <div class="col-12 col-md-6 col-lg-3 form-group">
                                    <label for="userDoB" class="col-form-label col-form-label-sm text-muted">Data di nascita</label>
                                    <input type="date" formControlName="dateOfBirth" min="01-01-1900" max="{{today}}" class="form-control form-control-sm"
                                        [ngClass]="{'is-invalid': userFormSubmitted && fu.dateOfBirth.errors, 'border-bottom-only bg-white': (pageStatus[PAGES.PROFILES] == PAGEMODE.READONLY)}"/>
                                </div>

                                <!-- User Sex -->
                                <div class="col-6 col-lg-3 form-group">
                                    <label for="userSex" class="col-form-label col-form-label-sm text-muted">Sesso</label>
                                    <select formControlName="sex" class="form-control form-control-sm" 
                                        [ngClass]="{'border-bottom-only bg-white': (pageStatus[PAGES.PROFILES] == PAGEMODE.READONLY), 'cursor-pointer': (pageStatus[PAGES.PROFILES] == PAGEMODE.WRITE), 'is-invalid': userFormSubmitted && fu.sex.errors}">
                                        <option [value]="'M'">Uomo</option>
                                        <option [value]="'F'">Donna</option>
                                    </select>
                                </div>

                                <!-- User Type -->
                                <div class="col-6 col-lg-4 form-group">
                                    <label for="userType" class="col-form-label col-form-label-sm text-muted">Tipo</label>
                                    <select formControlName="userType" required class="form-control form-control-sm cursor-pointer"
                                        [ngClass]="{'border-bottom-only bg-white': (pageStatus[PAGES.PROFILES] == PAGEMODE.READONLY), 'cursor-pointer': (pageStatus[PAGES.PROFILES] == PAGEMODE.WRITE), 'is-invalid': userFormSubmitted && fu.userType.errors}">
                                        <option [value]="'athlete'">Atleta</option>
                                        <option [value]="'coach'">Coach</option>
                                        <option [value]="'both'">Both</option>
                                    </select>
                                    <div *ngIf="userFormSubmitted && fu.userType.errors" class="invalid-feedback">
                                        <div *ngIf="fu.userType.errors.required">Tipo utente obbligatorio</div>
                                    </div>
                                </div>

                                <!-- Body Weight -->
                                <div class="col-6 col-lg-4 form-group">
                                    <label for="userBw" class="col-form-label col-form-label-sm text-muted">Peso</label>
                                    <input type="number" min=10 max=500 formControlName="bodyWeight" class="form-control form-control-sm"
                                        [ngClass]="{'border-bottom-only bg-white': (pageStatus[PAGES.PROFILES] == PAGEMODE.READONLY), 'is-invalid': userFormSubmitted && fu.bodyWeight.errors}">
                                </div>

                                <!-- Years of experience -->
                                <div class="col-6 col-lg-4 form-group">
                                    <label for="userYearsOfExperience" class="col-form-label col-form-label-sm text-muted">Esperienza (anni)</label>
                                    <input type="number" min=0 max=100 formControlName="yearsOfExperience" class="form-control form-control-sm"
                                        [ngClass]="{'border-bottom-only bg-white': (pageStatus[PAGES.PROFILES] == PAGEMODE.READONLY), 'is-invalid': userFormSubmitted && fu.yearsOfExperience.errors }">
                                </div>

                                <!-- Email  -->
                                <div class="col-12 col-lg-6 form-group">
                                    <label for="userContactsEmail" class="col-form-label col-form-label-sm text-muted">Email</label>
                                    <input type="email" formControlName="userEmail" required maxlength="100" class="form-control form-control-sm"
                                        [ngClass]="{'is-invalid': userFormSubmitted && fu.userEmail.errors, 'border-bottom-only bg-white': (pageStatus[PAGES.PROFILES] == PAGEMODE.READONLY)}"/>
                                    <div *ngIf="userFormSubmitted && fu.userEmail.errors" class="invalid-feedback">
                                        <div *ngIf="fu.userEmail.errors.email">Il campo email deve contenere un'email valida</div>
                                    </div>
                                </div>

                                <!-- Telephone -->
                                <div class="col-12 col-lg-6 form-group">
                                    <label for="userContactsTelephone"
                                        class="col-form-label col-form-label-sm text-muted">Telefono</label>
                                    <input type="tel" maxlength="15" formControlName="telephone" class="form-control form-control-sm"
                                        [ngClass]="{'is-invalid': userFormSubmitted && fu.telephone.errors, 'border-bottom-only bg-white': (pageStatus[PAGES.PROFILES] == PAGEMODE.READONLY)}"/>
                                </div>

                                <!-- Residence State -->
                                <div class="col-12 col-md-6 col-lg-4 form-group">
                                    <label for="userResidenceState" class="col-form-label col-form-label-sm text-muted">Stato</label>
                                    <input type="text" maxlength="50" formControlName="residenceState" class="form-control form-control-sm"
                                        [ngClass]="{'is-invalid': userFormSubmitted && fu.residenceState.errors, 'border-bottom-only bg-white': (pageStatus[PAGES.PROFILES] == PAGEMODE.READONLY)}"/>
                                </div>

                                <!-- Residence City -->
                                <div class="col-12 col-md-6 col-lg-4 form-group">
                                    <label for="userResidenceCity" class="col-form-label col-form-label-sm text-muted">Città</label>
                                    <input type="text" maxlength="50" formControlName="residenceCity" class="form-control form-control-sm"
                                        [ngClass]="{'is-invalid': userFormSubmitted && fu.residenceCity.errors, 'border-bottom-only bg-white': (pageStatus[PAGES.PROFILES] == PAGEMODE.READONLY)}"/>
                                </div>

                                <!-- Residence Address -->
                                <div class="col-12 col-md-6 col-lg-4 form-group">
                                    <label for="userResidenceAddress" class="col-form-label col-form-label-sm text-muted">Indirizzo</label>
                                    <input type="text" maxlength="150" formControlName="residenceAddress" class="form-control form-control-sm"
                                        [ngClass]="{'is-invalid': userFormSubmitted && fu.residenceAddress.errors, 'border-bottom-only bg-white': (pageStatus[PAGES.PROFILES] == PAGEMODE.READONLY)}"/>
                                </div>

                                <div class="form-group col-12 d-flex" *ngIf="(pageStatus[PAGES.PROFILES] == PAGEMODE.WRITE)">
                                    <button type="submit" class="btn btn-primary ml-auto"><span *ngIf="bLoading" class="spinner-border spinner-border-sm mr-1"></span> Aggiorna</button>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>

            <!-- PERSONAL RECORDS -->
            <div class="row m-0 p-0 mt-3">
                <div class="col-12 p-0">
                    <button class="btn btn-outline-dark w-100" type="button" data-toggle="collapse"
                        data-target="#prContainer" aria-expanded="true"
                        aria-controls="prContainer">
                        <h5 class="m-0 h5">Personal Records</h5>
                    </button>
                </div>
                <div class="col-12 form-row p-0 border round-5 m-0 round-top-0 collapse" id="prContainer">
                    <fieldset class="col-12 row m-0 p-0" [disabled]="(pageStatus[PAGES.PROFILES] == PAGEMODE.READONLY)">
                        <div class="col-12 form-row m-0" *ngIf="personalRecordList.length==0">
                            <div class="px-2 py-4">Nessun Personal Record presente</div>
                        </div>

                        <div class="col-12 form-row m-0 p-0 position-relative border" *ngFor="let pr of personalRecordList; index as prIndex; first as prFirst">
                            <div class="col-6 col-lg-4 d-flex flex-column align-items-baseline flex-lg-row m-0 p-3">
                                <div class="row m-0">
                                    <div class="col-12 col-lg-6 form-group pl-0 pr-1 m-0">
                                        <label for="pr_{{prIndex}}" class="col-form-label col-form-label-sm text-muted">Esercizio</label>
                                        <input id="pr_{{prIndex}}" name="pr_{{prIndex}}" type="text" class="form-control form-control-sm" [ngClass]="{'border-bottom-only bg-white': (pageStatus[PAGES.PROFILES] == PAGEMODE.READONLY)}"
                                            [ngModel]="pr.exercise.name"
                                            [ngbTypeahead]="search"
                                            [resultTemplate]="rt"
                                            [editable]='false'
                                            (selectItem)="selectExercise($event, prIndex)">
                                            
                                            <ng-template #rt let-r="result" let-t="term">
                                                <ngb-highlight [result]="r.name + ' (' + r.variant.name + ')'" [term]="t"></ngb-highlight>
                                            </ng-template>

                                            <!-- Exercise Modal -->
                                            <app-exercise-modal [hidden]="true" (onClose)="createExercise()" (onAbort)="abortCreateExercise()" [(newExercise)]="newExercise" style="position: absolute; right: 15px; bottom: 15px">
                                                <button id="exerciseModalButton" class="image-button cursor-pointer" ngbTooltip="Nuovo" placement="top"><img src="assets/icons/actions/plus.svg" style="width:40px; height:auto;"></button>
                                            </app-exercise-modal>
                                    </div>
                                    <div class="col-12 col-lg-6 form-group pl-lg-1 px-0 m-0">
                                        <label for="tipo_{{prIndex}}" class="col-form-label col-form-label-sm text-muted">Tipo</label>
                                        <input type="text" [(ngModel)]="pr.exercise.variant.name" class="form-control form-control-sm" [ngClass]="{'border-bottom-only bg-white': (pageStatus[PAGES.PROFILES] == PAGEMODE.READONLY)}"
                                            id="tipo_{{prIndex}}" name="tipo_{{prIndex}}" placeholder="Tipo esercizio..." disabled>
                                    </div>
                                    <div class="col-12 col-xl-6 form-group pl-0 pr-1">
                                        <label for="description_{{prIndex}}" class="col-form-label col-form-label-sm text-muted">Descrizione</label>
                                        <input type="text" [(ngModel)]="pr.exercise.description" class="form-control form-control-sm" [ngClass]="{'border-bottom-only bg-white': (pageStatus[PAGES.PROFILES] == PAGEMODE.READONLY)}"
                                            id="description_{{prIndex}}" name="description_{{prIndex}}" placeholder="Descrizione esercizio..." disabled>
                                    </div>
                                    <div class="col-12 col-xl-5 form-group px-0 px-lg-1">
                                        <label for="oneRepPR_{{prIndex}}" class="col-form-label col-form-label-sm text-muted">1RM</label>
                                        <div class="d-flex">
                                            <input type="number" min="0" [(ngModel)]="pr.oneRepPR.weight" class="form-control form-control-sm w-100" [ngClass]="{'border-bottom-only bg-white': (pageStatus[PAGES.PROFILES] == PAGEMODE.READONLY)}"
                                            id="oneRepPR_{{prIndex}}" name="oneRepPR_{{prIndex}}">
                                            <select [(ngModel)]="pr.oneRepPR.measure" class="form-control form-control-sm cursor-pointer" [ngClass]="{'border-bottom-only bg-white': (pageStatus[PAGES.PROFILES] == PAGEMODE.READONLY)}"
                                                id="oneRepPrMeasure_{{prIndex}}" name="oneRepPrMeasure_{{prIndex}}">
                                                <option [value]="'kg'">kg</option>
                                                <option [value]="'lbs'">lbs</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-12 col-xl-1 form-group d-flex flex-column align-items-center pl-1 pr-0">
                                        <label for="public_{{prIndex}}" class="col-form-label col-form-label-sm">Pubblico</label>
                                        <input type="checkbox" [(ngModel)]="pr.bPublic" class="form-control form-control-sm" [ngClass]="{'border-bottom-only bg-white': (pageStatus[PAGES.PROFILES] == PAGEMODE.READONLY)}"
                                            id="public_{{prIndex}}" name="public_{{prIndex}}">
                                    </div>
                                </div>
                                <div class="pl-lg-3 pr-0 mt-1 text-right ml-auto" *ngIf="(pageStatus[PAGES.PROFILES] == PAGEMODE.WRITE)">
                                    <small>Azioni</small>
                                    <div class="d-flex flex-row flex-lg-column align-items-center align-items-lg-end justify-content-end">
                                        <div class="image-button" ngbTooltip="Copia personal record" placement="top" (click)="copyPR(prIndex)"><img src="assets/icons/actions/copy.svg" style="width:15px; height:auto;"></div>
                                        <div class="ml-1 image-button" ngbTooltip="Incolla personal record" placement="top" (click)="pastePR(prIndex)"><img src="assets/icons/actions/contract.svg" style="width:15px; height:auto;"></div>
                                        <div class="ml-1 image-button" ngbTooltip="Reset personal record" placement="top" (click)="resetPR(prIndex)"><img src="assets/icons/actions/return.svg" style="width:15px; height:auto;"></div>
                                        <div class="ml-1 image-button" ngbTooltip="Elimina personal record" placement="top" (click)="deletePR(prIndex)"><img src="assets/icons/actions/garbage-can.svg" style="width:15px; height:auto;"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 col-lg-8 p-3 border border-right-0 border-top-0 border-bottom-0">
                                <div class="form-row m-0" *ngFor="let elem of pr.series; first as seriesFirst; last as seriesLast; index as seriesIndex" [ngClass]="{'my-2': pr.series.length > 1 && !first && !last, 'border-bottom': pr.series.length > 1 && !last}">
                                    <div class="col-12 col-md-6 col-lg-3 col-xl-1 form-group">
                                        <label for="serie_{{prIndex}}_{{seriesIndex}}" class="col-form-label col-form-label-sm"
                                            [hidden]="!seriesFirst">Serie</label>
                                        <input type="number" min="1" max="1000" [(ngModel)]="elem.seriesNumber" [ngClass]="{'border-bottom-only bg-white': (pageStatus[PAGES.PROFILES] == PAGEMODE.READONLY)}"
                                            class="form-control form-control-sm" id="serie_{{prIndex}}_{{seriesIndex}}"
                                            name="serie_{{prIndex}}_{{seriesIndex}}" placeholder="Serie...">
                                    </div>
                                    <div class="col-12 col-md-6 col-lg-3 col-xl-1 form-group">
                                        <label for="rep_{{prIndex}}_{{seriesIndex}}" class="col-form-label col-form-label-sm"
                                            [hidden]="!seriesFirst">Rep</label>
                                        <input type="number" min="1" max="9999" [(ngModel)]="elem.repNumber" [ngClass]="{'border-bottom-only bg-white': (pageStatus[PAGES.PROFILES] == PAGEMODE.READONLY)}"
                                            class="form-control form-control-sm" id="rep_{{prIndex}}_{{seriesIndex}}"
                                            name="rep_{{prIndex}}_{{seriesIndex}}" placeholder="Rep...">
                                    </div>
                                    <div class="col-12 col-md-6 col-lg-3 col-xl-1 form-group">
                                        <label for="peso_{{prIndex}}_{{seriesIndex}}" class="col-form-label col-form-label-sm"
                                            [hidden]="!seriesFirst">Peso</label>
                                        <input type="number" min="0" max="9999" [(ngModel)]="elem.weight" [ngClass]="{'border-bottom-only bg-white': (pageStatus[PAGES.PROFILES] == PAGEMODE.READONLY)}"
                                            class="form-control form-control-sm" id="peso_{{prIndex}}_{{seriesIndex}}"
                                            name="peso_{{prIndex}}_{{seriesIndex}}" placeholder="Peso...">
                                    </div>
                                    <div class="col-12 col-md-6 col-lg-3 col-xl-2 d-flex">
                                        <div class="form-group">
                                            <label for="misura_{{prIndex}}_{{seriesIndex}}" class="col-form-label col-form-label-sm"
                                            [hidden]="!seriesFirst">Misura</label>
                                            <select [(ngModel)]="elem.measure" class="form-control form-control-sm" [ngClass]="{'border-bottom-only bg-white': (pageStatus[PAGES.PROFILES] == PAGEMODE.READONLY)}"
                                                id="misuraSelect_{{prIndex}}_{{seriesIndex}}" name="misuraSelect_{{prIndex}}_{{seriesIndex}}">
                                                <option [value]="'kg'">kg</option>
                                                <option [value]="'lbs'">lbs</option>
                                            </select>
                                        </div>
                                        <div class="image-button ml-1" [ngClass]="{'d-flex align-items mt-3': seriesFirst}" *ngIf="!(pageStatus[PAGES.PROFILES] == PAGEMODE.READONLY)" ngbTooltip="Applica misura a tutti i personal record" placement="top" (click)="setPRlistMeasure(elem.measure)"><img src="assets/icons/actions/copy-secondary.svg" style="width:15px; height:auto;"></div>
                                        <div class="image-button ml-1" [ngClass]="{'d-flex align-items mt-3': seriesFirst}" *ngIf="!(pageStatus[PAGES.PROFILES] == PAGEMODE.READONLY)" ngbTooltip="Applica misura a tutto il personal record" placement="top" (click)="setPRMeasure(pr, elem.measure)"><img src="assets/icons/actions/copy-secondary.svg" style="width:15px; height:auto;"></div>
                                    </div>
                                    <div class="col-12 col-md-6 col-lg-3 col-xl-1 form-group">
                                        <label for="rest_{{prIndex}}_{{seriesIndex}}" class="col-form-label col-form-label-sm"
                                            [hidden]="!seriesFirst">Recupero</label>
                                        <input type="number" min="0" max="9999" [(ngModel)]="elem.rest" [ngClass]="{'border-bottom-only bg-white': (pageStatus[PAGES.PROFILES] == PAGEMODE.READONLY)}" 
                                            class="form-control form-control-sm" id="rest_{{prIndex}}_{{seriesIndex}}" 
                                            name="rest_{{prIndex}}_{{seriesIndex}}">
                                    </div>
                                    <div class="col-12 col-md-6 col-lg-3 col-xl-1 form-group d-flex flex-column justify-content-center align-items-center">
                                        <label for="verified_{{prIndex}}_{{seriesIndex}}" class="col-form-label col-form-label-sm"
                                        [hidden]="!seriesFirst">Verificato</label>
                                        <input type="checkbox" [(ngModel)]="elem.bVerified" class="form-control form-control-sm" [ngClass]="{'border-bottom-only bg-white': (pageStatus[PAGES.PROFILES] == PAGEMODE.READONLY)}"
                                            id="verified_{{prIndex}}_{{seriesIndex}}" name="verified_{{prIndex}}_{{seriesIndex}}">
                                    </div>
                                    <div class="col-12 col-md-6 col-lg-3 col-xl-1 form-group d-flex flex-column justify-content-center align-items-center">
                                        <label for="competition_{{prIndex}}_{{seriesIndex}}" class="col-form-label col-form-label-sm"
                                        [hidden]="!seriesFirst">Comp.</label>
                                        <input type="checkbox" [(ngModel)]="elem.bCompetition" class="form-control form-control-sm" [ngClass]="{'border-bottom-only bg-white': (pageStatus[PAGES.PROFILES] == PAGEMODE.READONLY)}" 
                                            id="competition_{{prIndex}}_{{seriesIndex}}" name="competition_{{prIndex}}_{{seriesIndex}}">
                                    </div>
                                    <div class="col-12 col-md-6 col-lg-3 col-xl-1 form-group d-flex flex-column justify-content-center align-items-center">
                                        <label for="public_{{prIndex}}_{{seriesIndex}}" class="col-form-label col-form-label-sm"
                                        [hidden]="!seriesFirst">Pubblico</label>
                                        <input type="checkbox" [(ngModel)]="elem.bPublic" class="form-control form-control-sm" [ngClass]="{'border-bottom-only bg-white': (pageStatus[PAGES.PROFILES] == PAGEMODE.READONLY)}"
                                            id="public_{{prIndex}}_{{seriesIndex}}" name="public_{{prIndex}}_{{seriesIndex}}">
                                    </div>
                                    <div class="col-12 col-lg-3 col-xl-1 form-group">
                                        <label for="comment_{{prIndex}}_{{seriesIndex}}" class="col-form-label col-form-label-sm" 
                                            [hidden]="!seriesFirst">Commento</label>
                                        <input type="text" max="200" [(ngModel)]="elem.comment" [ngClass]="{'border-bottom-only bg-white': (pageStatus[PAGES.PROFILES] == PAGEMODE.READONLY)}"
                                            class="form-control form-control-sm" id="comment_{{prIndex}}_{{seriesIndex}}"
                                            name="comment_{{prIndex}}_{{seriesIndex}}" placeholder="Commento...">
                                    </div>
                                    <div class="col-12 col-lg-3 col-xl-2 form-group m-0 p-0 pl-2 text-right" *ngIf="(pageStatus[PAGES.PROFILES] == PAGEMODE.WRITE)">
                                        <label class="col-form-label col-form-label-sm" [hidden]="!seriesFirst"
                                            [hidden]="!seriesFirst">Azioni</label>
                                        <div class="d-flex justify-content-end">
                                            <div class="image-button" ngbTooltip="Copia" placement="top" (click)="copySeries(pr, seriesIndex)"><img src="assets/icons/actions/copy.svg" style="width:15px; height:auto;"></div>
                                            <div class="ml-1 image-button" ngbTooltip="Incolla" placement="top" (click)="pasteSeries(pr, seriesIndex)"><img src="assets/icons/actions/contract.svg" style="width:15px; height:auto;"></div>
                                            <div class="ml-1 image-button" ngbTooltip="Reset" placement="top" (click)="resetSeries(pr, seriesIndex)"><img src="assets/icons/actions/return.svg" style="width:15px; height:auto;"></div>
                                            <div class="ml-1 image-button" ngbTooltip="Elimina" placement="top" (click)="deleteSeries(pr, seriesIndex)" [hidden]="pr.series.length == 1"><img src="assets/icons/actions/garbage-can.svg" style="width:15px; height:auto;"></div>
                                            <div class="ml-1 image-button" ngbTooltip="Aggiungi" placement="top" (click)="pushSeries(pr)" [hidden]="!seriesLast"><img src="assets/icons/actions/plus2.svg" style="width:15px; height:auto;"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-row m-0 d-flex justify-content-start" *ngIf="(pageStatus[PAGES.PROFILES] == PAGEMODE.WRITE)">
                            <div class="btn btn-outline-info btn-sm-sm mt-2 ml-2" (click)="pushPR()">Aggiungi PR +</div>
                        </div>

                        <div class="form-group col-12 d-flex p-0" *ngIf="(pageStatus[PAGES.PROFILES] == PAGEMODE.WRITE)">
                            <button type="submit" class="btn btn-primary ml-auto mr-2" (click)="onSubmitPersonaRecords()" [disabled]="!isPersonalRecordFormValid()"><span *ngIf="bLoading" class="spinner-border spinner-border-sm mr-1"></span> Aggiorna</button>
                        </div>
                    </fieldset>
                </div>
            </div>

            <!-- ACCOUNT INFORMATIONS -->
            <div class="row m-0 p-0 mt-3">
                <div class="col-12 p-0">
                    <button class="btn btn-outline-dark w-100" type="button" data-toggle="collapse" data-target="#accountInformationContainer" aria-expanded="false" aria-controls="accountInformationContainer">
                        <h5 class="m-0 h5">Informazioni Account</h5>
                    </button>
                </div>
                <div class="col-12 form-row p-3 border round-5 m-0 round-top-0 collapse" id="accountInformationContainer">
                    <form [formGroup]="accountForm" (ngSubmit)="onSubmitAccount()" class="col-12 row m-0 p-0">
                        <fieldset class="col-12 row m-0 p-0" [disabled]="(pageStatus[PAGES.PROFILES] == PAGEMODE.READONLY)">
                            <div class="row col-12 m-0 p-0">
                                <div class="form-group col-12 p-0">
                                    <label class="col-form-label col-form-label-sm text-muted">Email</label>
                                    <input type="text" max="100" formControlName="email" class="form-control form-control-sm"
                                        [ngClass]="{ 'is-invalid': accountFormSubmitted && fa.email.errors, 'border-bottom-only bg-white': (pageStatus[PAGES.PROFILES] == PAGEMODE.READONLY) }"/>
                                    <div *ngIf="accountFormSubmitted && fa.email.errors" class="invalid-feedback">
                                        <div *ngIf="fa.email.errors.required">Email obbligatoria</div>
                                        <div *ngIf="fa.email.errors.email">Il campo email deve contenere un'email valida</div>
                                    </div>
                                </div>
                                <div *ngIf="pageStatus[PAGES.PROFILES] == PAGEMODE.WRITE" class="col-12 p-0">
                                    <div class="form-row">
                                        <div class="form-group col-12 col-xl-6">
                                            <label class="col-form-label col-form-label-sm text-muted">Password (lasciare vuoto
                                                il campo per mantenere la stessa password)</label>
                                            <input type="password" formControlName="password" max="100"
                                                class="form-control form-control-sm"
                                                [ngClass]="{ 'is-invalid': accountFormSubmitted && fa.password.errors }" />
                                            <div *ngIf="accountFormSubmitted && fa.password.errors" class="invalid-feedback">
                                                <div *ngIf="fa.password.errors.required">Password obbligatoria</div>
                                                <div *ngIf="fa.password.errors.minlength">Il campo password deve essere di almeno 6 caratteri</div>
                                            </div>
                                        </div>
                                        <div class="form-group col-12 col-xl-6">
                                            <label class="col-form-label col-form-label-sm text-muted">Conferma Password
                                                (lasciare vuoto il campo per mantenere la stessa password)</label>
                                            <input type="password" formControlName="confirmPassword" max="100"
                                                class="form-control form-control-sm"
                                                [ngClass]="{ 'is-invalid': accountFormSubmitted && fa.confirmPassword.errors }" />
                                            <div *ngIf="accountFormSubmitted && fa.confirmPassword.errors" class="invalid-feedback">
                                                <div *ngIf="fa.confirmPassword.errors.required">Conferma Password è obbligatoria
                                                </div>
                                                <div *ngIf="fa.confirmPassword.errors.mustMatch">Le password devono essere uguali
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group d-flex">
                                        <button type="submit" class="btn btn-primary ml-auto">
                                            <span *ngIf="bLoading" class="spinner-border spinner-border-sm mr-1"></span>
                                            Aggiorna
                                        </button>
                                        <button type="button" (click)="onDeleteAccount()" class="btn btn-danger ml-2">
                                            <span *ngIf="accountFormDeleting" class="spinner-border spinner-border-sm mr-1"></span>
                                            Elimina
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>

        <!-- Loader -->
        <div class='h-100 w-100' [hidden]="!bLoading">
            <div style="position:absolute; background-color:black; opacity:50%; right:0; top:0;" class="w-100 h-100">
                <div class="container d-flex align-items-center justify-content-center w-100 h-100">
                    <div class="lds-ring">
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>