<div class="main__sidebar row m-0 h-100 overflow-auto" [ngClass]="{'expanded': bExpandedSidebar, 'not-expanded': !bExpandedSidebar}">

    <div class="sidebar__container col-12 d-flex flex-column p-0">

        <!-- Sidebar Header -->
        <div class="container__header w-100 d-flex justify-content-start cursor-pointer" (click)="bExpandedSidebar = !bExpandedSidebar">
            <img src="assets/icons/sidebar/menu.svg" style="width:24px; height:auto;" [hidden]="bExpandedSidebar" class="ml-1">
            <h5 class="text-white m-0" [hidden]="!bExpandedSidebar">Menu</h5>
        </div>

        <!-- Sidebar Body (contains sidebar links) -->
        <div class="container__body">
            <a routerLink="/homepage" routerLinkActive="active"
                class="sidebar__element link-button w-100 d-flex align-items-center justify-content-start text-white cursor-pointer"
                [ngClass]="{'active': bActiveList.homepage}">
                <img src="assets/icons/sidebar/home.svg" style="width:24px; height:auto;" class="ml-1 mr-2">
                <span [hidden]="!bExpandedSidebar">Homepage</span>
            </a>
            <a routerLink="/trainings" routerLinkActive="active"
                class="sidebar__element link-button w-100 d-flex align-items-center justify-content-start text-white cursor-pointer"
                [ngClass]="{'active': bActiveList.trainings}">
                <img src="assets/icons/sidebar/writing.svg" style="width:24px; height:auto;" class="ml-1 mr-2">
                <span [hidden]="!bExpandedSidebar">Allenamenti</span>
            </a>
            <a routerLink="/exercises" routerLinkActive="active"
                class="sidebar__element link-button w-100 d-flex align-items-center justify-content-start text-white cursor-pointer"
                [ngClass]="{'active': bActiveList.exercises}">
                <img src="assets/icons/sidebar/barbell.svg" style="width:24px; height:auto;" class="ml-1 mr-2">
                <span [hidden]="!bExpandedSidebar">Esercizi</span>
            </a>
            <a routerLink="/athletes" routerLinkActive="active"
                class="sidebar__element link-button w-100 d-flex align-items-center justify-content-start text-white cursor-pointer"
                [ngClass]="{'active': bActiveList.athletes}">
                <img src="assets/icons/sidebar/athlete.svg" style="width:24px; height:auto;" class="ml-1 mr-2">
                <span [hidden]="!bExpandedSidebar">Atleti</span>
            </a>
            <a routerLink="/coaches" routerLinkActive="active"
                class="sidebar__element link-button w-100 d-flex align-items-center justify-content-start text-white cursor-pointer"
                [ngClass]="{'active': bActiveList.coaches}">
                <img src="assets/icons/sidebar/coach.svg" style="width:24px; height:auto;" class="ml-1 mr-2">
                <span [hidden]="!bExpandedSidebar">Coach</span>
            </a>
            <a routerLink="/userprofile" routerLinkActive="active"
                class="sidebar__element link-button w-100 d-flex align-items-center justify-content-start text-white cursor-pointer"
                [ngClass]="{'active': bActiveList.userprofile}">
                <img src="assets/icons/sidebar/user.svg" style="width:24px; height:auto;" class="ml-1 mr-2">
                <span [hidden]="!bExpandedSidebar">Profilo Utente</span>
            </a>
        </div>

    </div>

</div>