<div class="main__maximum row m-3">

    <div class="maximum__maincontainer card col-12 p-0 border border-secondary">

        <div class="maincontainer__header card-header border border-secondary d-flex align-items-center bg-dark text-white">
            <h5 class="m-0"><strong>LISTA MASSIMALI</strong></h5>
        </div>

        <div class="maincontainer__body card-body row m-0">
            <div class="col-12 row m-0 border d-flex align-items-center justify-content-center">
                <div class="col-2 text-center border border-top-0 border-left-0 border-bottom-0"><b>Atleta</b></div>
                <div class="col-1 text-center border border-top-0 border-left-0 border-bottom-0"><b>Squat</b></div>
                <div class="col-1 text-center border border-top-0 border-left-0 border-bottom-0"><b>Panca</b></div>
                <div class="col-2 text-center border border-top-0 border-left-0 border-bottom-0"><b>Stacco</b></div>
                <div class="col-2 text-center border border-top-0 border-left-0 border-bottom-0"><b>Slancio</b></div>
                <div class="col-2 text-center border border-top-0 border-left-0 border-bottom-0"><b>Front Squat</b>
                </div>
                <div class="col-2 text-center"><b>Military Press</b></div>
            </div>
            <div class="col-12 row m-0 border d-flex align-items-center justify-content-center"
                *ngFor="let elem of massimaliList">
                <div class="col-2 text-center border border-top-0 border-left-0 border-bottom-0">{{elem.atleta.nome}}
                    {{elem.atleta.cognome}}</div>
                <div class="col-1 text-center border border-top-0 border-left-0 border-bottom-0">
                    {{elem.massimali.squat}}</div>
                <div class="col-1 text-center border border-top-0 border-left-0 border-bottom-0">
                    {{elem.massimali.panca}}</div>
                <div class="col-2 text-center border border-top-0 border-left-0 border-bottom-0">
                    {{elem.massimali.stacco}}</div>
                <div class="col-2 text-center border border-top-0 border-left-0 border-bottom-0">
                    {{elem.massimali.clean_jerk}}</div>
                <div class="col-2 text-center border border-top-0 border-left-0 border-bottom-0">
                    {{elem.massimali.front_squat}}</div>
                <div class="col-2 text-center">{{elem.massimali.military_press}}</div>
            </div>
        </div>
    </div>
</div>