<div class="card p-0 h-100" style="border-color: rgba(0, 0, 0, 0.6) !important;">
    <div class="card-header border border-dark bg-dark text-white">
        <h6 class="h6 m-0">WEEK <span *ngIf="weekIndex!=null">{{weekIndex+1}}</span></h6>
    </div>
    <div class="card-body border-0 p-0">
        <div *ngFor="let session of week.sessions; index as sessionIndex">
            <app-session-view [session]="session" [sessionIndex]="sessionIndex" [weekIndex]="weekIndex" [(options)]="options"></app-session-view>
        </div>
    </div>
    <div class="card-footer text-white bg-dark border-0" *ngIf="!options.format.bHideComments">
        <span [hidden]="(week.comment == null || week.comment == '')">Commento: {{week.comment}}</span>
    </div>
</div>