# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
WebApp/dist
WebApp/tmp
WebApp/out-tsc
# Only exists if Bazel was run
WebApp/bazel-out

# dependencies
WebApp/node_modules

# profiling files
WebApp/chrome-profiler-events*.json
WebApp/speed-measure-plugin*.json

# IDEs and editors
WebApp/.idea
WebApp/.project
WebApp/.classpath
WebApp/.c9/
WebApp/*.launch
WebApp/.settings/
WebApp/*.sublime-workspace

# IDE - VSCode
WebApp/.vscode/*
WebApp/!.vscode/settings.json
WebApp/!.vscode/tasks.json
WebApp/!.vscode/launch.json
WebApp/!.vscode/extensions.json
WebApp/.history/*

# misc
WebApp/.sass-cache
WebApp/connect.lock
WebApp/coverage
WebApp/libpeerconnection.log
WebApp/npm-debug.log
WebApp/yarn-error.log
WebApp/testem.log
WebApp/typings

# System Files
WebApp/.DS_Store
WebApp/Thumbs.db
