<div class="main__exercise row m-3">

    <div class="exercise__maincontainer col-12 card p-0">

        <div class="maincontainer__header card-header px-0">
            <div class="d-flex align-items-center">
                <h4 class="m-0 h4"><span class="d-block d-md-inline mr-2">ESERCIZIO</span> <span class="d-block d-md-inline">{{exercise.name}}</span></h4>

                <div class="d-flex input-group w-auto ml-auto">
                    <div class="input-group-prepend d-none d-md-inline"><span class="input-group-text">ACTIONS</span></div>
                    <div class="d-flex align-items-center form-control round-right-5 round-md-5">
                        <div (click)="changeMode(PAGEMODE.READONLY)" class="inverse-image-button" [ngClass]="{'active': pageStatus[PAGES.EXERCISES] == PAGEMODE.READONLY}"  ngbTooltip="Visualizza" placement="left"><img src="assets/icons/actions/visibility.svg" style="width:20px; height:auto;"></div>
                        <div (click)="changeMode(PAGEMODE.WRITE)" class="ml-2 inverse-image-button" [ngClass]="{'active': pageStatus[PAGES.EXERCISES] == PAGEMODE.WRITE}"  ngbTooltip="Modifica" placement="left"><img src="assets/icons/actions/edit.svg" style="width:20px; height:auto;"></div>
                        <div *ngIf="account.role == Role.Admin" (click)="deleteExercise()" class="ml-2 inverse-image-button" ngbTooltip="Elimina" placement="left"><img src="assets/icons/actions/garbage-can.svg" style="width:20px; height:auto;"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="maincontainer__body card-body">
            <form>
                <fieldset class="form-row m-0" [disabled]="(pageStatus[PAGES.EXERCISES] == PAGEMODE.READONLY)">
                    <div class="col-12 form-row m-0 p-0">
                        <div class="col-12 col-md-12 col-lg-4 form-group">
                            <label for="exerciseName" class="col-form-label col-form-label-sm text-muted">Nome</label>
                            <input type="text" [(ngModel)]="exercise.name" class="form-control form-control-sm"
                                [ngClass]="{'border-bottom-only bg-white': (pageStatus[PAGES.EXERCISES] == PAGEMODE.READONLY)}" id="exerciseName" name="exerciseName">
                        </div>
                        <div class="col-12 col-md-6 col-lg-4 form-group">
                            <label for="exerciseVariantName" class="col-form-label col-form-label-sm text-muted">Nome Variante</label>
                            <input type="text" [(ngModel)]="exercise.variant.name" class="form-control form-control-sm"
                                [ngClass]="{'border-bottom-only bg-white': (pageStatus[PAGES.EXERCISES] == PAGEMODE.READONLY)}" id="exerciseVariantName" name="exerciseVariantName">
                        </div>
                        <div class="col-12 col-md-6 col-lg-4 form-group">
                            <label for="exerciseVariantCoefficient" class="col-form-label col-form-label-sm text-muted">Coefficente di intensità</label>
                            <input type="number" min=0.1 [(ngModel)]="exercise.variant.intensityCoefficient" class="form-control form-control-sm"
                                [ngClass]="{'border-bottom-only bg-white': (pageStatus[PAGES.EXERCISES] == PAGEMODE.READONLY)}" id="exerciseVariantCoefficient" name="exerciseVariantCoefficient">
                        </div>
                        <div class="col-12 form-group">
                            <label for="exerciseDescription" class="col-form-label col-form-label-sm text-muted">Descrizione</label>
                            <textarea [(ngModel)]="exercise.description" class="form-control form-control-sm"
                                [ngClass]="{'border-bottom-only bg-white': (pageStatus[PAGES.EXERCISES] == PAGEMODE.READONLY)}" id="exerciseDescription" name="exerciseDescription"></textarea>
                        </div>
                        <div class="col-12 col-xl-6 form-group">
                            <label for="exerciseGroups" class="col-form-label col-form-label-sm text-muted">Gruppi</label>
                            <ng-multiselect-dropdown 
                                [disabled]="(pageStatus[PAGES.EXERCISES] == PAGEMODE.READONLY)"
                                class="w-100 small" 
                                id="exerciseGroups" 
                                name="exerciseGroups" 
                                ngDefaultControl
                                [placeholder]="'Gruppi'" 
                                [settings]="groupDropdownSettings" 
                                [data]="exerciseGroupsList"
                                [(ngModel)]="exercise.groups"
                                [ngClass]="{'border-bottom-only bg-white': (pageStatus[PAGES.EXERCISES] == PAGEMODE.READONLY)}">
                                <ng-template #optionsTemplate let-item let-option="option" let-id="id" let-isSelected="isSelected">
                                    <div>
                                        <label style="color: #333; min-width: 130px; font-weight: normal;" class="m-0 text-capitalize"
                                            [ngStyle]="{ 'font-weight': isSelected? 'bold':' normal','color': getGroupItems[id].isDisabled? 'lightgrey': ''}">{{getGroupItems[id]}}</label>
                                    </div>
                                </ng-template>
                                <ng-template #optionSelectedTemplate let-option="option" let-id="id">
                                    <div class="text-capitalize">
                                        {{getGroupItems[id]}}
                                    </div>
                                </ng-template>
                            </ng-multiselect-dropdown>
                        </div>
                        <div class="col-12 col-xl-6 form-group">
                            <label for="exerciseDisciplines" class="col-form-label col-form-label-sm text-muted">Discipline</label>
                            <ng-multiselect-dropdown 
                                [disabled]="(pageStatus[PAGES.EXERCISES] == PAGEMODE.READONLY)"
                                class="w-100 small" 
                                id="exerciseDisciplines" 
                                name="exerciseDisciplines" 
                                ngDefaultControl
                                [placeholder]="'Discipline'" 
                                [settings]="disciplineDropdownSettings" 
                                [data]="exerciseDisciplinesList"
                                [(ngModel)]="exercise.disciplines"
                                [ngClass]="{'border-bottom-only bg-white': (pageStatus[PAGES.EXERCISES] == PAGEMODE.READONLY)}">
                                <ng-template #optionsTemplate let-item let-option="option" let-id="id" let-isSelected="isSelected">
                                    <div>
                                        <label style="color: #333; min-width: 130px; font-weight: normal;" class="m-0 text-capitalize"
                                            [ngStyle]="{ 'font-weight': isSelected? 'bold':' normal','color': getDisciplineItems[id].isDisabled? 'lightgrey': ''}">{{getDisciplineItems[id]}}</label>
                                    </div>
                                </ng-template>
                                <ng-template #optionSelectedTemplate let-option="option" let-id="id">
                                    <div class="text-capitalize">
                                        {{getDisciplineItems[id]}}
                                    </div>
                                </ng-template>
                            </ng-multiselect-dropdown>
                        </div>
                    </div>
                </fieldset>
            </form>

            <div class="bottom-right-absolute" *ngIf="(pageStatus[PAGES.EXERCISES] == PAGEMODE.WRITE)">
                <div (click)="saveExercise()" class="btn btn-success">SALVA</div>
            </div>
        </div>

        <!-- Loader -->
        <div class='h-100 w-100' [hidden]="!bLoading">
            <div style="position:absolute; background-color:black; opacity:50%; right:0; top:0;" class="w-100 h-100">
                <div class="container d-flex align-items-center justify-content-center w-100 h-100">
                    <div class="lds-ring"><div></div><div></div><div></div><div></div></div>
                </div>
            </div>
        </div>
    </div>

</div>