.main__training {
    .training__maincontainer {
        /* 
        .maincontainer__header {
        } 
        */

        .maincontainer__body {
            overflow: auto;
            height: calc(100vh - 153px);

            .week-tab {
                .session-tab {
                    margin: 0px !important;
                    padding: 0.5rem 1rem;
                    border: 1px solid #dee2e6;
                    border-radius: 0rem 0.25rem 0.25rem 0.25rem;
                    border-top: 0px;
                }
            }

        }

        .close {
            font-size: 1.4rem;
            opacity: 0.1;
            transition: opacity 0.3s;
        }
        .nav-link:hover > .close {
            opacity: 0.8;
        }
    }
}
