<div class="main__training row m-3">
    <div class="training__maincontainer card col-12 p-0">
        <div class="maincontainer__header card-header py-2">
            <h5 class="m-0">ALLENAMENTO {{training.type | uppercase }}</h5>
            <h6 class="m-0">
                <span>Atleta {{training.athlete.name}} {{training.athlete.surname}} ({{training.athlete.dateOfBirth | date:'d MMMM yyyy'}} &bull; {{training.athlete.bodyweight}} kg)</span>
                <span class="m-0 ml-3">Dal {{training.startDate | date:'d MMMM yyyy'}} al {{training.endDate | date:'d MMMM yyyy'}}</span>
            </h6>
        </div>
        <div class="maincontainer__body card-body p-2">
            <div *ngFor="let week of training.weeks; index as weekIndex; first as weekFirst">
                <h6>{{week.name}}</h6>
                <span>{{week.comment}}</span>
                <div *ngFor="let singleTraining of week.trainings; index as singleTrainingIndex; first as singleTrainingFirst">
                    <span>{{singleTraining.name}}</span>
                    <span>{{singleTraining.comment}}</span>
                    <form>
                        <div class="form-row py-2 position-relative border border-top-0 border-left-0 border-right-0"
                            [ngClass]="{'py-2': !outFirst, 'pb-2': outFirst}"
                            *ngFor="let exercise of singleTraining.exercises; index as exerciseIndex; first as outFirst">
                            <div class="col-2 form-group pl-3">
                                <label for="esercizio_{{exerciseIndex}}" class="col-form-label col-form-label-sm">Esercizio</label>
                                <input type="text" [(ngModel)]="exercise.name" class="form-control form-control-sm"
                                    id="esercizio_{{exerciseIndex}}" name="esercizio_{{exerciseIndex}}" placeholder="Esercizio...">
                            </div>
                            <div class="col-2 form-group pr-3">
                                <label for="tipo_{{exerciseIndex}}" class="col-form-label col-form-label-sm">Tipo</label>
                                <input type="text" [(ngModel)]="exercise.variant.name" class="form-control form-control-sm"
                                    id="tipo_{{exerciseIndex}}" name="tipo_{{exerciseIndex}}" placeholder="Tipo esercizio...">
                            </div>
                            <div class="col-8 pr-5 pl-3 border border-right-0 border-top-0 border-bottom-0">
                                <div class="form-row" *ngFor="let elem of exercise.series; first as first; index as inIndex">
                                    <div class="col-3 form-group">
                                        <label for="serie_{{exerciseIndex}}_{{inIndex}}" class="col-form-label col-form-label-sm"
                                            [hidden]="!first">Serie</label>
                                        <input type="number" min="1" [(ngModel)]="elem.seriesNumber"
                                            class="form-control form-control-sm" id="serie_{{exerciseIndex}}_{{inIndex}}"
                                            name="serie_{{exerciseIndex}}_{{inIndex}}" placeholder="Serie...">
                                    </div>
                                    <div class="col-3 form-group">
                                        <label for="rep_{{exerciseIndex}}_{{inIndex}}" class="col-form-label col-form-label-sm"
                                            [hidden]="!first">Rep</label>
                                        <input type="number" min="1" [(ngModel)]="elem.repNumber"
                                            class="form-control form-control-sm" id="rep_{{exerciseIndex}}_{{inIndex}}"
                                            name="rep_{{exerciseIndex}}_{{inIndex}}" placeholder="Rep...">
                                    </div>
                                    <div class="col-2 form-group">
                                        <label for="peso_{{exerciseIndex}}_{{inIndex}}" class="col-form-label col-form-label-sm"
                                            [hidden]="!first">Peso</label>
                                        <input type="number" min="0" [(ngModel)]="elem.weight"
                                            class="form-control form-control-sm" id="peso_{{exerciseIndex}}_{{inIndex}}"
                                            name="peso_{{exerciseIndex}}_{{inIndex}}" placeholder="Peso...">
                                    </div>
                                    <div class="col-2 form-group">
                                        <label for="misura_{{exerciseIndex}}_{{inIndex}}" class="col-form-label col-form-label-sm"
                                            [hidden]="!first">Misura</label>
                                        <select [(ngModel)]="elem.measure" class="form-control form-control-sm"
                                            id="misuraSelect_{{exerciseIndex}}_{{inIndex}}"
                                            name="misuraSelect_{{exerciseIndex}}_{{inIndex}}">
                                            <option [value]="'kg'">kg</option>
                                            <option [value]="'lbs'">lbs</option>
                                            <option [value]="'%'">% RM</option>
                                            <option [value]="'altro'">Altro</option>
                                        </select>
                                        <input type="text" [(ngModel)]="elem.measure" [hidden]="elem.measure != 'altro'"
                                            class="form-control form-control-sm" id="misura_{{exerciseIndex}}_{{inIndex}}"
                                            name="misura_{{exerciseIndex}}_{{inIndex}}" placeholder="Altro...">
                                    </div>
                                    <div class="col-2 form-group">
                                        <label for="rest_{{exerciseIndex}}_{{inIndex}}" class="col-form-label col-form-label-sm"
                                            [hidden]="!first">Rest</label>
                                        <input type="number" min="0" [(ngModel)]="elem.rest" 
                                            class="form-control form-control-sm" id="rest_{{exerciseIndex}}_{{inIndex}}" 
                                            name="rest_{{exerciseIndex}}_{{inIndex}}">
                                    </div>
                                </div>
                            </div>
                            <div class="position-absolute" style="bottom:23px; right:10px;" (click)="pushSeries(elem)"><button
                                    class="btn btn-sm btn-outline-info" ngbTooltip="Aggiungi serie x rep e peso">+</button>
                            </div>
                        </div>
                        <div class="form-row d-flex justify-content-end">
                            <button type="submit" class="btn btn-outline-info btn-small mt-2"
                                (click)="pushExercize(training.allenamento)">Aggiungi esercizio +</button>
                        </div>
                    </form>
                </div>
            </div>
            
        </div>
        <div class="card-footer d-flex justify-content-between py-2">
            <div><small>Rating: AGGIUNGERE NGB-RATING</small></div>
            <div><small>Allenamento creato da {{training.author.name}} {{training.author.surname}} il
                    {{training.creationDate | date:'d MMMM yyyy'}}</small></div>
        </div>
    </div>
</div>