<ng-template #exerciseModal let-modal>
    <div class="exercisemodal__container">
        <form id="exerciseForm" ngNativeValidate action='#' #exerciseForm="ngForm" (ngSubmit)="submit()">
            <div class="modal-header">
                <h4 class="modal-title h4" id="modal-basic-title">Crea Esercizio</h4>
                <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card h-100">
                    <div class="card-body h-100">
                        <div class="form-row m-0">
                            <div class="form-row m-0">
                                <div class="col-12 form-group">
                                    <label for="exerciseName" class="col-form-label col-form-label-sm text-muted">Nome</label>
                                    <input type="text" [(ngModel)]="newExercise.name" class="form-control form-control-sm" id="exerciseName" name="exerciseName" 
                                        required [maxlength]="EXERCISE_VALIDATIONS.MAX_EXERCISE_NAME_LENGTH" [ngClass]="{'is-invalid': !newExercise.name || newExercise.name.length > EXERCISE_VALIDATIONS.MAX_EXERCISE_NAME_LENGTH}">
                                </div>
                                <div class="col-12 col-md-6 form-group">
                                    <label for="exerciseVariantName" class="col-form-label col-form-label-sm text-muted">Nome Variante</label>
                                    <input type="text" [(ngModel)]="newExercise.variant.name" class="form-control form-control-sm" id="exerciseVariantName" name="exerciseVariantName"
                                        [maxlength]="EXERCISE_VALIDATIONS.MAX_VARIANT_NAME_LENGTH" [ngClass]="{'is-invalid': newExercise.variant.name.length > EXERCISE_VALIDATIONS.MAX_VARIANT_NAME_LENGTH}">
                                </div>
                                <div class="col-12 col-md-6 form-group">
                                    <label for="exerciseVariantCoefficient" class="col-form-label col-form-label-sm text-muted">Coefficente di intensità</label>
                                    <input type="number" min=0.1 [(ngModel)]="newExercise.variant.intensityCoefficient" class="form-control form-control-sm" id="exerciseVariantCoefficient" name="exerciseVariantCoefficient"
                                        required [min]="EXERCISE_VALIDATIONS.MIN_INTENSITY_COEFFICIENT_NUMBER" [max]="EXERCISE_VALIDATIONS.MAX_INTENSITY_COEFFICIENT_NUMBER"
                                        [ngClass]="{'is-invalid': (newExercise.variant.intensityCoefficient == null || newExercise.variant.intensityCoefficient < EXERCISE_VALIDATIONS.MIN_INTENSITY_COEFFICIENT_NUMBER || newExercise.variant.intensityCoefficient > EXERCISE_VALIDATIONS.MAX_INTENSITY_COEFFICIENT_NUMBER)}">
                                </div>
                                <div class="col-12 form-group">
                                    <label for="exerciseDescription" class="col-form-label col-form-label-sm text-muted">Descrizione</label>
                                    <textarea maxlength="60" [(ngModel)]="newExercise.description" class="form-control form-control-sm" id="exerciseDescription" name="exerciseDescription"
                                        [maxlength]="EXERCISE_VALIDATIONS.MAX_EXERCISE_DESCRIPTION_LENGTH" [ngClass]="{'is-invalid': newExercise.description.length > EXERCISE_VALIDATIONS.MAX_EXERCISE_DESCRIPTION_LENGTH}">
                                    </textarea>
                                </div>
                                <div class="col-12 col-xl-6 form-group">
                                    <label for="exerciseGroups" class="col-form-label col-form-label-sm text-muted">Gruppi</label>
                                    <ng-multiselect-dropdown 
                                        class="w-100 small" 
                                        id="exerciseGroups" 
                                        name="exerciseGroups" 
                                        ngDefaultControl
                                        [placeholder]="'Gruppi'" 
                                        [settings]="groupDropdownSettings" 
                                        [data]="exerciseGroupsList"
                                        [(ngModel)]="newExercise.groups">
                                        <ng-template #optionsTemplate let-item let-option="option" let-id="id" let-isSelected="isSelected">
                                            <div>
                                                <label style="color: #333; min-width: 130px; font-weight: normal;" class="m-0 text-capitalize"
                                                    [ngStyle]="{ 'font-weight': isSelected? 'bold':' normal','color': getGroupItems[id].isDisabled? 'lightgrey': ''}">{{getGroupItems[id]}}</label>
                                            </div>
                                        </ng-template>
                                        <ng-template #optionSelectedTemplate let-option="option" let-id="id">
                                            <div class="text-capitalize">
                                                {{getGroupItems[id]}}
                                            </div>
                                        </ng-template>
                                    </ng-multiselect-dropdown>
                                </div>
                                <div class="col-12 col-xl-6 form-group">
                                    <label for="exerciseDisciplines" class="col-form-label col-form-label-sm text-muted">Discipline</label>
                                    <ng-multiselect-dropdown 
                                        class="w-100 small" 
                                        id="exerciseDisciplines" 
                                        name="exerciseDisciplines" 
                                        ngDefaultControl
                                        [placeholder]="'Discipline'" 
                                        [settings]="disciplineDropdownSettings" 
                                        [data]="exerciseDisciplinesList"
                                        [(ngModel)]="newExercise.disciplines">
                                        <ng-template #optionsTemplate let-item let-option="option" let-id="id" let-isSelected="isSelected">
                                            <div>
                                                <label style="color: #333; min-width: 130px; font-weight: normal;" class="m-0 text-capitalize"
                                                    [ngStyle]="{ 'font-weight': isSelected? 'bold':' normal','color': getDisciplineItems[id].isDisabled? 'lightgrey': ''}">{{getDisciplineItems[id]}}</label>
                                            </div>
                                        </ng-template>
                                        <ng-template #optionSelectedTemplate let-option="option" let-id="id">
                                            <div class="text-capitalize">
                                                {{getDisciplineItems[id]}}
                                            </div>
                                        </ng-template>
                                    </ng-multiselect-dropdown>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer" style="overflow:visible">
                <button type="submit" ngbAutofocus class="btn btn-success" [ngClass]="{'disabled header-invalid cursor-not-allowed': !isExerciseValidToSubmit(newExercise)}" 
                    ngbTooltip="Alcuni input presentano valori errati" [disableTooltip]="isExerciseValidToSubmit(newExercise)">CREA</button>
            </div>
        </form>
        
    </div>
</ng-template>

<div (click)="openExerciseModal(exerciseModal)">
    <ng-content></ng-content>
</div>

