<ng-template #exerciseModal let-modal>
    <div class="exercisemodal__container">
        <div class="modal-header">
            <h4 class="modal-title h4" id="modal-basic-title">Crea Esercizio</h4>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="card h-100">
                <div class="card-body h-100">
                    <form>
                        <div class="form-row m-0">
                            <div class="col-12 form-group">
                                <label for="exerciseName" class="col-form-label col-form-label-sm text-muted">Nome</label>
                                <input type="text" required maxlength="30" [(ngModel)]="newExercise.name" class="form-control form-control-sm"
                                    id="exerciseName" name="exerciseName">
                            </div>
                            <div class="col-12 col-md-6 form-group">
                                <label for="exerciseVariantName" class="col-form-label col-form-label-sm text-muted">Nome Variante</label>
                                <input type="text" maxlength="30" [(ngModel)]="newExercise.variant.name" class="form-control form-control-sm"
                                    id="exerciseVariantName" name="exerciseVariantName">
                            </div>
                            <div class="col-12 col-md-6 form-group">
                                <label for="exerciseVariantCoefficient" class="col-form-label col-form-label-sm text-muted">Coefficente di intensità</label>
                                <input type="number" min=0.1 [(ngModel)]="newExercise.variant.intensityCoefficient" class="form-control form-control-sm"
                                    id="exerciseVariantCoefficient" name="exerciseVariantCoefficient">
                            </div>
                            <div class="col-12 form-group">
                                <label for="exerciseDescription" class="col-form-label col-form-label-sm text-muted">Descrizione</label>
                                <textarea maxlength="60" [(ngModel)]="newExercise.description" class="form-control form-control-sm"
                                    id="exerciseDescription" name="exerciseDescription"></textarea>
                            </div>
                            <div class="col-12 col-xl-6 form-group">
                                <label for="exerciseGroups" class="col-form-label col-form-label-sm text-muted">Gruppi</label>
                                <ng-multiselect-dropdown 
                                    class="w-100 small" 
                                    id="exerciseGroups" 
                                    name="exerciseGroups" 
                                    ngDefaultControl
                                    [placeholder]="'Gruppi'" 
                                    [settings]="groupDropdownSettings" 
                                    [data]="exerciseGroupsList"
                                    [(ngModel)]="newExercise.groups">
                                    <ng-template #optionsTemplate let-item let-option="option" let-id="id" let-isSelected="isSelected">
                                        <div>
                                            <label style="color: #333; min-width: 130px; font-weight: normal;" class="m-0 text-capitalize"
                                                [ngStyle]="{ 'font-weight': isSelected? 'bold':' normal','color': getGroupItems[id].isDisabled? 'lightgrey': ''}">{{getGroupItems[id]}}</label>
                                        </div>
                                    </ng-template>
                                    <ng-template #optionSelectedTemplate let-option="option" let-id="id">
                                        <div class="text-capitalize">
                                            {{getGroupItems[id]}}
                                        </div>
                                    </ng-template>
                                </ng-multiselect-dropdown>
                            </div>
                            <div class="col-12 col-xl-6 form-group">
                                <label for="exerciseDisciplines" class="col-form-label col-form-label-sm text-muted">Discipline</label>
                                <ng-multiselect-dropdown 
                                    class="w-100 small" 
                                    id="exerciseDisciplines" 
                                    name="exerciseDisciplines" 
                                    ngDefaultControl
                                    [placeholder]="'Discipline'" 
                                    [settings]="disciplineDropdownSettings" 
                                    [data]="exerciseDisciplinesList"
                                    [(ngModel)]="newExercise.disciplines">
                                    <ng-template #optionsTemplate let-item let-option="option" let-id="id" let-isSelected="isSelected">
                                        <div>
                                            <label style="color: #333; min-width: 130px; font-weight: normal;" class="m-0 text-capitalize"
                                                [ngStyle]="{ 'font-weight': isSelected? 'bold':' normal','color': getDisciplineItems[id].isDisabled? 'lightgrey': ''}">{{getDisciplineItems[id]}}</label>
                                        </div>
                                    </ng-template>
                                    <ng-template #optionSelectedTemplate let-option="option" let-id="id">
                                        <div class="text-capitalize">
                                            {{getDisciplineItems[id]}}
                                        </div>
                                    </ng-template>
                                </ng-multiselect-dropdown>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="modal-footer" style="overflow:visible">
            <button class="btn btn-success" ngbAutofocus [disabled]="newExercise.name == ''" style="position:relative;" (click)="modal.close(newExercise)">
                <span>Crea</span> 
                <div style="position: absolute; right: 0px; bottom: 0px; width:100%; height:100%;" ngbTooltip="Campo 'nome' vuoto" placement="top" [hidden]="newExercise.name != ''"></div>
            </button>
        </div>
    </div>
</ng-template>

<div (click)="openExerciseModal(exerciseModal)">
    <ng-content></ng-content>
</div>

