<ng-template #policyModal let-modal>
    <div class="policymodal__container">
        <div class="modal-header">
            <h4 class="modal-title h4">Privacy Policy</h4>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div id="policyModalBody" class="modal-body">

            <!-- Terms of use -->
            <h4>Condizioni di utilizzo</h4>
            <p>
                I contenuti offerti dal sito sono sottoposti ad un attento controllo da parte del Titolare. In nessun
                caso il Titolare potrà essere ritenuto responsabile dei danni di qualsiasi natura causati direttamente o
                indirettamente dall'accesso al sito web, dall'incapacità o impossibilità di accedervi, dal Vostro
                affidamento e utilizzo delle notizie in esso contenute. Il Titolare si riserva il diritto di modificare
                i contenuti del sito in qualsiasi momento e senza alcun preavviso e non assume alcuna responsabilità in
                ordine al contenuto dei siti web a cui è possibile accedere tramite i collegamenti posti all'interno del
                sito stesso, forniti come semplice servizio agli utenti della rete. Il fatto che fornisca questi
                collegamenti non implica necessariamente l'approvazione del contenuto dei siti stessi, sulla cui qualità
                e grafica essa declina ogni responsabilità.
            </p>

            <hr class="my-4">

            <!-- Privacy Policy  -->
            <h4>Privacy Policy</h4>

            <h6>Tipologie di Dati raccolti</h6>
            <p>
                Fra i Dati Personali raccolti da questo sito, in modo autonomo o tramite terze parti, ci sono:
                nome, cognome, sesso, luogo di nascita, data di nascita, residenza, telefono, email, siti web, Cookie
                (tecnici e statistici anonimi), varie tipologie di Dati.

                I Dati Personali possono essere liberamente forniti dall'Utente. Alcuni dati richiesti da questo sito
                sono obbligatori. Se l’Utente rifiuta di comunicarli, potrebbe essere impossibile per
                questo sito fornire il Servizio.

                L’eventuale utilizzo di Cookie - o di altri strumenti di tracciamento - da parte di questo sito
                ha la finalità di fornire il Servizio richiesto dall'Utente, oltre alle ulteriori finalità descritte
                nella Cookie Policy.

                L'Utente si assume la responsabilità dei Dati Personali di terzi ottenuti, pubblicati o condivisi
                mediante questo sito e garantisce di avere il diritto di comunicarli o diffonderli, liberando il
                Titolare da qualsiasi responsabilità verso terzi.
            </p>
            <h6>Modalità del trattamento dei Dati raccolti</h6>
            <p>
                I Dati Personali inseriti in questo sito sono accessibili dagli altri Utenti del sito.
                E' possibile limitare la visibilità di tali Dati Personali agli altri utenti del sito mediante le
                impostazioni di Privacy. Ogni Utente può modificare e/o cancellare i propri dati personali in qualunque
                momento. La cancellazione dei Dati personali avviene nel momento in cui l'Utente cancella il suo Account
                sul Sito. L'operazione non è reversibile. Dopo la cancellazione dell'Account, i Dati Personali
                dell'Utente potrebbero comunque essere conservati per un ulteriore periodo di tempo da parte del
                Titolare, solo per fini Giuridici. In quest'ultimo caso, i Dati Personali non saranno comunque visibili
                da parte degli altri Utenti.
                Il Titolare adotta le opportune misure di sicurezza volte ad impedire l’accesso, la divulgazione, la
                modifica o la distruzione non autorizzate dei Dati Personali.
            </p>
            <h6>Periodo di conservazione</h6>
            <p>
                I Dati sono trattati e conservati per il tempo richiesto dalle finalità per le quali sono stati
                raccolti.
            </p>
            <h6>Finalità del Trattamento dei Dati raccolti</h6>
            <p>
                I Dati dell’Utente sono raccolti per consentire al Titolare di fornire il Servizio, adempiere agli
                obblighi di legge, rispondere a richieste o azioni esecutive, tutelare i propri diritti ed interessi (o
                quelli di Utenti o di terze parti), individuare eventuali attività dolose o fraudolente, nonché per le
                seguenti finalità: Statistica, Contattare l'Utente, registrazione sessioni, Visualizzazione di contenuti
                da piattaforme esterne, Interazione con piattaforme
                di raccolta dati e altre terze parti, Interazione con social network e piattaforme esterne.

                Per ottenere informazioni dettagliate sulle finalità del trattamento e sui Dati Personali trattati per
                ciascuna finalità, l’Utente può fare riferimento alla sezione a seguire.
            </p>
            <h6>Dettagli sul trattamento dei Dati Personali</h6>
            <p>
                Anagrafica Utente. L’Utente, compilando con i propri Dati la sezione Profilo Utente, acconsente al loro
                utilizzo all’interno della piattaforma e quindi alla possibilità di condivisione con altri utenti della
                piattaforma. Tramite la stessa sezione è possibile limitare parzialmente tale condivisione (Impostazioni
                Privacy).
                <li>Dati Personali trattati: nome, cognome, sesso, luogo di nascita, data di nascita, residenza,
                    telefono,
                    email, peso corporeo, luoghi frequentati.</li>
            </p>
            <p>
                Gestione contatti e invio di messaggi. Questo tipo di servizi consente di gestire un database di
                contatti email, contatti telefonici o contatti di qualunque altro tipo, utilizzati per comunicare con
                l’Utente. Questi servizi potrebbero inoltre consentire di raccogliere dati relativi alla data e all’ora
                di visualizzazione dei messaggi da parte dell’Utente.
            </p>
            <p>
                Interazione con social network e piattaforme esterne. Questo tipo di servizi permette di effettuare
                interazioni con i social network, o con altre piattaforme esterne, direttamente dalle pagine di questo
                sito. Le interazioni e le informazioni acquisite da questo sito sono in ogni caso
                soggette alle impostazioni privacy dell’Utente relative ad ogni social network. Questo tipo di servizio
                potrebbe comunque raccogliere dati sul traffico per le pagine dove il servizio è installato, anche
                quando gli Utenti non lo utilizzano. Si raccomanda di disconnettersi dai rispettivi servizi per
                assicurarsi che i dati elaborati su questo sito non vengano ricollegati al profilo dell'Utente.
            </p>
            <p>
                Statistica. I servizi contenuti nella presente sezione permettono al Titolare di
                monitorare e analizzare i dati di traffico e servono a tener traccia del comportamento dell’Utente. In
                particolare, viene utilizzato Google Analytics, un servizio di analisi web fornito da Google Inc.
                (“Google”). Google utilizza i Dati Personali raccolti allo scopo di tracciare ed esaminare l’utilizzo di
                questo sito, compilare report e condividerli con gli altri servizi sviluppati da Google. Google
                potrebbe utilizzare i Dati Personali per contestualizzare e personalizzare gli annunci del proprio
                network pubblicitario. Questo sito fa uso di Google Analytics con IP anonimizzato, perciò il tuo
                indirizzo IP sarà sempre anonimo nei confronti della raccolta dati.
            </p>
            <h6>Ulteriori informazioni sul trattamento</h6>
            <p>
                I Dati Personali dell’Utente possono essere utilizzati da parte del Titolare in giudizio o nelle fasi
                preparatorie alla sua eventuale instaurazione per la difesa da abusi nell'utilizzo di questo
                sito o dei Servizi connessi da parte dell’Utente.
                L’Utente dichiara di essere consapevole che il Titolare potrebbe essere obbligato a rivelare i Dati per
                ordine delle autorità pubbliche.
            </p>
            <h6>Log di sistema e manutenzione</h6>
            <p>
                Per necessità legate al funzionamento ed alla manutenzione, questo sito e gli eventuali servizi
                terzi da essa utilizzati potrebbero raccogliere log di sistema, ossia file che registrano le interazioni
                e che possono contenere anche Dati Personali, quali l’indirizzo IP Utente.
            </p>
            <h6>Informazioni non contenute in questa policy</h6>
            <p>
                Ulteriori informazioni in relazione al trattamento dei Dati Personali potranno essere richieste in
                qualsiasi momento al Titolare utilizzando gli estremi di contatto.
            </p>
            <h6>Modifiche a questa privacy policy</h6>
            <p>
                Il Titolare si riserva il diritto di apportare modifiche alla presente privacy policy in
                qualunque momento notificandolo agli Utenti su questa pagina e, se possibile, su questo sito. Si
                prega dunque di consultare con frequenza questa pagina, facendo riferimento alla data di ultima modifica
                indicata in fondo.

                Qualora le modifiche interessino trattamenti la cui base giuridica è il consenso, il Titolare provvederà
                a raccogliere nuovamente il consenso dell’Utente, se necessario.
            </p>
            <h6>Definizioni e riferimenti legali</h6>
            <p>
                Dati Personali (o Dati) <br>
                Costituisce dato personale qualunque informazione che, direttamente o indirettamente, anche in
                collegamento con qualsiasi altra informazione, ivi compreso un numero di identificazione personale,
                renda identificata o identificabile una persona fisica.

                <br><br>

                Dati di Utilizzo <br>
                Sono le informazioni raccolte automaticamente attraverso questo sito (anche da applicazioni di
                parti terze integrate in questo sito), tra cui: gli indirizzi IP o i nomi a dominio dei computer
                utilizzati dall’Utente che si connette con questo sito, gli indirizzi in notazione URI (Uniform
                Resource Identifier).

                <br><br>

                Utente <br>
                L'individuo che utilizza questo sito che, salvo ove diversamente specificato, coincide con
                l'Interessato.

                <br><br>

                Interessato <br>
                La persona fisica cui si riferiscono i Dati Personali.

                <br><br>

                Titolare (o Titolare) <br>
                La persona fisica o giuridica, l'autorità pubblica, il servizio o altro organismo che, singolarmente o
                insieme ad altri, determina le finalità e i mezzi del trattamento di dati personali e gli strumenti
                adottati, ivi comprese le misure di sicurezza relative al funzionamento ed alla fruizione di questo
                sito. Il Titolare, salvo quanto diversamente specificato, è il titolare di questo sito.

                <br><br>

                Sito/Applicazione <br>
                Lo strumento hardware o software mediante il quale sono raccolti e trattati i Dati Personali degli
                Utenti.

                <br><br>

                Servizio <br>
                Il Servizio fornito da questo sito così come definito nei relativi termini (se presenti) su
                questo sito/applicazione.

                <br><br>

                Unione Europea (o UE) <br>
                Salvo ove diversamente specificato, ogni riferimento all’Unione Europea contenuto in questo documento si
                intende esteso a tutti gli attuali stati membri dell’Unione Europea e dello Spazio Economico Europeo.

                <br><br>

                Cookie <br>
                I Cookie sono Strumenti di Tracciamento che consistono in piccole porzioni di dati conservate
                all'interno del browser dell'Utente.

                <br><br>

                Strumento di Tracciamento <br>
                Per Strumento di Tracciamento s’intende qualsiasi tecnologia - es. Cookie, identificativi univoci, web
                beacons, script integrati, e-tag e fingerprinting - che consenta di tracciare gli Utenti, per esempio
                raccogliendo o salvando informazioni sul dispositivo dell’Utente.
            </p>

            <hr class="my-4">

            <!-- Cookie Policy -->
            <h4>Cookie Policy</h4>
            <p>
                Il parlamento Europeo ha emanato nel maggio 2011 una nuova legge sulla privacy che obbliga i siti
                internet a richiedere il permesso degli utenti ad utilizzare i cookies relativi ai servizi offerti. La
                EU Cookie Law (legge europea sui cookies) è stata approvata anche in Italia entrando in vigore un anno
                dopo, il 1 giugno 2012 con decreto legislativo 69/2012 e 70/2012. I cookie sono delle piccole stringhe
                di testo (non necessariamente file all'interno del computer) inviate da un server a un client (quindi da
                un sito al visitatore) e successivamente rimandate indietro per la lettura da parte del server. Sono
                utilizzati in generale per ricordare le preferenze, i dati e le informazioni dei visitatori su quel
                particolare sito web (autenticazioni automatiche, lingua, grandezza e tipo di testo, località e molto
                altro), ogni informazione utile alla navigazione (o anche per fini statistici, e qui la legge intende
                agire) viene salvata, memorizzata e utilizzata ad ogni visita. Ne esistono di vari tipi:
            </p>
            <ul>
                <li>di sessione (che si eliminano alla chiusura del browser) o persistenti (che si eliminano dopo un
                    certo periodo fissato)</li>
                <li>first party (che sono soggetti e leggibili al solo dominio che li ha creati)</li>
                <li>third party (che sono creati e soggetti a domini esterni a quello cui stiamo visitando). I third
                    party usati in questo sito sono connessi all’uso di Google Analytics (ultima categoria), un servizio
                    di
                    analisi di siti web, che utilizza dei "cookies" (file di testo che vengono depositati sul computer
                    del
                    navigatore per consentire di analizzare come gli utenti utilizzano il sito web). Le informazioni
                    generate dal cookie sull'utilizzo del sito web da parte dell'utente (ivi compreso indirizzo IP)
                    verranno
                    trasmesse e depositate presso i server di Google Analytics. Google Analytics utilizzerà queste
                    informazioni allo scopo di tracciare e esaminare l'utilizzo del sito web, compilare report sulle
                    attività del sito web per gli operatori del sito web e fornire altri servizi relativi alle attività
                    del
                    sito web e all'utilizzo di Internet. Google Analytics non assocerà l'indirizzo IP dell'utente a
                    nessun
                    altro dato posseduto da Google Analytics. Queste informazioni sono raccolte solamente per scopi
                    statistici e non vengono usate per identificare gli utenti.</li>
            </ul>
            <p>
                I cookies utilizzati in questo sito sono quelli di sessione, persistenti, first party e third party. Di
                questi ultimi, vengono usati solo quelli relativi al servizio Google Analytics in forma IP anonimo (come
                già indicato).

                Se l’utente si registra al sito, può utilizzare cookies che raccolgono dati personali al fine di
                identificare l’utente in occasione di visite successive e di facilitare l'accesso - login al sito (per
                esempio conservando username e password dell’utente) e la navigazione sullo stesso.

                Il Sito potrebbe contenere link ad altri siti. Il Titolare non ha alcun accesso o controllo su
                cookies, web bacon e altre tecnologie di tracciamento usate sui siti di terzi cui l’utente può accedere
                dal sito, sulla disponibilità, su qualsiasi contenuto e materiale che è pubblicato o ottenuto attraverso
                tali siti e sulle relative modalità di trattamento dei dati personali; Il Titolare, a questo
                proposito, considerata la mole di tali siti terzi, declina espressamente ogni relativa responsabilità.

                La maggior parte dei browser accetta automaticamente i cookies, ma l’utente normalmente può modificare
                le impostazioni per disabilitare tale funzione. E' possibile bloccare tutte le tipologie di cookies,
                oppure accettare di riceverne soltanto alcuni e disabilitarne altri, attraverso la sezione “Opzioni” o
                “Preferenze” del proprio browser. Quindi l'utente può rifiutarsi di usare i cookies selezionando
                l'impostazione appropriata sul proprio browser, ma ciò potrebbe impedirgli di utilizzare correttamente
                funzionalità di questo sito web. E’ possibile anche eliminare i cookie utilizzando le apposite funzioni
                del proprio browser.

                Utilizzando il presente sito web, l'utente acconsente al trattamento dei suoi dati da parte di Google
                Analytics (cookie di terze parti) per le modalità e i fini sopraindicati.
            </p>

            <hr class="my-4">

            <h4>Titolare dei Dati</h4>
            <p>
                Alessandro Messina<br>
                Località: Riposto (CT)<br>
                Email: postmaster@mytrainingplatform.it<br>
            </p>

        </div>
        <div class="modal-footer" *ngIf="!bLogged">
            <button class="btn btn-primary" ngbAutofocus (click)="modal.close(true)">Accetta</button>
            <button class="btn btn-secondary" (click)="modal.dismiss()">Rifiuta</button>
        </div>
    </div>
</ng-template>

<div (click)="openPolicyModal(policyModal)">
    <ng-content></ng-content>
</div>