<div class="main__account row m-0">

    <div class="account__maincontainer col-12 p-0">

        <!-- NAVBAR -->
        <div class="nav-container">
            <nav class="navbar navbar-expand navbar-dark bg-black-custom">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"
                    aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
                    <a class="navbar-brand mr-2 d-none d-sm-inline-block" href="account/login#top-elem"><img src="assets/icons/favicon-white.png" style="max-height:35px; width:auto;"></a>
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item" (click)="setActiveElem('home')" [ngClass]="{'active': navbarActiveList['home']}">
                            <a class="nav-link" href="{{(router.url.split('#')[0])}}#top-elem">Home</a>
                        </li>
                        <li class="nav-item" (click)="setActiveElem('services')" [ngClass]="{'active': navbarActiveList['services']}">
                            <a class="nav-link" href="{{(router.url.split('#')[0])}}#services-elem">Servizi</a>
                        </li>
                        <li class="nav-item" (click)="setActiveElem('contacts')" [ngClass]="{'active': navbarActiveList['contacts']}">
                            <a class="nav-link" href="{{(router.url.split('#')[0])}}#contacts-elem">Contatti</a>
                        </li>
                        <li class="nav-item ml-auto" (click)="setActiveElem('login')" [ngClass]="{'active': navbarActiveList['login']}">
                            <a class="nav-link" [routerLink]="['/account/login']" href="" fragment="login-elem">Login</a>
                        </li>
                        <li class="nav-item ml-auto" (click)="setActiveElem('register')" [ngClass]="{'active': navbarActiveList['register']}">
                            <a class="nav-link" [routerLink]="['/account/register']" href="" fragment="login-elem">Registrati</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>

        <!-- HEADER -->
        <section id="top-elem" class="maincontainer__header d-flex align-items-center text-white p-2 p-lg-5">
                <div class="row w-100 m-0 d-flex align-items-center justify-content-left h-60">
                    <div class="col-12 col-lg-7 homepage-main-description">
                        <h1 class="font-header-homepage mb-4">My Training Platform</h1>
                        <h4 class="d-none d-lg-block font-description-homepage">La piattaforma per la gestione degli allenamenti per atleti e allenatori</h4>
                        <h4 class="d-none d-lg-block font-description-homepage">Sviluppata con le più innovative tecnologie da esperti dello sport come te</h4>
                        <h4 class="d-lg-none font-description-homepage">La piattaforma per la gestione degli allenamenti per atleti e allenatori. Sviluppata con le più innovative tecnologie da esperti dello sport come te</h4>
                    </div>
                    <!-- Router Outlet Elem -->
                    <div class="col-12 col-lg-5 mb-5 mb-lg-0" id="login-elem">
                        <div class="homepage-router-outlet border-dark w-100 radius-5">
                            <router-outlet></router-outlet>
                        </div>
                    </div>
                </div>
            <div class="h-40">&nbsp;</div>
        </section>

        <!-- MAIN CONTAINER -->
        <section class="maincontainer__body py-3 py-lg-5">
            <!-- Services -->
            <div class="row m-0 body__element pb-0" id="services-elem">
                <h1 class="p-4">Servizi</h1>
            </div>
            <div class="row m-0 body__element">
                <div class="col-12">
                    <p>Come <em><b>coach</b></em>, crea i tuoi allenamenti e assegnali ai tuoi atleti! Hai piena libertà nel processo creativo (esercizi, sessioni, settimane, etc.)</p>
                    <img src="assets/img/01-edit-training-preview.png">
                </div>
            </div>
            <div class="row m-0 body__element">
                <div class="col-12">
                    <p>Come <em><b>coach</b></em> modifica il formato degli allenamenti come preferisci prima di inviarli ai tuoi atleti!</p>
                    <img src="assets/img/02-editor-training-preview.png">
                </div>
            </div>
            <div class="row m-0 body__element">
                <div class="col-12">
                    <p>Come <em><b>atleta</b></em>, visualizza gli allenamenti che i tuoi coach ti hanno assegnato!</p>
                    <img src="assets/img/03-read-training-preview.png">
                </div>
            </div>
            <div class="row m-0 body__element">
                <div class="col-12">
                    <p>Per ogni allenamento visualizza le statistiche relative alle intensità dell'allenamento e altro!</p>
                    <img src="assets/img/04-stats-training-preview.png">
                </div>
            </div>
            <div class="row m-0 body__element">
                <div class="col-12">
                    <p>Come<em><b> coach</b></em>, crea i tuoi esercizi in modo da usarli durante il processo di creazione degli allenamenti!!</p>
                    <img src="assets/img/05-create-exercise-preview.png">
                </div>
            </div>
        </section>

        <!-- FOOTER -->
        <footer class="maincontainer__footer footer px-2 py-5 px-lg-5" id="contacts-elem">
            <div class="row m-0 mb-5">
                <div class="col-lg-3"></div>
                <div class="col-lg-3">
                    <aside>
                        <h6 class="text-uppercase">About Me</h6>
                        <div>
                            <p>Sono un Ingegnere Informatico e un Powerlifter. Pratico sport da quando ho 6 anni. Penso che lo sport sia un pilastro fondamentale per la crescita mentale e fisica.</p>
                        </div>
                    </aside>
                </div>
                <div class="col-lg-3 mt-5 mt-lg-0">
                    <aside>
                        <h6 class="text-uppercase">Contatti</h6>
                        <div>
                            <p style="word-break: break-all;">
                                Posizione: Riposto (CT), Italia<br>
                                E-mail: alessandromessina95@hotmail.com<br>
                                <!-- Phone: n.d.<br> -->
                            </p>
                        </div>
                        <div>
                            <span class="mr-2">Mi puoi trovare su</span>
                            <a href="https://www.linkedin.com/feed/" target="blank" class="mr-2"><span class="fa fa-linkedin"></span></a>
                            <a href="https://www.instagram.com/alessandro_messina95/" target="blank" class="mr-2"><span class="fa fa-instagram"></span></a>
                            <a href="https://twitter.com/alessandro_mess" target="blank" class="mr-2"><span class="fa fa-twitter"></span></a>
                            <a href="https://github.com/Taletex" target="blank"><span class="fa fa-github"></span></a>
                        </div>
                    </aside>
                </div>
                <div class="col-lg-3 mt-5 mt-lg-0"></div>
            </div>
            <div class="row m-0">
                <div class="col-lg-12 d-flex align-items-center justify-content-center">
                    <span class="text-center">© 2020 Alessandro Messina, All Rights Reserved.</span>
                </div>
            </div>
        </footer>

    </div>

</div>