<div class="d-flex p-0 m-0" style="height:100vh!important">

  <div class="sidebar-content p-0" *ngIf="account && account.jwtToken" [ngClass]="{'expanded': sidebarOptions.bExpanded}">
    <app-sidebar [(options)]="sidebarOptions"></app-sidebar>
  </div>

  <div class="main-content scrollbar bg-light w-100 h-100">
    <app-navbar *ngIf="account && account.jwtToken" [(sidebarOptions)]="sidebarOptions"></app-navbar>
    <div [@routeAnimations]="prepareRoute(outlet)">
      <router-outlet class="h-100 w-100" #outlet="outlet"></router-outlet>
    </div>
  </div>

</div>