<ng-template #sessionModal let-modal>
    <div id="sessionModal" class="sessionmodal__container">
        <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title" *ngIf="training != null && options.currentViewType == VIEW_TYPES.TRAINING">Allenamento <a class="badge badge-info" href="trainings/{{training._id}}">{{training._id}}</a></h4>
            <h4 class="modal-title" id="modal-basic-title" *ngIf="week != null && options.currentViewType == VIEW_TYPES.WEEK">Settimana {{weekIndex+1}} - Allenamento <a class="badge badge-info" href="trainings/{{training._id}}">{{training._id}}</a></h4>
            <h4 class="modal-title" id="modal-basic-title" *ngIf="session != null && options.currentViewType == VIEW_TYPES.SESSION">Sessione {{session.name}} (Sessione {{sessionIndex+1}} - Settimana {{weekIndex+1}} - Allenamento <a class="badge badge-info" href="trainings/{{training._id}}">{{training._id}}</a>)</h4>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div id="sessionModalBody" class="modal-body">
            <app-training-view *ngIf="training != null && options.currentViewType == VIEW_TYPES.TRAINING" [(training)]="training" [(options)]="options"></app-training-view>
            <app-week-view *ngIf="week != null && options.currentViewType == VIEW_TYPES.WEEK" [(week)]="week" [(options)]="options"></app-week-view>
            <app-session-view *ngIf="session != null && options.currentViewType == VIEW_TYPES.SESSION" [(session)]="session" [(options)]="options"></app-session-view>
        </div>
        <div class="modal-footer">
            <div class="position-relative d-flex">
                <div class="dropdown dropup">
                    <button class="btn btn-secondary dropdown-toggle text-capitalize" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      {{options.currentViewType}}
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                      <button class="dropdown-item" (click)="setView(VIEW_TYPES.SESSION)" *ngIf="session != null" [ngClass]="{'active': options.currentViewType == VIEW_TYPES.SESSION}">Sessione</button>
                      <button class="dropdown-item" (click)="setView(VIEW_TYPES.WEEK)" *ngIf="week != null" [ngClass]="{'active': options.currentViewType == VIEW_TYPES.WEEK}">Settimana</button>
                      <button class="dropdown-item" (click)="setView(VIEW_TYPES.TRAINING)" *ngIf="training != null" [ngClass]="{'active': options.currentViewType == VIEW_TYPES.TRAINING}">Allenamento</button>
                    </div>
                </div>
                <div class="dropdown dropup ml-2">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="formatDropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" (click)="initOptions()">
                      Formattazione
                    </button>
                    <div class="dropdown-menu" aria-labelledby="formatDropdownMenuButton">
                      <a *ngIf="options.currentViewType == VIEW_TYPES.TRAINING" class="dropdown-item cursor-pointer d-flex align-items-center justify-content-center">
                        <span>Settimane per riga: </span><input type="number" class="ml-2" [(ngModel)]="options.format.weeksForRow" min="1" max="8" (ngModelChange)="clampWeeksForRowValue()">
                      </a>
                      <a class="dropdown-item cursor-pointer">
                          <button (click)="options.format.seriesFormat = 'seriesxrep'" class="btn btn-sm btn-outline-secondary">Serie x Rep</button>
                          <button (click)="options.format.seriesFormat = 'repxseries'" class="btn btn-sm btn-outline-secondary ml-2">Rep x Series</button>
                      </a>
                      <a class="dropdown-item cursor-pointer" (click)="setDefaultoptions()">Ripristina originale</a>
                    </div>
                </div>
                <button class="btn btn-info ml-2" (click)="printSession()">Stampa</button>
                <!-- <button class="btn btn-success ml-2" ngbAutofocus (click)="downloadSession()">Scarica</button> -->
            </div>
        </div>
    </div>
</ng-template>

<div (click)="openSessionModal(sessionModal)">
    <ng-content></ng-content>
</div>