<div class="uploadfilecontainer m-0 w-100" [ngClass]="{'uploadfilecontainer-disabled': imgInputDisabled || files.length >= 3}" (click)="fileInput.click()" appDragDrop (onFileDropped)="uploadFile($event)">
    <input hidden type="file" #fileInput (change)="uploadFile($event.target.files)" accept="image/*" multiple [disabled]="imgInputDisabled || files.length >= 3">
    <div class="uploaded-img-container p-3 h-100 d-sm-flex flex-column flex-sm-row text-center overflow-auto align-items-center justify-content-center">
        <img style="width:100px; height: auto;" class="mr-2 mt-2 mt-sm-0" *ngFor="let img of imgList; first as firstImg" src="{{img.src}}" alt="{{img.title}}">
        <div class="d-flex flex-column align-items-center justify-content-center" *ngIf="imgList.length == 0">
            <img src="assets/icons/actions/upload.svg" width="100px" height="auto">
            <span class="upload-text">Trascina le immagini qui o clicca</span>
        </div>
    </div>
</div>
<div class="files-list mx-0 w-100 align-items-center" *ngFor="let file of files;index as i">
    <div class="truncate-fullwidth font-size-sm-8">{{file}}</div>
    <button class="delete-file" (click)="deleteAttachment(i)">
        <img src="assets/icons/actions/garbage-can.svg" class="standard-icon-md">
    </button>
</div>