<div class="main__notifications row m-3">

    <!-- FILTERS -->
    <div class="notifications__filters col-12 row mb-2 mx-0 my-0 plx-2 border">
        <div class="col-1 d-flex align-items-center border border-left-0 border-top-0 border-bottom-0">
            <h6 class="m-0">Filtri</h6><span class="fa fa-filter ml-2" style="font-size: 20px;"></span>
        </div>
        <div class="col-3 form-group pl-2 pr-1 m-0">
            <label class="col-form-label col-form-label-sm p-0 text-muted">Tipo</label>
            <div class="input-group">
                <input type="text" [(ngModel)]="filters.type" class="form-control form-control-sm" (keyup)="filterNotifications($event)"
                    id="filterType" name="filterType" placeholder="Tipo...">
            </div>
        </div>
        <div class="col-3 form-group pl-2 pr-1 m-0">
            <label class="col-form-label col-form-label-sm p-0 text-muted">Mittente Richiesta</label>
            <div class="input-group">
                <input type="text" [(ngModel)]="filters.from" class="form-control form-control-sm" (keyup)="filterNotifications($event)"
                    id="filterFrom" name="filterFrom" placeholder="Mittente richiesta...">
            </div>
        </div>
        <div class="col-3 form-group pl-2 pr-1 m-0">
            <label class="col-form-label col-form-label-sm p-0 text-muted">Messaggio</label>
            <div class="input-group">
                <input type="text" [(ngModel)]="filters.message" class="form-control form-control-sm" (keyup)="filterNotifications($event)"
                    id="filterMessage" name="filterMessage" placeholder="Messaggio...">
            </div>
        </div>
    </div>

    <!-- MAIN CONTAINER -->
    <div class="notifications__maincontainer card col-12 p-0 border border-secondary border">
        <div class="maincontainer__header card-header pl-2 pr-3 border border-secondary border-top-0 border-left-0 border-right-0 d-flex flex-column bg-dark text-white">
            <div class="col-12 row m-0 p-0 d-flex align-items-center justify-content-center">
                <div class="col-3 d-flex align-items-center cursor-pointer" (click)="sortListByField('type')">
                    <div><b class="d-block">Tipo</b></div>
                    <div class="ml-2 fa"><span [ngClass]="{'fa fa-arrows-v': sortListStatus['type']==null, 'fa fa-long-arrow-down': sortListStatus['type']==false, 'fa fa-long-arrow-up': sortListStatus['type']==true}"></span></div>
                </div>
                <div class="col-3 d-flex align-items-center cursor-pointer" (click)="sortListByField('from')">
                    <div><b class="d-block">Mittente Richiesta</b></div>
                    <div class="ml-2 fa"><span [ngClass]="{'fa fa-arrows-v': sortListStatus['from']==null, 'fa fa-long-arrow-down': sortListStatus['from']==false, 'fa fa-long-arrow-up': sortListStatus['from']==true}"></span></div>
                </div>
                <div class="col-4 d-flex align-items-center cursor-pointer" (click)="sortListByField('message')">
                    <div><b class="d-block">Messaggio</b></div>
                    <div class="ml-2 fa"><span [ngClass]="{'fa fa-arrows-v': sortListStatus['message']==null, 'fa fa-long-arrow-down': sortListStatus['message']==false, 'fa fa-long-arrow-up': sortListStatus['message']==true}"></span></div>
                </div>
                <div class="col-2">
                    <b>Azioni</b>
                </div>
            </div>
        </div>
        <div class="maincontainer__body card-body row w-100 align-content-start m-0 pl-2 pr-0 py-2" [hidden]="bLoading">
            <div class="h-100 w-100 d-flex flex-column align-items-center justify-content-center" *ngIf="notificationList.length == 0">
                <img src="assets/icons/misc/alert.svg" style="width:40px; height:auto;">
                <span class="badge badge-light mt-2">Non hai nessuna notifica!</span>
            </div>
            <div class="body__element list-group-item list-group-item-action list-group-item-light d-flex align-items-center px-0 py-1" *ngFor="let elem of notificationList; index as notificationIndex">
                <div class="col-3">
                    <span>{{elem.type}}</span>
                </div>
                <div class="col-3">
                    <span>{{elem.from}}</span>
                </div>
                <div class="col-4"><span>{{elem.message}}</span></div>
                <div class="col-2 d-flex">
                    <div *ngIf="(elem.type == NOTIFICATION_TYPE.COACH_REQUEST || elem.type == NOTIFICATION_TYPE.ATHLETE_REQUEST)" (click)="acceptRequest(elem)" class="ml-2 image-button" ngbTooltip="Accetta Richiesta" placement="left"><img src="assets/icons/actions/confirm.svg" style="width:20px; height:auto;"></div>
                    <div *ngIf="(elem.type == NOTIFICATION_TYPE.COACH_REQUEST || elem.type == NOTIFICATION_TYPE.ATHLETE_REQUEST)" (click)="refuseRequest(elem)" class="ml-2 image-button" ngbTooltip="Rifiuta Richiesta" placement="left"><img src="assets/icons/actions/cancel.svg" style="width:20px; height:auto;"></div>
                    <div *ngIf="(elem.type == NOTIFICATION_TYPE.DISMISS || elem.type == NOTIFICATION_TYPE.REQUEST_SUCCESS || elem.type == NOTIFICATION_TYPE.REQUEST_REFUSE || elem.type == NOTIFICATION_TYPE.CANCEL_ATHLETE_TO_COACH_LINK || elem.type == NOTIFICATION.CANCEL_COACH_TO_ATHLETE_LINK)" (click)="dismissNotification(elem)" class="ml-2 image-button" ngbTooltip="Visualizza Richiesta" placement="left"><img src="assets/icons/actions/visibility.svg" style="width:20px; height:auto;"></div>
                </div>
            </div>
        </div>
    </div>

    <!-- Loader -->
    <div class='h-100 w-100' [hidden]="!bLoading">
        <div style="position:absolute; background-color:black; opacity:50%; right:0; top:0;" class="w-100 h-100">
            <div class="container d-flex align-items-center justify-content-center w-100 h-100">
                <div class="lds-ring"><div></div><div></div><div></div><div></div></div>
            </div>
        </div>
    </div>
</div>