<div class="main__notifications row m-3">

    <!-- FILTERS -->
    <div class="notifications__filters col-12 row mb-2 mx-0 my-0 plx-2 border">
        <div class="col-1 d-flex align-items-center border border-left-0 border-top-0 border-bottom-0">
            <h6 class="m-0">Filtri</h6><span class="fa fa-filter ml-2" style="font-size: 20px;"></span>
        </div>
        <div class="col-2 form-group pl-2 pr-1 m-0">
            <label for="filterNotListType" class="col-form-label col-form-label-sm p-0 text-muted">Mostra notifiche</label>
            <select [(ngModel)]="filters.filterNotListType" class="form-control form-control-sm cursor-pointer" id="filterNotListType" name="filterNotListType" (change)="filterNotifications($event)" [disabled]="bLoading">
                <option [value]="''">Tutte</option>
                <option [value]="'notConsumed'">Nuove</option>
                <option [value]="'consumed'">Lette</option>
            </select>
        </div>
        <div class="col-3 form-group pl-2 pr-1 m-0">
            <label class="col-form-label col-form-label-sm p-0 text-muted">Tipo</label>
            <div class="input-group">
                <input type="text" [(ngModel)]="filters.type" class="form-control form-control-sm" (keyup)="filterNotifications($event)"
                    id="filterType" name="filterType" placeholder="Tipo..." [disabled]="bLoading">
            </div>
        </div>
        <div class="col-3 form-group pl-2 pr-1 m-0">
            <label class="col-form-label col-form-label-sm p-0 text-muted">Mittente Richiesta</label>
            <div class="input-group">
                <input type="text" [(ngModel)]="filters.from.name" class="form-control form-control-sm" (keyup)="filterNotifications($event)"
                    id="filterFromName" name="filterFromName" placeholder="Nome..." [disabled]="bLoading">
                <input type="text" [(ngModel)]="filters.from.surname" class="form-control form-control-sm" (keyup)="filterNotifications($event)"
                    id="filterFromSurname" name="filterFromSurname" placeholder="Cognome..." [disabled]="bLoading">
            </div>
        </div>
        <div class="col-3 form-group pl-2 pr-1 m-0">
            <label class="col-form-label col-form-label-sm p-0 text-muted">Messaggio</label>
            <div class="input-group">
                <input type="text" [(ngModel)]="filters.message" class="form-control form-control-sm" (keyup)="filterNotifications($event)"
                    id="filterMessage" name="filterMessage" placeholder="Messaggio..." [disabled]="bLoading">
            </div>
        </div>
    </div>

    <!-- MAIN CONTAINER -->
    <div class="notifications__maincontainer card col-12 p-0 border border-secondary border">
        <div class="maincontainer__header card-header pl-2 pr-3 border border-secondary border-top-0 border-left-0 border-right-0 d-flex flex-column bg-dark text-white">
            <div class="col-12 row m-0 p-0 d-flex align-items-center justify-content-center">
                <div class="col-1 d-flex align-items-center" (click)="sortListByFieldUI('bConsumed')" [ngClass]="{'cursor-pointer': !bLoading}">
                    <div><b class="d-block">Nuova</b></div>
                    <div class="ml-2 fa"><span [ngClass]="{'fa fa-arrows-v': sortListStatus['bConsumed']==null, 'fa fa-long-arrow-down': sortListStatus['bConsumed']==false, 'fa fa-long-arrow-up': sortListStatus['bConsumed']==true}"></span></div>
                </div>
                <div class="col-2 d-flex align-items-center" (click)="sortListByFieldUI('type')" [ngClass]="{'cursor-pointer': !bLoading}">
                    <div><b class="d-block">Tipo</b></div>
                    <div class="ml-2 fa"><span [ngClass]="{'fa fa-arrows-v': sortListStatus['type']==null, 'fa fa-long-arrow-down': sortListStatus['type']==false, 'fa fa-long-arrow-up': sortListStatus['type']==true}"></span></div>
                </div>
                <div class="col-2 d-flex align-items-center" (click)="sortListByFieldUI('from')" [ngClass]="{'cursor-pointer': !bLoading}">
                    <div><b class="d-block">Mittente Richiesta</b></div>
                    <div class="ml-2 fa"><span [ngClass]="{'fa fa-arrows-v': sortListStatus['from']==null, 'fa fa-long-arrow-down': sortListStatus['from']==false, 'fa fa-long-arrow-up': sortListStatus['from']==true}"></span></div>
                </div>
                <div class="col-3 d-flex align-items-center" (click)="sortListByFieldUI('message')" [ngClass]="{'cursor-pointer': !bLoading}">
                    <div><b class="d-block">Messaggio</b></div>
                    <div class="ml-2 fa"><span [ngClass]="{'fa fa-arrows-v': sortListStatus['message']==null, 'fa fa-long-arrow-down': sortListStatus['message']==false, 'fa fa-long-arrow-up': sortListStatus['message']==true}"></span></div>
                </div>
                <div class="col-2 d-flex align-items-center" (click)="sortListByFieldUI('creationDate')" [ngClass]="{'cursor-pointer': !bLoading}">
                    <div><b class="d-block">Data</b></div>
                    <div class="ml-2 fa"><span [ngClass]="{'fa fa-arrows-v': sortListStatus['creationDate']==null, 'fa fa-long-arrow-down': sortListStatus['creationDate']==false, 'fa fa-long-arrow-up': sortListStatus['creationDate']==true}"></span></div>
                </div>
                <div class="col-2 d-flex align-items-center"  [ngClass]="{'cursor-pointer': !bLoading}">
                    <div class="dropdown">
                        <button class="btn p-0 text-white" type="button" id="dropdownActionMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" [disabled]="bLoading">
                            <b>Azioni</b><img src="assets/icons/actions/menu-button.svg" style="width:15px; height:auto;" class="ml-2 mb-1">
                        </button>
                        <div class="dropdown-menu p-1" aria-labelledby="dropdownActionMenuButton">
                            <button (click)="dismissAllNotifications()" [ngClass]="{'disabled cursor-not-allowed': !canDismissAllNotifications()}" [disabled]="!canDismissAllNotifications()" class="dropdown-item d-flex align-items-center p-1">
                                <img src="assets/icons/actions/visibility.svg" style="width:15px; height:auto;"> 
                                <span class="ml-2">Visualizza tutto</span>
                                </button>
                            <button (click)="cancelAllNotifications()" [ngClass]="{'disabled cursor-not-allowed': !canCancelAllNotifications()}" [disabled]="!canCancelAllNotifications()" class="dropdown-item d-flex align-items-center p-1">
                                <img src="assets/icons/actions/garbage-can.svg" style="width:15px; height:auto;"> 
                                <span class="ml-2">Cancella tutto</span>
                            </button>
                        </div>
                      </div>
                </div>
            </div>
        </div>
        <div class="maincontainer__body card-body row w-100 align-content-start m-0 pl-2 pr-0 py-2 position-relative">
            <div class="h-100 w-100 d-flex flex-column align-items-center justify-content-center" *ngIf="notificationList.length == 0">
                <img src="assets/icons/misc/alert.svg" style="width:40px; height:auto;">
                <div [hidden]="filters.filterNotListType != 'notConsumed'" class="badge badge-light mt-2"><h6>Non hai nessuna nuova notifica!</h6></div>
                <div [hidden]="filters.filterNotListType == 'notConsumed'" class="badge badge-light mt-2"><h6>Non ci sono notifiche!</h6></div>
            </div>
             <!-- Loader -->
            <div class='h-100 w-100' [hidden]="!bLoading">
                <div style="position:absolute; background-color:black; opacity:50%; right:0; top:0;" class="w-100 h-100">
                    <div class="container d-flex align-items-center justify-content-center w-100 h-100">
                        <div class="lds-ring"><div></div><div></div><div></div><div></div></div>
                    </div>
                </div>
            </div>
            <div class="body__element list-group-item list-group-item-action list-group-item-light d-flex align-items-center px-0 py-1" 
                 *ngFor="let elem of notificationList; index as notificationIndex" [ngClass]="{'list-group-item-cyan': !elem.bConsumed, 'bg-custom-lightgray': elem.bConsumed}">
                <div class="col-1">
                    <img [hidden]="elem.bConsumed" src="assets/icons/misc/dot.svg" style="width:30px; height:auto;">
                </div>
                <div class="col-2">
                    <span>{{elem.type}}</span>
                </div>
                <div class="col-2">
                    <span>{{elem.from.name != null ? elem.from.name : ''}} {{elem.from.surname != null ? elem.from.surname : elem.from}}</span>
                </div>
                <div class="col-3" [innerHTML]="elem.message"></div>
                <div class="col-2"><span>{{elem.creationDate | date:'HH:mm:ss - dd/MM/yyyy'}}</span></div>
                <div class="col-2 d-flex">
                    <div *ngIf="!elem.bConsumed && (elem.type == NOTIFICATION_TYPE.COACH_REQUEST || elem.type == NOTIFICATION_TYPE.ATHLETE_REQUEST)" (click)="acceptRequest(elem)" class="ml-2 image-button" ngbTooltip="Accetta Richiesta" placement="left"><img src="assets/icons/actions/confirm.svg" style="width:20px; height:auto;"></div>
                    <div *ngIf="!elem.bConsumed && (elem.type == NOTIFICATION_TYPE.COACH_REQUEST || elem.type == NOTIFICATION_TYPE.ATHLETE_REQUEST)" (click)="refuseRequest(elem)" class="ml-2 image-button" ngbTooltip="Rifiuta Richiesta" placement="left"><img src="assets/icons/actions/cancel.svg" style="width:20px; height:auto;"></div>
                    <div *ngIf="!elem.bConsumed && (elem.type == NOTIFICATION_TYPE.DISMISS || elem.type == NOTIFICATION_TYPE.REQUEST_SUCCESS || elem.type == NOTIFICATION_TYPE.REQUEST_REFUSE || elem.type == NOTIFICATION_TYPE.CANCEL_ATHLETE_TO_COACH_LINK || elem.type == NOTIFICATION_TYPE.CANCEL_COACH_TO_ATHLETE_LINK || elem.type == NOTIFICATION_TYPE.TRAINING_CREATED || elem.type == NOTIFICATION_TYPE.TRAINING_MODIFIED)" (click)="dismissNotification(elem)" class="ml-2 image-button" ngbTooltip="Visualizza Richiesta" placement="left"><img src="assets/icons/actions/visibility.svg" style="width:20px; height:auto;"></div>
                    <div *ngIf="elem.bConsumed" (click)="cancelNotification(elem)" class="ml-2 image-button" ngbTooltip="Cancella Notifica" placement="left"><img src="assets/icons/actions/garbage-can.svg" style="width:20px; height:auto;"></div>
                </div>
            </div>
        </div>
    </div>
   
</div>