.main__notifications {

    .notifications__filters {
        font-size: 0.8rem;
        height: 60px;
        box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
        border-radius: 4px;
    }

    .notifications__maincontainer {
        
        .maincontainer__header {
            height: 70px;
        }
        
        .maincontainer__body {
            overflow-y: scroll;
            height: calc(100vh - 216px);

            .body__element {
                height: 80px;
                overflow: hidden;
            }
        }

    }
    
}