<div class="card">
    <h3 class="card-header pt-0">Registrazione</h3>
    <div class="card-body py-0">
        <form [formGroup]="form" ngNativeValidate (ngSubmit)="onSubmit()">
            <div class="form-row">
                <div class="form-group col-12 col-sm">
                    <label class="col-form-label col-form-label-max-xl">Nome</label>
                    <input type="text" formControlName="name" class="form-control form-control-max-xxl" required
                        [maxlength]="ACCOUNT_VALIDATORS.MAX_NAME_LENGTH"
                        [ngClass]="{ 'is-invalid': submitted && f.name.errors }" />
                    <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                        <div *ngIf="f.name.errors.required">Nome obbligatorio</div>
                    </div>
                </div>
                <div class="form-group col-12 col-sm">
                    <label class="col-form-label col-form-label-max-xl">Cognome</label>
                    <input type="text" formControlName="surname" class="form-control form-control-max-xxl" required
                        [maxlength]="ACCOUNT_VALIDATORS.MAX_SURNAME_LENGTH"
                        [ngClass]="{ 'is-invalid': submitted && f.surname.errors }" />
                    <div *ngIf="submitted && f.surname.errors" class="invalid-feedback">
                        <div *ngIf="f.surname.errors.required">Cognome obbligatorio</div>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-12 col-sm-3">
                    <label class="col-form-label col-form-label-max-xl">Tipo Utente</label>
                    <select formControlName="userType" class="form-control form-control-max-xxl cursor-pointer" required
                        [ngClass]="{ 'is-invalid': submitted && f.userType.errors }">
                        <option value="coach">Coach</option>
                        <option value="athlete">Atleta</option>
                        <option value="both">Entrambi</option>
                    </select>
                    <div *ngIf="submitted && f.userType.errors" class="invalid-feedback">
                        <div *ngIf="f.userType.errors.required">Tipo Utente obbligatorio</div>
                    </div>
                </div>
                <div class="form-group col-12 col-sm-9">
                    <label class="col-form-label col-form-label-max-xl">Email</label>
                    <input type="email" formControlName="email" class="form-control form-control-max-xxl" required
                        [maxlength]="ACCOUNT_VALIDATORS.MAX_EMAIL_LENGTH"
                        [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                    <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                        <div *ngIf="f.email.errors.required">Email obbligatoria</div>
                        <div *ngIf="f.email.errors.email">Email deve essere una email valida</div>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-12 col-sm">
                    <label class="col-form-label col-form-label-max-xl">Password</label>
                    <div class="input-group">
                        <input type="password" formControlName="password"
                            class="form-control form-control-max-xxl border-right-0" required
                            [minlength]="ACCOUNT_VALIDATORS.MIN_PSW_LENGTH"
                            [maxlength]="ACCOUNT_VALIDATORS.MAX_PSW_LENGTH"
                            [ngClass]="{ 'is-invalid': submitted && f.password.errors }"
                            [type]="bShowPsw ? 'text' : 'password'" />
                        <div class="input-group-append cursor-pointer input-group-append-max-xxl" (click)="bShowPsw = !bShowPsw">
                            <span class="input-group-text bg-white d-flex align-items-center fa fa-eye"
                                [ngClass]="{'fa-eye-slash': bShowPsw}"></span>
                        </div>
                    </div>
                    <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                        <div *ngIf="f.password.errors.required">Password obbligatoria</div>
                        <div *ngIf="f.password.errors.minlength">La password deve contenere almeno 6 caratteri</div>
                    </div>
                </div>
                <div class="form-group col-12 col-sm">
                    <label class="col-form-label col-form-label-max-xl">Conferma Password</label>
                    <div class="input-group">
                        <input type="password" formControlName="confirmPassword"
                            class="form-control form-control-max-xxl border-right-0" required
                            [minlength]="ACCOUNT_VALIDATORS.MIN_PSW_LENGTH"
                            [maxlength]="ACCOUNT_VALIDATORS.MAX_PSW_LENGTH"
                            [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }"
                            [type]="bShowConfirmPsw ? 'text' : 'password'" />
                        <div class="input-group-append cursor-pointer input-group-append-max-xxl" (click)="bShowConfirmPsw = !bShowConfirmPsw">
                            <span class="input-group-text bg-white d-flex align-items-center fa fa-eye"
                                [ngClass]="{'fa-eye-slash': bShowConfirmPsw}"></span>
                        </div>
                    </div>
                    <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
                        <div *ngIf="f.confirmPassword.errors.required">Conferma Password obbligatoria</div>
                        <div *ngIf="f.confirmPassword.errors.mustMatch">Le Password devono coincidere</div>
                    </div>
                </div>
            </div>
            <div class="form-group form-check" [ngClass]="{'alert alert-link': submitted && f.acceptTerms.errors}">
                <input type="checkbox" formControlName="acceptTerms" id="acceptTerms" class="form-check-input cursor-pointer" [ngClass]="{ 'is-invalid': submitted && f.acceptTerms.errors }" />
                    <label class="form-check-label d-flex">Accetta <app-policy-modal (onClose)="acceptTerms(true)" (onAbort)="acceptTerms(false)"><a class="cursor-pointer text-white ml-1" [ngClass]="{'text-danger': submitted && f.acceptTerms.errors}">Termini & Condizioni</a></app-policy-modal></label>
                <div *ngIf="submitted && f.acceptTerms.errors" class="invalid-feedback">Accetta Termini & Condizioni obbligatorio</div>
            </div>
            <div class="form-group mb-0">
                <button type="submit" [disabled]="loading" class="btn btn-sm-sm btn-primary">
                    <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>Registrati
                </button>
                <a routerLink="../login" href="" class="btn btn-sm-sm btn-link">Annulla</a>
            </div>
        </form>
    </div>
</div>