<nav class="main__header row m-0 p-2 pl-3 navbar navbar-expand navbar-light navbar-bg" *ngIf="account && account.jwtToken">
    <!-- <img src="assets/icons/favicon.ico" style="max-height:100%; width:auto;" class="mr-2"> -->
    <span class="d-md-none fa fa-bars cursor-pointer font-size-14 mr-2" (click)="expandSidebar()"></span>
    <h4 class="h4 font-weight-700 text-uppercase m-0">
      <span>{{ APP_PAGES[((this.router.url).split('/')[1]).split('?')[0]] | uppercase }}</span>
      <span [hidden]="((router.url).split('/')[2]) == null || ((router.url).split('/')[2]) == ''" class="fa fa-arrow-right mx-2"></span><span>{{(router.url).split('/')[2] | uppercase}}</span>
    </h4>
    <!-- <div class="account-info">
        <div class="input-group-prepend ml-2">
          <span class="input-group-text rounded-left bg-light" id="user-info">{{account.user.name}} {{account.user.surname}}</span>
        </div>
        <button class="btn btn-sm btn-primary rounded-right" style="border-radius: 0px 3px 3px 0px;" id="logout-button" aria-describedby="user-info" (click)="logout()">Logout <img src="assets/icons/misc/logout.svg" style="height:15px; width:auto;" class="ml-1"></button>
    </div> -->

    <div class="navbar-collapse collapse d-flex align-items-center justify-content-end">
      <ul class="navbar-nav navbar-align align-items-center">
        
        <!-- Messages -->
        <!-- <li class="nav-item dropdown d-none d-md-inline">
          <a class="nav-icon dropdown-toggle disabled" disabled href="#" id="messagesDropdown" data-toggle="dropdown">
            <div class="position-relative">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                class="feather feather-message-circle align-middle">
                <path
                  d="M21 11.5a8.38 8.38 0 0 1-.9 3.8 8.5 8.5 0 0 1-7.6 4.7 8.38 8.38 0 0 1-3.8-.9L3 21l1.9-5.7a8.38 8.38 0 0 1-.9-3.8 8.5 8.5 0 0 1 4.7-7.6 8.38 8.38 0 0 1 3.8-.9h.5a8.48 8.48 0 0 1 8 8v.5z">
                </path>
              </svg>
              <span class="indicator">0</span>
            </div>
          </a>
          <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right py-0" aria-labelledby="messagesDropdown">
            <div class="dropdown-menu-header">
              <div class="position-relative">
                4 New Messages
              </div>
            </div>
            <div class="list-group">
              <a href="#" class="list-group-item">
                <div class="row mx-0 align-items-center">
                  <div class="col-2">
                    <img src="assets/img/customer-support.png" class="avatar img-fluid rounded-circle"
                      alt="Ashley Briggs">
                  </div>
                  <div class="col-10 pl-2">
                    <div class="text-dark">Ashley Briggs</div>
                    <div class="text-muted small mt-1">Nam pretium turpis et arcu. Duis arcu tortor.</div>
                    <div class="text-muted small mt-1">15m ago</div>
                  </div>
                </div>
              </a>
              <a href="#" class="list-group-item">
                <div class="row mx-0 align-items-center">
                  <div class="col-2">
                    <img src="assets/img/customer-support.png" class="avatar img-fluid rounded-circle"
                      alt="Carl Jenkins">
                  </div>
                  <div class="col-10 pl-2">
                    <div class="text-dark">Carl Jenkins</div>
                    <div class="text-muted small mt-1">Curabitur ligula sapien euismod vitae.</div>
                    <div class="text-muted small mt-1">2h ago</div>
                  </div>
                </div>
              </a>
              <a href="#" class="list-group-item">
                <div class="row mx-0 align-items-center">
                  <div class="col-2">
                    <img src="assets/img/customer-support.png" class="avatar img-fluid rounded-circle"
                      alt="Stacie Hall">
                  </div>
                  <div class="col-10 pl-2">
                    <div class="text-dark">Stacie Hall</div>
                    <div class="text-muted small mt-1">Pellentesque auctor neque nec urna.</div>
                    <div class="text-muted small mt-1">4h ago</div>
                  </div>
                </div>
              </a>
              <a href="#" class="list-group-item">
                <div class="row mx-0 align-items-center">
                  <div class="col-2">
                    <img src="assets/icons/actions/cancel.svg" class="avatar img-fluid rounded-circle"
                      alt="Bertha Martin">
                  </div>
                  <div class="col-10 pl-2">
                    <div class="text-dark">Bertha Martin</div>
                    <div class="text-muted small mt-1">Aenean tellus metus, bibendum sed, posuere ac, mattis non.
                    </div>
                    <div class="text-muted small mt-1">5h ago</div>
                  </div>
                </div>
              </a>
            </div>
            <div class="dropdown-menu-footer">
              <a href="#" class="text-muted">Show all messages</a>
            </div>
          </div>
        </li> -->

        <!-- Notifications -->
        <li class="nav-item dropdown d-none d-md-inline">
          <a class="nav-icon dropdown-toggle" href="#" id="alertsDropdown" data-toggle="dropdown">
            <div class="">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                class="feather feather-bell-off align-middle">
                <path d="M13.73 21a2 2 0 0 1-3.46 0"></path>
                <path d="M18.63 13A17.89 17.89 0 0 1 18 8"></path>
                <path d="M6.26 6.26A5.86 5.86 0 0 0 6 8c0 7-3 9-3 9h14"></path>
                <path d="M18 8a6 6 0 0 0-9.33-5"></path>
                <line x1="1" y1="1" x2="23" y2="23"></line>
              </svg>
              <span class="indicator">{{unreadNotificationsLength}}</span>
            </div>
          </a>
          <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right py-0" aria-labelledby="alertsDropdown">
            <div class="dropdown-menu-header">
              {{unreadNotificationsLength}} {{unreadNotificationsLength == 1 ? 'Nuova Notifica' : 'Nuove Notifiche'}}
            </div>
            <div class="list-group" style="max-height: 70vh; overflow: auto;" *ngIf="account.user">
              <a class="list-group-item" *ngFor="let n of unreadNotificationList">
                <div class="row mx-0 align-items-center">
                  <div class="col-10">
                    <div class="text-dark">{{NOTIFICATION_TYPE_NAMES[n.type]}}</div>
                    <div class="text-muted small mt-1" [innerHTML]="n.message"></div>
                    <div class="text-muted small mt-1">Da {{(n.from != null && n.from.name != null && n.from.surname != null) ? (n.from.name + " " + n.from.surname) : 'Utente Cancellato'}}</div>
                    <div class="text-muted small mt-1">Ore {{n.creationDate | date:'HH:mm:ss - dd/MM/yyyy'}}</div>
                  </div>
                  <div class="col-2">
                    <div *ngIf="!n.bConsumed && (n.type == NOTIFICATION_TYPE.COACH_REQUEST || n.type == NOTIFICATION_TYPE.ATHLETE_REQUEST)" (click)="acceptRequest(n)" class="mb-2 image-button" ngbTooltip="Accetta Richiesta" placement="left"><img src="assets/icons/actions/confirm.svg" style="width:20px; height:auto;"></div>
                    <div *ngIf="!n.bConsumed && (n.type == NOTIFICATION_TYPE.COACH_REQUEST || n.type == NOTIFICATION_TYPE.ATHLETE_REQUEST)" (click)="refuseRequest(n)" class="image-button" ngbTooltip="Rifiuta Richiesta" placement="left"><img src="assets/icons/actions/cancel.svg" style="width:20px; height:auto;"></div>
                    <div *ngIf="!n.bConsumed && (n.type == NOTIFICATION_TYPE.DISMISS || n.type == NOTIFICATION_TYPE.REQUEST_SUCCESS || n.type == NOTIFICATION_TYPE.REQUEST_REFUSE || n.type == NOTIFICATION_TYPE.CANCEL_ATHLETE_TO_COACH_LINK || n.type == NOTIFICATION_TYPE.CANCEL_COACH_TO_ATHLETE_LINK || n.type == NOTIFICATION_TYPE.TRAINING_CREATED || n.type == NOTIFICATION_TYPE.TRAINING_MODIFIED)" (click)="dismissNotification(n)" class="image-button" ngbTooltip="Visualizza Richiesta" placement="left"><img src="assets/icons/actions/visibility.svg" style="width:20px; height:auto;"></div>
                  </div>
                </div>
              </a>
            </div>
            <div class="dropdown-menu-footer">
              <a routerLink="/notifications" class="text-muted">Mostra tutte le notifiche</a>
            </div>
            <div class='h-100 w-100' [hidden]="!bLoading">
              <div class="w-100 h-100 loader-container">
                  <div class="container d-flex align-items-center justify-content-center w-100 h-100">
                      <div class="lds-ring"><div></div><div></div><div></div><div></div></div>
                  </div>
              </div>
          </div>
          </div>
        </li>

        <!-- Language -->
        <li class="nav-item dropdown d-none d-md-inline">
          <a class="nav-flag dropdown-toggle disabled" disabled href="#" id="languageDropdown" data-toggle="dropdown">
            <img src="assets/icons/flags/italy.svg" style="width:24px; height: auto;" alt="Italian">
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="languageDropdown">
            <a class="dropdown-item" href="#">
              <img src="assets/icons/flags/united-kingdom.svg" alt="English" width="20" class="align-middle mr-1">
              <span class="align-middle">English</span>
            </a>
            <a class="dropdown-item" href="#">
              <img src="assets/icons/flags/italy.svg" alt="Italian" width="20" class="align-middle mr-1">
              <span class="align-middle">Italian</span>
            </a>
          </div>
        </li>

        <!-- User -->
        <li class="nav-item dropdown">
          <a class="nav-icon dropdown-toggle d-inline-block d-sm-none" href="#" data-toggle="dropdown">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-settings align-middle">
              <circle cx="12" cy="12" r="3"></circle>
              <path d="M19.4 15a1.65 1.65 0 0 0 .33 1.82l.06.06a2 2 0 0 1 0 2.83 2 2 0 0 1-2.83 0l-.06-.06a1.65 1.65 0 0 0-1.82-.33 1.65 1.65 0 0 0-1 1.51V21a2 2 0 0 1-2 2 2 2 0 0 1-2-2v-.09A1.65 1.65 0 0 0 9 19.4a1.65 1.65 0 0 0-1.82.33l-.06.06a2 2 0 0 1-2.83 0 2 2 0 0 1 0-2.83l.06-.06a1.65 1.65 0 0 0 .33-1.82 1.65 1.65 0 0 0-1.51-1H3a2 2 0 0 1-2-2 2 2 0 0 1 2-2h.09A1.65 1.65 0 0 0 4.6 9a1.65 1.65 0 0 0-.33-1.82l-.06-.06a2 2 0 0 1 0-2.83 2 2 0 0 1 2.83 0l.06.06a1.65 1.65 0 0 0 1.82.33H9a1.65 1.65 0 0 0 1-1.51V3a2 2 0 0 1 2-2 2 2 0 0 1 2 2v.09a1.65 1.65 0 0 0 1 1.51 1.65 1.65 0 0 0 1.82-.33l.06-.06a2 2 0 0 1 2.83 0 2 2 0 0 1 0 2.83l-.06.06a1.65 1.65 0 0 0-.33 1.82V9a1.65 1.65 0 0 0 1.51 1H21a2 2 0 0 1 2 2 2 2 0 0 1-2 2h-.09a1.65 1.65 0 0 0-1.51 1z"> </path>
            </svg>
          </a>
          <a class="nav-link dropdown-toggle d-none d-sm-inline-block" href="#" data-toggle="dropdown" aria-expanded="false">
            <img src="{{account.user.profilePicture ? (baseServerUrl + account.user.profilePicture) : 'assets/icons/misc/user.svg'}}" class="avatar img-fluid rounded-circle mr-1"> 
            <span class="d-none d-lg-inline">{{account.user.name}}</span>
          </a>
          <div class="dropdown-menu dropdown-menu-right">
            <div class="dropdown-header">{{account.user.name}} {{account.user.surname}}</div>
            <a class="dropdown-item" href="/userprofile"><svg xmlns="http://www.w3.org/2000/svg" width="24"
                height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                stroke-linecap="round" stroke-linejoin="round" class="feather feather-user align-middle mr-1">
                <path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path>
                <circle cx="12" cy="7" r="4"></circle>
              </svg> Profilo</a>
            <a class="dropdown-item disabled" disabled href="#"><svg xmlns="http://www.w3.org/2000/svg" width="24"
                height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                stroke-linecap="round" stroke-linejoin="round" class="feather feather-pie-chart align-middle mr-1">
                <path d="M21.21 15.89A10 10 0 1 1 8 2.83"></path>
                <path d="M22 12A10 10 0 0 0 12 2v10z"></path>
              </svg> Statistiche</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item cursor-pointer" (click)="openPageWithMode(PAGEMODE.WRITE, PAGES.PROFILES)">Impostazioni&amp;Privacy</a>
            <a class="dropdown-item cursor-pointer"><app-policy-modal>Policy&amp;Cookie Privacy</app-policy-modal></a>
            <a class="dropdown-item disabled" disabled>Aiuto</a>
            <a class="dropdown-item" (click)="logout()">Logout</a>
          </div>
        </li>
      </ul>
    </div>
</nav>