<div class="main__user row m-3">

    <div class="user__maincontainer col-12 card p-0">

        <div class="maincontainer__header card-header px-0">
            <div class="d-flex align-items-baseline">
                <h5 class="m-0">UTENTE {{user.name}} {{user.surname}}</h5>
                <!-- <div class="ml-auto">
                    <div (click)="saveUser()" class="btn btn-success btn-sm">SALVA</div>
                    <div *ngIf="account.role == Role.Admin" (click)="deleteUser()" class="btn btn-danger btn-sm ml-2">ELIMINA</div>
                </div> -->
                <div class="d-flex input-group w-auto ml-auto">
                    <div class="input-group-prepend"><span class="input-group-text">ACTIONS</span></div>
                    <div class="d-flex align-items-center form-control">
                        <div (click)="changeMode(PAGEMODE.READONLY)" class="inverse-image-button" [ngClass]="{'active': pageStatus[PAGES.USERS] == PAGEMODE.READONLY}"  ngbTooltip="Visualizza" placement="left"><img src="assets/icons/actions/visibility.svg" style="width:20px; height:auto;"></div>
                        <!-- <div *ngIf="account.role == Role.Admin" (click)="changeMode(PAGEMODE.WRITE)" class="ml-2 inverse-image-button" [ngClass]="{'active': pageStatus[PAGES.USERS] == PAGEMODE.WRITE}"  ngbTooltip="Modifica" placement="left"><img src="assets/icons/actions/edit.svg" style="width:20px; height:auto;"></div> -->
                    </div>
                </div>
            </div>
        </div>

        <div class="maincontainer__body card-body">
            <form>
                <div class="form-row m-0 mb-4">
                    <div class="col-12">
                        <h6 class="text-uppercase">Informazioni utente</h6>
                    </div>
                    <fieldset class="col-12 row m-0 p-0 py-2 border" [disabled]="(pageStatus[PAGES.USERS] == PAGEMODE.READONLY)">
                        <div class="col-2 form-group">
                            <label for="userName" class="col-form-label col-form-label-sm text-muted">Nome</label>
                            <input type="text" required maxlength="30" [(ngModel)]="user.name" class="form-control form-control-sm" [ngClass]="{'border-bottom-only bg-white': (pageStatus[PAGES.USERS] == PAGEMODE.READONLY)}"
                                id="userName" name="userName">
                        </div>
                        <div class="col-2 form-group">
                            <label for="userSurname" class="col-form-label col-form-label-sm text-muted">Cognome</label>
                            <input type="text" required maxlength="30" [(ngModel)]="user.surname" class="form-control form-control-sm" [ngClass]="{'border-bottom-only bg-white': (pageStatus[PAGES.USERS] == PAGEMODE.READONLY)}"
                                id="userSurname" name="userSurname">
                        </div>
                        <div class="col-2 form-group">
                            <label for="userDoB" class="col-form-label col-form-label-sm text-muted">DoB</label>
                            <input type="date" required [(ngModel)]="user.dateOfBirth" class="form-control form-control-sm" [ngClass]="{'border-bottom-only bg-white': (pageStatus[PAGES.USERS] == PAGEMODE.READONLY)}"
                                id="userDoB" name="userDoB">
                        </div>
                        <div class="col-2 form-group">
                            <label for="userSex" class="col-form-label col-form-label-sm text-muted">Sesso</label>
                            <select [(ngModel)]="user.sex" class="form-control form-control-sm cursor-pointer" id="userSex" name="userSex"
                            [ngClass]="{'border-bottom-only bg-white': (pageStatus[PAGES.USERS] == PAGEMODE.READONLY), 'cursor-pointer': (pageStatus[PAGES.USERS] == PAGEMODE.WRITE)}">
                                <option [value]="'M'">Uomo</option>
                                <option [value]="'F'">Donna</option>
                            </select>
                        </div>
                        <div class="col-2 form-group">
                            <label for="userType" class="col-form-label col-form-label-sm text-muted">Tipo</label>
                            <select [(ngModel)]="user.userType" required class="form-control form-control-sm cursor-pointer" id="userType" name="userType"
                            [ngClass]="{'border-bottom-only bg-white': (pageStatus[PAGES.USERS] == PAGEMODE.READONLY), 'cursor-pointer': (pageStatus[PAGES.USERS] == PAGEMODE.WRITE)}">
                                <option [value]="'athlete'">Atleta</option>
                                <option [value]="'coach'">Coach</option>
                                <option [value]="'both'">Both</option>
                            </select>
                        </div>
                        <div class="col-2 form-group">
                            <label for="userBw" class="col-form-label col-form-label-sm text-muted">Peso</label>
                            <input type="number" min=10 max=500 [(ngModel)]="user.bodyWeight" class="form-control form-control-sm" [ngClass]="{'border-bottom-only bg-white': (pageStatus[PAGES.USERS] == PAGEMODE.READONLY)}"
                                id="userBw" name="userBw">
                        </div>
                        <div class="col-2 form-group">
                            <label for="userYearsOfExperience" class="col-form-label col-form-label-sm text-muted">Esperienza (anni)</label>
                            <input type="number" min=0 max=100 [(ngModel)]="user.yearsOfExperience" class="form-control form-control-sm" [ngClass]="{'border-bottom-only bg-white': (pageStatus[PAGES.USERS] == PAGEMODE.READONLY)}"
                                id="userYearsOfExperience" name="userYearsOfExperience">
                        </div>
                        <div class="col-2 form-group">
                            <label for="userContactsEmail" class="col-form-label col-form-label-sm text-muted">Email</label>
                            <input type="email" maxlength="100" [(ngModel)]="user.contacts.email" class="form-control form-control-sm" [ngClass]="{'border-bottom-only bg-white': (pageStatus[PAGES.USERS] == PAGEMODE.READONLY)}"
                                id="userContactsEmail" name="userContactsEmail">
                        </div>
                        <div class="col-2 form-group">
                            <label for="userContactsTelephone" class="col-form-label col-form-label-sm text-muted">Telefono</label>
                            <input type="tel" required maxlength="15" [(ngModel)]="user.contacts.telephone" class="form-control form-control-sm" [ngClass]="{'border-bottom-only bg-white': (pageStatus[PAGES.USERS] == PAGEMODE.READONLY)}"
                                id="userContactsTelephone" name="userContactsTelephone">
                        </div>
                        <div class="col-2 form-group">
                            <label for="userResidenceState" class="col-form-label col-form-label-sm text-muted">Stato</label>
                            <input type="text" maxlength="50" [(ngModel)]="user.residence.state" class="form-control form-control-sm" [ngClass]="{'border-bottom-only bg-white': (pageStatus[PAGES.USERS] == PAGEMODE.READONLY)}"
                                id="userResidenceState" name="userResidenceState">
                        </div>
                        <div class="col-2 form-group">
                            <label for="userResidenceCity" class="col-form-label col-form-label-sm text-muted">Città</label>
                            <input type="text" maxlength="50" [(ngModel)]="user.residence.city" class="form-control form-control-sm" [ngClass]="{'border-bottom-only bg-white': (pageStatus[PAGES.USERS] == PAGEMODE.READONLY)}"
                                id="userResidenceCity" name="userResidenceCity">
                        </div>
                        <div class="col-2 form-group">
                            <label for="userResidenceAddress" class="col-form-label col-form-label-sm text-muted">Indirizzo</label>
                            <input type="text" maxlength="100" [(ngModel)]="user.residence.address" class="form-control form-control-sm" [ngClass]="{'border-bottom-only bg-white': (pageStatus[PAGES.USERS] == PAGEMODE.READONLY)}"
                                id="userResidenceAddress" name="userResidenceAddress">
                        </div>
                    </fieldset>
                </div>

                <div class="col-12 form-row p-0 round-5 m-0 round-top-0">
                    <div class="col-12">
                        <h6 class="text-uppercase">Personal Records</h6>
                    </div>
                    <fieldset class="col-12 row m-0 p-0 border" [disabled]="(pageStatus[PAGES.USERS] == PAGEMODE.READONLY)">
                        <div class="col-12 form-row m-0 p-0" *ngIf="user.personalRecords.length==0 || areAllPrsHidden()">
                            <div class="alert alert-info w-100">Nessun Personal Record presente</div>
                        </div>

                        <div class="col-12 form-row m-0 p-0 py-2 position-relative" *ngFor="let pr of filterVisiblePR(); index as prIndex; first as prFirst">
                            <div class="col-4 d-flex m-0 px-3">
                                <div class="row m-0">
                                    <div class="col-6 form-group pl-0 pr-1 m-0">
                                        <label for="pr_{{prIndex}}" class="col-form-label col-form-label-sm text-muted">Esercizio</label>
                                        <input id="pr_{{prIndex}}" name="pr_{{prIndex}}" type="text" class="form-control form-control-sm"
                                            [(ngModel)]="pr.exercise.name" [ngClass]="{'border-bottom-only bg-white': (pageStatus[PAGES.USERS] == PAGEMODE.READONLY)}">
                                    </div>
                                    <div class="col-6 form-group pl-1 pr-0 m-0">
                                        <label for="tipo_{{prIndex}}" class="col-form-label col-form-label-sm text-muted">Tipo</label>
                                        <input type="text" [(ngModel)]="pr.exercise.variant.name" class="form-control form-control-sm" [ngClass]="{'border-bottom-only bg-white': (pageStatus[PAGES.USERS] == PAGEMODE.READONLY)}"
                                            id="tipo_{{prIndex}}" name="tipo_{{prIndex}}" placeholder="Tipo esercizio..." disabled>
                                    </div>
                                    <div class="col-8 form-group pl-0 pr-1">
                                        <label for="description_{{prIndex}}" class="col-form-label col-form-label-sm text-muted">Descrizione</label>
                                        <input type="text" [(ngModel)]="pr.exercise.description" class="form-control form-control-sm" [ngClass]="{'border-bottom-only bg-white': (pageStatus[PAGES.USERS] == PAGEMODE.READONLY)}"
                                            id="description_{{prIndex}}" name="description_{{prIndex}}" placeholder="Descrizione esercizio..." disabled>
                                    </div>
                                    <div class="col-4 form-group px-1">
                                        <label for="oneRepPR_{{prIndex}}" class="col-form-label col-form-label-sm text-muted">1RM</label>
                                        <div class="d-flex">
                                            <input type="number" min="0" [(ngModel)]="pr.oneRepPR.weight" class="form-control form-control-sm w-100" [ngClass]="{'border-bottom-only bg-white': (pageStatus[PAGES.USERS] == PAGEMODE.READONLY)}"
                                            id="oneRepPR_{{prIndex}}" name="oneRepPR_{{prIndex}}">
                                            <select [(ngModel)]="pr.oneRepPR.measure" class="form-control form-control-sm" [ngClass]="{'border-bottom-only bg-white': (pageStatus[PAGES.USERS] == PAGEMODE.READONLY), 'cursor-pointer': (pageStatus[PAGES.USERS] == PAGEMODE.WRITE)}"
                                                id="oneRepPrMeasure_{{prIndex}}" name="oneRepPrMeasure_{{prIndex}}">
                                                <option [value]="'kg'">kg</option>
                                                <option [value]="'lbs'">lbs</option>
                                            </select>
                                        </div>
                                    </div>
                                    <!-- <div class="col-2 form-group d-flex flex-column justify-content-center align-items-center pl-1 pr-0">
                                        <label for="public_{{prIndex}}" class="col-form-label col-form-label-sm">Pubblico</label>
                                        <input type="checkbox" [(ngModel)]="pr.bPublic" class="form-control form-control-sm" [ngClass]="{'border-bottom-only bg-white': (pageStatus[PAGES.USERS] == PAGEMODE.READONLY)}"
                                            id="public_{{prIndex}}" name="public_{{prIndex}}">
                                    </div> -->
                                </div>
                            </div>
                            <div class="col-8 pr-3 pl-3 border border-right-0 border-top-0 border-bottom-0">
                                <div class="form-row m-0" *ngFor="let elem of filterVisiblePRSeries(pr); first as seriesFirst; last as seriesLast; index as seriesIndex">
                                    <div class="col-1 form-group">
                                        <label for="serie_{{prIndex}}_{{seriesIndex}}" class="col-form-label col-form-label-sm"
                                            [hidden]="!seriesFirst">Serie</label>
                                        <input type="number" min="1" max="1000" [(ngModel)]="elem.seriesNumber" [ngClass]="{'border-bottom-only bg-white': (pageStatus[PAGES.USERS] == PAGEMODE.READONLY)}"
                                            class="form-control form-control-sm" id="serie_{{prIndex}}_{{seriesIndex}}"
                                            name="serie_{{prIndex}}_{{seriesIndex}}" placeholder="Serie...">
                                    </div>
                                    <div class="col-1 form-group">
                                        <label for="rep_{{prIndex}}_{{seriesIndex}}" class="col-form-label col-form-label-sm"
                                            [hidden]="!seriesFirst">Rep</label>
                                        <input type="number" min="1" max="1000"  [(ngModel)]="elem.repNumber" [ngClass]="{'border-bottom-only bg-white': (pageStatus[PAGES.USERS] == PAGEMODE.READONLY)}"
                                            class="form-control form-control-sm" id="rep_{{prIndex}}_{{seriesIndex}}"
                                            name="rep_{{prIndex}}_{{seriesIndex}}" placeholder="Rep...">
                                    </div>
                                    <div class="col-1 form-group">
                                        <label for="peso_{{prIndex}}_{{seriesIndex}}" class="col-form-label col-form-label-sm"
                                            [hidden]="!seriesFirst">Peso</label>
                                        <input type="number" min="0" max="9999" [(ngModel)]="elem.weight" [ngClass]="{'border-bottom-only bg-white': (pageStatus[PAGES.USERS] == PAGEMODE.READONLY)}"
                                            class="form-control form-control-sm" id="peso_{{prIndex}}_{{seriesIndex}}"
                                            name="peso_{{prIndex}}_{{seriesIndex}}" placeholder="Peso...">
                                    </div>
                                    <div class="col-2 d-flex">
                                        <div class="form-group">
                                            <label for="misura_{{prIndex}}_{{seriesIndex}}" class="col-form-label col-form-label-sm"
                                            [hidden]="!seriesFirst">Misura</label>
                                            <select [(ngModel)]="elem.measure" class="form-control form-control-sm"
                                                id="misuraSelect_{{prIndex}}_{{seriesIndex}}" [ngClass]="{'border-bottom-only bg-white': (pageStatus[PAGES.USERS] == PAGEMODE.READONLY), 'cursor-pointer': (pageStatus[PAGES.USERS] == PAGEMODE.WRITE)}"
                                                name="misuraSelect_{{prIndex}}_{{seriesIndex}}">
                                                <option [value]="'kg'">kg</option>
                                                <option [value]="'lbs'">lbs</option>
                                            </select>
                                        </div>
                                        <div class="image-button ml-1" [ngClass]="{'d-flex align-items mt-3': seriesFirst}" ngbTooltip="Applica misura a tutti i personal record" placement="top" (click)="setPRlistMeasure(elem.measure)"><img src="assets/icons/actions/copy-secondary.svg" style="width:15px; height:auto;"></div>
                                        <div class="image-button ml-1" [ngClass]="{'d-flex align-items mt-3': seriesFirst}" ngbTooltip="Applica misura a tutto il personal record" placement="top" (click)="setPRMeasure(pr, elem.measure)"><img src="assets/icons/actions/copy-secondary.svg" style="width:15px; height:auto;"></div>
                                    </div>
                                    <div class="col-1 form-group">
                                        <label for="rest_{{prIndex}}_{{seriesIndex}}" class="col-form-label col-form-label-sm"
                                            [hidden]="!seriesFirst">Recupero</label>
                                        <input type="number" min="0" max [(ngModel)]="elem.rest" [ngClass]="{'border-bottom-only bg-white': (pageStatus[PAGES.USERS] == PAGEMODE.READONLY)}"
                                            class="form-control form-control-sm" id="rest_{{prIndex}}_{{seriesIndex}}" 
                                            name="rest_{{prIndex}}_{{seriesIndex}}">
                                    </div>
                                    <div class="col-1 form-group d-flex flex-column justify-content-center align-items-center">
                                        <label for="verified_{{prIndex}}_{{seriesIndex}}" class="col-form-label col-form-label-sm "
                                        [hidden]="!seriesFirst">Verificato</label>
                                        <input type="checkbox" [(ngModel)]="elem.bVerified" class="form-control form-control-sm" [ngClass]="{'border-bottom-only bg-white': (pageStatus[PAGES.USERS] == PAGEMODE.READONLY)}"
                                            id="verified_{{prIndex}}_{{seriesIndex}}" name="verified_{{prIndex}}_{{seriesIndex}}">
                                    </div>
                                    <div class="col-1 form-group d-flex flex-column justify-content-center align-items-center">
                                        <label for="competition_{{prIndex}}_{{seriesIndex}}" class="col-form-label col-form-label-sm"
                                        [hidden]="!seriesFirst">In Competizione</label>
                                        <input type="checkbox" [(ngModel)]="elem.bCompetition" class="form-control form-control-sm" [ngClass]="{'border-bottom-only bg-white': (pageStatus[PAGES.USERS] == PAGEMODE.READONLY)}" 
                                            id="competition_{{prIndex}}_{{seriesIndex}}" name="competition_{{prIndex}}_{{seriesIndex}}">
                                    </div>
                                    <!-- <div class="col-1 form-group d-flex flex-column justify-content-center align-items-center">
                                        <label for="public_{{prIndex}}_{{seriesIndex}}" class="col-form-label col-form-label-sm "
                                        [hidden]="!seriesFirst">Pubblico</label>
                                        <input type="checkbox" [(ngModel)]="elem.bPublic" class="form-control form-control-sm" [ngClass]="{'border-bottom-only bg-white': (pageStatus[PAGES.USERS] == PAGEMODE.READONLY)}"  
                                            id="public_{{prIndex}}_{{seriesIndex}}" name="public_{{prIndex}}_{{seriesIndex}}">
                                    </div> -->
                                    <div class="col-4 form-group">
                                        <label for="comment_{{prIndex}}_{{seriesIndex}}" class="col-form-label col-form-label-sm"
                                            [hidden]="!seriesFirst">Commento</label>
                                        <input type="text" [(ngModel)]="elem.comment" maxlength="200"
                                            class="form-control form-control-sm" id="comment_{{prIndex}}_{{seriesIndex}}" [ngClass]="{'border-bottom-only bg-white': (pageStatus[PAGES.USERS] == PAGEMODE.READONLY)}"
                                            name="comment_{{prIndex}}_{{seriesIndex}}" placeholder="Commento...">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </form>
        </div>
        <!-- Loader -->
        <div class='h-100 w-100' [hidden]="!bLoading">
            <div style="position:absolute; background-color:black; opacity:50%; right:0; top:0;" class="w-100 h-100">
                <div class="container d-flex align-items-center justify-content-center w-100 h-100">
                    <div class="lds-ring"><div></div><div></div><div></div><div></div></div>
                </div>
            </div>
        </div>
    </div>

</div>