.main__user {
    .user__maincontainer {
        border: 0px !important;

        .maincontainer__header {
            border: 0px !important;
        } 

        .maincontainer__body {
            overflow: auto;
            height: calc(100vh - 155px);
            border: 1px solid rgba(0, 0, 0, 0.125) !important;
        }

        /* Components */
        .close {
            font-size: 1.4rem;
            opacity: 0.1;
            transition: opacity 0.3s;
        }
        .nav-link:hover > .close {
            opacity: 0.8;
        }
    }
}
