<div class="main__user row m-3">

    <div class="user__maincontainer col-12 card p-0">

        <div class="maincontainer__header card-header">
            <div class="d-flex align-items-baseline mb-2">
                <h5 class="m-0">UTENTE {{user.name}}</h5>
                <div class="ml-auto">
                    <div (click)="saveUser()" class="btn btn-success btn-sm">SALVA</div>
                    <div *ngIf="account.role == Role.Admin" (click)="deleteUser()" class="btn btn-danger btn-sm ml-2">ELIMINA</div>
                </div>
            </div>
        </div>

        <div class="maincontainer__body card-body">
            <form>
                <div class="form-row m-0">
                    <div class="col-2 form-group">
                        <label for="userName" class="col-form-label col-form-label-sm text-muted">Nome</label>
                        <input type="text" required [(ngModel)]="user.name" class="form-control form-control-sm"
                            id="userName" name="userName">
                    </div>
                    <div class="col-2 form-group">
                        <label for="userSurname" class="col-form-label col-form-label-sm text-muted">Cognome</label>
                        <input type="text" required [(ngModel)]="user.surname" class="form-control form-control-sm"
                            id="userSurname" name="userSurname">
                    </div>
                    <div class="col-2 form-group">
                        <label for="userDoB" class="col-form-label col-form-label-sm text-muted">DoB</label>
                        <input type="date" required [(ngModel)]="user.dateOfBirth" class="form-control form-control-sm"
                            id="userDoB" name="userDoB">
                    </div>
                    <div class="col-2 form-group">
                        <label for="userSex" class="col-form-label col-form-label-sm text-muted">Sesso</label>
                        <select [(ngModel)]="user.sex" class="form-control form-control-sm cursor-pointer" id="userSex" name="userSex">
                            <option [value]="'M'">Uomo</option>
                            <option [value]="'F'">Donna</option>
                        </select>
                    </div>
                    <div class="col-2 form-group">
                        <label for="userBw" class="col-form-label col-form-label-sm text-muted">Body Weight</label>
                        <input type="number" min=10 max=500 [(ngModel)]="user.bodyWeight" class="form-control form-control-sm"
                            id="userBw" name="userBw">
                    </div>
                    <div class="col-2 form-group">
                        <label for="userType" class="col-form-label col-form-label-sm text-muted">Tipo</label>
                        <select [(ngModel)]="user.userType" required class="form-control form-control-sm cursor-pointer" id="userType" name="userType">
                            <option [value]="'athlete'">Atleta</option>
                            <option [value]="'coach'">Coach</option>
                        </select>
                    </div>
                    <div class="col-2 form-group">
                        <label for="userYearsOfExperience" class="col-form-label col-form-label-sm text-muted">Esperienza (anni)</label>
                        <input type="number" min=0 max=100 [(ngModel)]="user.yearsOfExperience" class="form-control form-control-sm"
                            id="userYearsOfExperience" name="userYearsOfExperience">
                    </div>
                    <div class="col-2 form-group">
                        <label for="userContactsEmail" class="col-form-label col-form-label-sm text-muted">Email</label>
                        <input type="email" [(ngModel)]="user.contacts.email" class="form-control form-control-sm"
                            id="userContactsEmail" name="userContactsEmail">
                    </div>
                    <div class="col-2 form-group">
                        <label for="userContactsTelephone" class="col-form-label col-form-label-sm text-muted">Telefono</label>
                        <input type="tel" required [(ngModel)]="user.contacts.telephone" class="form-control form-control-sm"
                            id="userContactsTelephone" name="userContactsTelephone">
                    </div>
                    <div class="col-2 form-group">
                        <label for="userResidenceState" class="col-form-label col-form-label-sm text-muted">Stato</label>
                        <input type="text" [(ngModel)]="user.residence.state" class="form-control form-control-sm"
                            id="userResidenceState" name="userResidenceState">
                    </div>
                    <div class="col-2 form-group">
                        <label for="userResidenceCity" class="col-form-label col-form-label-sm text-muted">Città</label>
                        <input type="text" [(ngModel)]="user.residence.city" class="form-control form-control-sm"
                            id="userResidenceCity" name="userResidenceCity">
                    </div>
                    <div class="col-2 form-group">
                        <label for="userResidenceAddress" class="col-form-label col-form-label-sm text-muted">Indirizzo</label>
                        <input type="text" [(ngModel)]="user.residence.address" class="form-control form-control-sm"
                            id="userResidenceAddress" name="userResidenceAddress">
                    </div>
                </div>
            </form>
        </div>

    </div>

    <!-- Loader -->
    <div class='h-100 w-100' [hidden]="!bLoading">
        <div style="position:absolute; background-color:black; opacity:50%; right:0; top:0;" class="w-100 h-100">
            <div class="container d-flex align-items-center justify-content-center w-100 h-100">
                <div class="lds-ring"><div></div><div></div><div></div><div></div></div>
            </div>
        </div>
    </div>

</div>