<div class="main__trainings row m-3">

    <!-- FILTERS -->
    <div class="trainings__filters col-12 row mb-2 mx-0 my-0 plx-2 border">
        <div class="col-1 d-flex align-items-center border border-left-0 border-top-0 border-bottom-0">
            <h6 class="m-0">Filtri</h6><span class="fa fa-filter ml-2" style="font-size: 20px;"></span>
        </div>
        <div class="col-3 form-group pl-2 pr-1 m-0">
            <label class="col-form-label col-form-label-sm p-0 text-muted">Autore</label>
            <div class="input-group">
                <input type="text" [(ngModel)]="filters.author.name" class="form-control form-control-sm" (keyup)="filterTrainings($event)"
                    id="filterAuthorName" name="filterAuthorName" placeholder="Nome...">
                <input type="text" [(ngModel)]="filters.author.surname" class="form-control form-control-sm" (keyup)="filterTrainings($event)"
                    id="filterAuthorSurname" name="filterAuthorSurname" placeholder="Cognome...">
            </div>
        </div>
        <div class="col-3 form-group px-1 m-0">
            <label class="col-form-label col-form-label-sm p-0 text-muted">Atleta</label>
            <div class="input-group">
                <input type="text" [(ngModel)]="filters.athlete.name" class="form-control form-control-sm" (keyup)="filterTrainings($event)"
                    id="filterAtleteName" name="filterAtleteName" placeholder="Nome...">
                <input type="text" [(ngModel)]="filters.athlete.surname" class="form-control form-control-sm" (keyup)="filterTrainings($event)"
                    id="filterAtleteSurname" name="filterAtleteSurname" placeholder="Cognome...">
            </div>
        </div>
        <div class="col-1 form-group px-1 m-0">
            <label for="filterType" class="col-form-label col-form-label-sm p-0 text-muted">Tipo</label>
            <input type="text" [(ngModel)]="filters.type" class="form-control form-control-sm" id="filterType" (keyup)="filterTrainings($event)"
                name="filterType" placeholder="Tipo...">
        </div>
        <div class="col-2 form-group px-1 m-0">
            <label for="filterCreationDate" class="col-form-label col-form-label-sm p-0 text-muted">Creazione</label>
            <input type="date" [(ngModel)]="filters.creationDate" class="form-control form-control-sm" (keyup)="filterTrainings($event)" (change)="filterTrainings($event)"
                id="filterCreationDate" name="filterCreationDate">
        </div>
        <div class="col-2 form-group px-1 m-0">
            <label for="filterStartDate" class="col-form-label col-form-label-sm p-0 text-muted">Inizio</label>
            <input type="date" [(ngModel)]="filters.startDate" class="form-control form-control-sm" (keyup)="filterTrainings($event)" (change)="filterTrainings($event)"
                id="filterStartDate" name="filterStartDate">
        </div>
    </div>

    <!-- MAIN CONTAINER -->
    <div class="trainings__maincontainer card col-12 p-0 border border-secondary border main-list-table">
        <div class="maincontainer__header card-header pl-2 pr-3 border border-secondary border-top-0 border-left-0 border-right-0 d-flex flex-column bg-dark text-white">
            <div class="col-12 row m-0 p-0 d-flex align-items-center justify-content-center">
                <div class="col-2 d-flex align-items-center cursor-pointer" (click)="sortListByField('author')">
                    <div><b class="d-block">Autore</b><small class="d-block">Data creazione</small></div>
                    <div class="ml-2 fa"><span [ngClass]="{'fa fa-arrows-v': sortListStatus['author']==null, 'fa fa-long-arrow-down': sortListStatus['author']==false, 'fa fa-long-arrow-up': sortListStatus['author']==true}"></span></div>
                </div>
                <div class="col-2 d-flex align-items-center cursor-pointer" (click)="sortListByField('athletes')">
                    <div><b class="d-block">Atleta</b><small class="d-block">YoB &bull; bw</small></div>
                    <div class="ml-2 fa"><span [ngClass]="{'fa fa-arrows-v': sortListStatus['athletes']==null, 'fa fa-long-arrow-down': sortListStatus['athletes']==false, 'fa fa-long-arrow-up': sortListStatus['athletes']==true}"></span></div>
                </div>
                <div class="col-2 d-flex align-items-center cursor-pointer" (click)="sortListByField('type')">
                    <div><b>Tipo</b></div>
                    <div class="ml-2 fa"><span [ngClass]="{'fa fa-arrows-v': sortListStatus['type']==null, 'fa fa-long-arrow-down': sortListStatus['type']==false, 'fa fa-long-arrow-up': sortListStatus['type']==true}"></span></div>
                </div>
                <div class="col-2 d-flex align-items-center cursor-pointer" (click)="sortListByField('startDate')">
                    <div><b class="d-block">Data inizio</b><small class="d-block">Data fine</small></div>
                    <div class="ml-2 fa"><span [ngClass]="{'fa fa-arrows-v': sortListStatus['startDate']==null, 'fa fa-long-arrow-down': sortListStatus['startDate']==false, 'fa fa-long-arrow-up': sortListStatus['startDate']==true}"></span></div>
                </div>
                <div class="col-2 d-flex align-items-center cursor-pointer" (click)="sortListByField('comment')">
                    <div><b>Commento</b></div>
                    <div class="ml-2 fa"><span [ngClass]="{'fa fa-arrows-v': sortListStatus['comment']==null, 'fa fa-long-arrow-down': sortListStatus['comment']==false, 'fa fa-long-arrow-up': sortListStatus['comment']==true}"></span></div>
                </div>
                <div class="col-2">
                    <b>Azioni</b>
                </div>
            </div>
        </div>
        <div class="maincontainer__body card-body row w-100 align-content-start m-0 pl-2 pr-0 py-2 table-body " [hidden]="bLoading">
            <div class="h-100 w-100 d-flex flex-column align-items-center justify-content-center badge badge-light" *ngIf="trainingList.length == 0 && !bLoading">
                <img src="assets/icons/misc/alert.svg" style="width:40px; height:auto;">
                <h4>Nessun allenamento presente nella piattaforma</h4>
            </div>
            <div class="body__element list-group-item list-group-item-action list-group-item-light d-flex align-items-center overflow-visible px-0 py-1" *ngFor="let training of trainingList; index as trainingIndex; first as bFirstTraining">
                <div class="col-2">
                    <span class="d-block">{{training.author.name}} {{training.author.surname}}</span>
                    <small>{{training.creationDate | date:'dd/MM/yyyy'}}</small>
                </div>
                <div class="col-2" [ngbTooltip]="athletesTooltipContent" [placement]="bFirstTraining ? 'right' : 'top'">
                    <div *ngIf="account.user._id == training.author._id"> 
                        <div *ngFor="let athlete of training.athletes">
                            <div class="truncate-fullwidth">{{athlete.name}} {{athlete.surname}} ({{athlete.dateOfBirth | date:'yyyy'}} &bull; {{athlete.bodyWeight}} kg)</div>
                        </div>
                    </div>
                    <div *ngIf="account.user._id != training.author._id">{{account.user.name}} {{account.user.surname}} ({{account.user.dateOfBirth | date:'yyyy'}} &bull; {{account.user.bodyWeight}} kg)</div>
                    
                    <ng-template #athletesTooltipContent>
                        <div *ngIf="account.user._id == training.author._id"> 
                            <div *ngFor="let athlete of training.athletes"  class="text-left">
                                <small>{{athlete.name}} {{athlete.surname}} ({{athlete.dateOfBirth | date:'yyyy'}} &bull; {{athlete.bodyWeight}} kg)</small>
                            </div>
                        </div>
                        <div>
                            <small *ngIf="account.user._id != training.author._id">{{account.user.name}} {{account.user.surname}} ({{account.user.dateOfBirth | date:'yyyy'}} &bull; {{account.user.bodyWeight}} kg)</small>
                        </div>
                    </ng-template>
                </div>
                <div class="col-2"><span>{{training.type}}</span></div>
                <div class="col-2">
                    <span class="d-block">{{training.startDate | date:'dd/MM/yyyy'}}</span>
                    <small>{{training.endDate | date:'dd/MM/yyyy'}}</small>
                </div>
                <div class="col-2"><span>{{training.comment != "" ? training.comment : "Nessun Commento"}}</span></div>
                <div class="col-2 d-flex">
                    <div (click)="openPageWithMode(PAGEMODE.READONLY, PAGES.TRAININGS, training._id)" class="image-button" ngbTooltip="Visualizza" placement="left"><img src="assets/icons/actions/visibility.svg" style="width:20px; height:auto;"></div>
                    <div *ngIf="((account.user.userType=='both' || account.user.userType=='coach') && training.author._id == account.user._id)" (click)="openPageWithMode(PAGEMODE.WRITE, PAGES.TRAININGS, training._id)" class="ml-2 image-button" ngbTooltip="Modifica" placement="left"><img src="assets/icons/actions/edit.svg" style="width:20px; height:auto;"></div>
                    <div (click)="openPageWithMode(PAGEMODE.STATS, PAGES.TRAININGS, training._id)" class="ml-2 image-button" ngbTooltip="Statistiche" placement="left"><img src="assets/icons/actions/graph.svg" style="width:20px; height:auto;"></div>
                    <div *ngIf="((account.user.userType=='both' || account.user.userType=='coach') && training.author._id == account.user._id)" (click)="exportTraining(elem)" class="ml-2 image-button" ngbTooltip="Esporta Allenamento" placement="left"><img src="assets/icons/actions/export.svg" style="width:20px; height:auto;"></div>
                    <div *ngIf="((account.user.userType=='both' || account.user.userType=='coach') && training.author._id == account.user._id)" (click)="deleteTraining(training._id, trainingIndex)" class="ml-2 image-button" ngbTooltip="Elimina" placement="left"><img src="assets/icons/actions/garbage-can.svg" style="width:20px; height:auto;"></div>
                </div>
            </div>
            <div class="bottom-right-absolute d-flex">
                <div *ngIf="trainingList.length > 0 && (account.user.userType=='both' || account.user.userType=='coach')" (click)="exportAllTrainings()" class="image-button-big" ngbTooltip="Esporta tutti gli allenamenti" placement="top"><img src="assets/icons/actions/export.svg" style="width:40px; height:auto;"></div>    
                <div *ngIf="(account.user.userType=='both' || account.user.userType == 'coach')" class="ml-2">
                    <app-training-modal (onClose)="createTraining()" [(newTraining)] = "newTraining" [(originalAthleteList)]="athleteList" [(athleteList)] = "athleteList">
                        <div class="image-button-big cursor-pointer" ngbTooltip="Nuovo Allenamento" placement="top"><img src="assets/icons/actions/plus.svg" style="width:40px; height:auto;"></div>
                    </app-training-modal>
                </div>    
            </div>
        </div>
    </div>

     <!-- Loader -->
     <div class='h-100 w-100' [hidden]="!bLoading">
        <div style="position:absolute; background-color:black; opacity:50%; right:0; top:0;" class="w-100 h-100">
            <div class="container d-flex align-items-center justify-content-center w-100 h-100">
                <div class="lds-ring"><div></div><div></div><div></div><div></div></div>
            </div>
        </div>
    </div>
</div>