<div class="main__account row m-1 m-md-3">

    <div class="account__maincontainer col-12 card p-0">

        <div class="maincontainer__header card-header px-0">
            <div class="d-flex align-items-center">
                <h4 class="m-0 h4" *ngIf="account.user">{{account.user.name}} {{account.user.surname}} </h4>

                <div class="d-flex input-group w-auto ml-auto">
                    <div class="input-group-prepend d-none d-md-inline"><span class="input-group-text">AZIONI</span></div>
                    <div class="d-flex align-items-center form-control round-right-5 round-md-5">
                        <div (click)="deleteAccount()" class="image-button" ngbTooltip="Elimina" placement="left"><img src="assets/icons/actions/garbage-can.svg" style="width:20px; height:auto;"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="maincontainer__body card-body">

            <form [formGroup]="form" (ngSubmit)="onSubmit()">

                <!-- USER INFORMATIONS -->
                <div class="row m-0"><h5>User Informations</h5></div>
                <div class="form-row m-0">
                    <!-- Name -->
                    <div class="col-12 col-md-6 col-xl-4 form-group">
                        <label class="col-form-label col-form-label-sm text-muted">Nome</label>
                        <input type="text" maxlength="30" formControlName="name" class="form-control form-control-sm" [ngClass]="{ 'is-invalid': submitted && f.name.errors }" />
                        <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                            <div *ngIf="f.name.errors.required">Nome obbligatorio</div>
                        </div>
                    </div>
        
                    <!-- Surname -->
                    <div class="col-12 col-md-6 col-xl-4 form-group">
                        <label class="col-form-label col-form-label-sm text-muted">Cognome</label>
                        <input type="text" maxlength="30" formControlName="surname" class="form-control form-control-sm" [ngClass]="{ 'is-invalid': submitted && f.surname.errors }" />
                        <div *ngIf="submitted && f.surname.errors" class="invalid-feedback">
                            <div *ngIf="f.surname.errors.required">Cognome obbligatorio</div>
                        </div>
                    </div>
        
                    <!-- User Type -->
                    <div class="col-12 col-md-6 col-lg-4 form-group">
                        <label class="col-form-label col-form-label-sm text-muted">Tipo Utente</label>
                        <select formControlName="userType" class="form-control form-control-sm" [ngClass]="{'is-invalid': submitted && f.userType.errors }">
                            <option value="coach">Coach</option>
                            <option value="athlete">Athlete</option>
                            <option value="both">Both</option>
                        </select>
                        <div *ngIf="submitted && f.userType.errors" class="invalid-feedback">
                            <div *ngIf="f.userType.errors.required">Tipo utente obbligatorio</div>
                        </div>
                    </div>
    
                    <!-- Date of Birth -->
                    <div class="col-12 col-md-6 col-lg-4 col-xl-3 form-group">
                        <label for="userDoB" class="col-form-label col-form-label-sm text-muted">Data di nascita</label>
                        <input type="date" formControlName="dateOfBirth" class="form-control form-control-sm" [ngClass]="{'is-invalid': submitted && f.dateOfBirth.errors}"/>
                    </div>
        
                    <!-- User Sex -->
                    <div class="col-12 col-md-6 col-lg-4 col-xl-3 form-group">
                        <label for="userSex" class="col-form-label col-form-label-sm text-muted">Sesso</label>
                        <select formControlName="sex" class="form-control form-control-sm" [ngClass]="{'is-invalid': submitted && f.sex.errors}">
                            <option [value]="'M'">Uomo</option>
                            <option [value]="'F'">Donna</option>
                        </select>
                    </div>
        
                    <!-- Body Weight -->
                    <div class="col-12 col-md-6 col-lg-4 col-xl-3 form-group">
                        <label for="userBw" class="col-form-label col-form-label-sm text-muted">Peso Corporeo</label>
                        <input type="number" min=10 max=500 formControlName="bodyWeight" class="form-control form-control-sm" [ngClass]="{'is-invalid': submitted && f.bodyWeight.errors}">
                    </div>
        
                    <!-- Years of experience -->
                    <div class="col-12 col-md-6 col-lg-4 col-xl-3 form-group">
                        <label for="userYearsOfExperience" class="col-form-label col-form-label-sm text-muted">Esperienza (anni)</label>
                        <input type="number" min=0 max=100 formControlName="yearsOfExperience" class="form-control form-control-sm" [ngClass]="{'is-invalid': submitted && f.yearsOfExperience.errors }">
                    </div>
        
                    <div class="d-none d-md-block d-lg-none col-6 "></div>

                     <!-- Email -->
                     <div class="col-12 col-md-6 form-group">
                        <label for="userContactsEmail" class="col-form-label col-form-label-sm text-muted">Email</label>
                        <input type="email" maxlength="100" formControlName="userEmail" required class="form-control form-control-sm" [ngClass]="{'is-invalid': submitted && f.userEmail.errors}"/>
                        <div *ngIf="submitted && f.userEmail.errors" class="invalid-feedback">
                            <div *ngIf="f.userEmail.errors.email">Email deve contenere un'email valida</div>
                        </div>
                    </div>

                    <!-- Telephone -->
                    <div class="col-12 col-md-6 form-group">
                        <label for="userContactsTelephone"
                            class="col-form-label col-form-label-sm text-muted">Telefono</label>
                        <input type="tel" max="15" formControlName="telephone" class="form-control form-control-sm" [ngClass]="{'is-invalid': submitted && f.telephone.errors}"/>
                    </div>
        
                    <!-- Residence State -->
                    <div class="col-12 col-md-6 col-xl-4 form-group">
                        <label for="userResidenceState" class="col-form-label col-form-label-sm text-muted">Stato</label>
                        <input type="text" maxlength="100" formControlName="residenceState" class="form-control form-control-sm" [ngClass]="{'is-invalid': submitted && f.residenceState.errors}"/>
                    </div>
        
                    <!-- Residence City -->
                    <div class="col-12 col-md-6 col-xl-4 form-group">
                        <label for="userResidenceCity" class="col-form-label col-form-label-sm text-muted">Città</label>
                        <input type="text" maxlength="100" formControlName="residenceCity" class="form-control form-control-sm" [ngClass]="{'is-invalid': submitted && f.residenceCity.errors}"/>
                    </div>
        
                    <!-- Residence Address -->
                    <div class="col-12 col-md-6 col-xl-4 form-group">
                        <label for="userResidenceAddress" class="col-form-label col-form-label-sm text-muted">Indirizzo</label>
                        <input type="text" maxlength="100" formControlName="residenceAddress" class="form-control form-control-sm" [ngClass]="{'is-invalid': submitted && f.residenceAddress.errors}"/>
                    </div>
                </div>
    
    
                <!-- ACCOUNT INFORMATIONS -->
                <div class="row m-0"><h5>Account Informations</h5></div>
                <div class="form-row m-0">
                    <!-- Email -->
                    <div class="col-12 col-md-8 form-group">
                        <label class="col-form-label col-form-label-sm text-muted">Email</label>
                        <input type="text" maxlength="100" formControlName="email" class="form-control form-control-sm" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                            <div *ngIf="f.email.errors.required">Email obbligatoria</div>
                            <div *ngIf="f.email.errors.email">Email deve contenere un'email valida</div>
                        </div>
                    </div>
    
                    <!-- Role -->
                    <div class="col-12 col-md-4 form-group">
                        <label class="col-form-label col-form-label-sm text-muted">Ruolo</label>
                        <select formControlName="role" class="form-control form-control-sm" [ngClass]="{ 'is-invalid': submitted && f.role.errors }">
                            <option value="User">User</option>
                            <option value="Admin">Admin</option>
                        </select>
                        <div *ngIf="submitted && f.role.errors" class="invalid-feedback">
                            <div *ngIf="f.role.errors.required">Ruolo obbligatorio</div>
                        </div>
                    </div>
    
                    <!-- Password -->
                    <div class="col-12 col-xl-6 form-group">
                        <label class="col-form-label col-form-label-sm text-muted">Password <span>(Lasciare vuoto per mantenere la stessa password)</span></label>
                        <input type="password" maxlength="30" formControlName="password" class="form-control form-control-sm" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                            <div *ngIf="f.password.errors.required">Password obbligatoria</div>
                            <div *ngIf="f.password.errors.minlength">Password deve essere di almeno 6 caratteri</div>
                        </div>
                    </div>
                    <div class="col-12 col-xl-6 form-group">
                        <label class="col-form-label col-form-label-sm text-muted">Conferma Password <span>(Lasciare vuoto per mantenere la stessa password)</span></label>
                        <input type="password" maxlength="30" formControlName="confirmPassword" class="form-control form-control-sm" [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }" />
                        <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
                            <div *ngIf="f.confirmPassword.errors.required">Conferma Password obbligatoria</div>
                            <div *ngIf="f.confirmPassword.errors.mustMatch">Le password devono corrispondere</div>
                        </div>
                    </div>
                </div>
    
                <!-- ACTIONS -->
                <div class="bottom-right-absolute form-group d-flex align-items-center justify-content-end">
                    <button [disabled]="bLoading" class="btn btn-sm-sm btn-success mr-2">Salva</button>
                    <a routerLink="/admin/accounts" class="btn btn-sm-sm btn-secondary">Annulla</a>
                </div>
            </form>
        </div>

        <!-- Loader -->
        <div class='h-100 w-100' [hidden]="!bLoading">
            <div style="position:absolute; background-color:black; opacity:50%; right:0; top:0;" class="w-100 h-100">
                <div class="container d-flex align-items-center justify-content-center w-100 h-100">
                    <div class="lds-ring"><div></div><div></div><div></div><div></div></div>
                </div>
            </div>
        </div>
    </div>

</div>