@use "../app.component";

$menu-blue: #0f1042e6;
$custom-cyan: rgb(112 181 249 / 20%);
$custom-cyan-hover: rgb(112 181 249 / 40%);
$custom-lightgray: rgb(179 179 179 / 15%);

/* COLOURS */
.bg-custom-cyan {
  background-color: $custom-cyan !important;
}

.bg-custom-lightgray {
  background-color: $custom-lightgray !important;
}

/* ANIM */
.whiteFlashBlink {
  animation: blinker 1s linear;
}

@keyframes blinker {
  50% {
    opacity: .5;
  }
}


/* MISCELLANEOUS */
.v-hidden {
  visibility: hidden;
}
.v-initial {
  visibility: initial;
}
.v-initial-sm {
  @media (min-width: 576px) {
    visibility: initial !important;
  }
}
.v-initial-md {
  @media (min-width: 768px) {
    visibility: initial !important;
  }
}
.v-initial-lg {
  @media (min-width: 992px) {
    visibility: initial !important;
  }
}
.v-initial-xl {
  @media (min-width: 1200px) {
    visibility: initial !important;
  }
}

.standard-icon-lg {
  width: 24px;
  height: auto;
  @media (max-width: 991.98px) {
    width: 15px;
  }
}

.standard-icon-md {
  width: 24px;
  height: auto;
  @media (max-width: 767.98px) {
    width: 15px;
  }
}

.table-icon-lg {
  width:30px; 
  height:auto;
  @media (max-width: 767.98px) {
    width: 20px;
  }
}

.table-icon-md {
  width:24px; 
  height:auto;
  @media (max-width: 767.98px) {
    width: 20px;
  }
}

.illustration {
  background: #e0eafc !important;
  color: #3f80ea !important;
}

.illustration-text {
  color: #3f80ea;
}

.illustration-img {
  max-width: 150px;
  width: 100%;
}

@media (min-width: 1440px) {
  .illustration-img {
    max-width: 175px;
  }
}

.flex-fill {
  flex: 1 1 auto!important;
}

.media {
  display: flex;
  align-items: flex-start;
}

.media-body {
  flex: 1;
}

.d-inline-block {
  display: inline-block!important;
}

.stat {
  background: #e0eafc;
    border-radius: 50%;
    /* padding: 0.75rem; */
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.stat svg {
  width: 24px;
  height: 24px;
  color: #3f80ea!important;
}

.loading-overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.6);
}

.box-shadow-5 {
  box-shadow: 2px 2px 5px rgba(0,0,0,.5);
}

.sub-header {
  font-size: small;
  font-style: italic;
}

.bg-lightdark {
  background-color: rgba(0, 0, 0, 0.6) !important;
}

.border-lightdark {
  border-color: rgba(0, 0, 0, 0.6) !important;
}

.bottom-right-fixed {
  position: fixed; 
  right: 32px; 
  bottom: 38px;
  z-index: 15;
}

.bottom-right-absolute {
  position: absolute; 
  right: 15px; 
  bottom: 15px;
  z-index: 15;
}

[hidden] {
  display: none !important;
}

.display-inline {
  display: inline !important;
}

.display-block {
  display: block !important;
}

// Flexbox elements
.margin-right-1 {
  margin-right: .1%;
}

.flex-1 {
  flex: 0 0 100%;
}

@for $i from 2 through 8 {
  .flex-#{$i} {
    flex: 0 0 (100%/$i - (0.1%*($i - 1)/$i));
  }
}

.w-auto {
  width: auto !important;
}

.h-auto {
  height: auto !important;
}

.cursor-pointer {
  cursor: pointer !important;
}

.cursor-not-allowed {
  cursor: not-allowed !important;
}

.overflow-auto {
  overflow: auto !important;
}

.overflow-visible {
  overflow: visible !important;
}

.overflow-hidden {
  overflow: hidden !important;
}

/* LINK STYLE */
.link-text {
  text-decoration: none;
  color: black;
  display: inline-block;

  &:hover {
    color: $menu-blue;
    text-decoration: none;
  }
}

.link-text-inline {
  text-decoration: none;
  color: black;

  &:hover {
    color: $menu-blue;
    text-decoration: none;
  }
}

/* BUTTON STYLE */
.normal-button {
  text-decoration: none;
  color: white;

  &:hover,
  &:active {
    color: white;
    text-decoration: none;
    display: inline-block;
  }
}

.image-button {
  cursor: pointer;
  display: flex;
  align-items: center;

  @media screen and (max-width: 1400px) {
    img {
      width: 14px !important;
      height: auto;
    }
  }

  &:hover {
    opacity: 75%;
  }
}

.inverse-image-button {
  cursor: pointer;
  opacity: 30%; 

  @media screen and (max-width: 1400px) {
    img {
      width: 14px !important;
      height: auto;
    }
  }

  &:hover {
    opacity: 75%;
  }

  &.active {
    opacity: 100%;
  }
}

.list-group-item-action:hover, .list-group-item-action:focus {
  z-index: 0 !important;
}

.list-group-item-cyan {
  background-color: $custom-cyan !important;

  &:hover {
    background-color: $custom-cyan-hover !important;
  }
}

.image-button-big {
  cursor: pointer;
  z-index: 1 !important;

  @media screen and (max-width: 1400px) {
    img {
      width: 30px !important;
      height: auto;
    }
  }

  &:hover {
    opacity: .75;
  }
}

.link-image-fontawesome {
  cursor: pointer;
  text-decoration: none;

  &:hover,
  &:active {
    text-decoration: none;
    opacity: 65%;
  }
}

.link-button {
  cursor: pointer;
  text-decoration: none;
  color: white;

  &:hover,
  &:active {
    color: white;
    text-decoration: none;
    display: inline-block;
  }
}

.text-button {
  text-decoration: none;
  color: black;
  display: inline-block;

  &:hover {
    color: $menu-blue;
    text-decoration: none;
  }
}

.text-button {
  text-decoration: none;
  color: black;
  display: inline;

  &:hover {
    color: $menu-blue;
    text-decoration: none;
  }
}

.tooltip-btn-container {
  display: inline-block;
  position: relative;

  [disabled] {
    pointer-events: none;
  }
}

.tooltip-inner {
  @media (max-width: 991.98px) { 
    font-size: .7rem !important;
  }
}

/* DIV STYLE */
@for $i from 1 through 10 {
  .opacity-#{$i} {
    opacity: 0.1 * $i;
  }
}

@for $i from 0 through 9 {
  .w-#{$i*10} {
    width: $i * 10% !important;
  }
}

@for $i from 0 through 9 {
  .h-#{$i*10} {
    height: $i * 10% !important;
  }
}

@for $i from 6 through 9 {
  .p-#{$i*1} {
    padding: $i * 1rem !important;
  }
}

@for $i from 6 through 9 {
  .pt-#{$i*1} {
    padding-top: $i * 1rem !important;
  }
}

@for $i from 6 through 9 {
  .pb-#{$i*1} {
    padding-bottom: $i * 1rem !important;
  }
}

@for $i from 6 through 9 {
  .pr-#{$i*1} {
    padding-right: $i * 1rem !important;
  }
}

@for $i from 6 through 9 {
  .pl-#{$i*1} {
    padding-left: $i * 1rem !important;
  }
}

.overlay-full-center {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  overflow: hidden;

  .content {
    display: none;
  }

  &:hover {
    background-color: rgba(0, 0, 0, 0.4);
    cursor: pointer;

    .content {
      width: 100%;
      height: 100%;
      color: white;
      display: flex !important;
      align-items: center !important;
      justify-content: center !important;
      overflow: hidden;
    }
  }
}

.overlay-full-bottomright {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  overflow: hidden;

  .content {
    display: none;
  }

  &:hover {
    background-color: rgba(0, 0, 0, 0.4);
    cursor: pointer;

    .content {
      width: 100%;
      height: 100%;
      color: white;
      display: flex !important;
      align-items: flex-end !important;
      justify-content: flex-end !important;
      overflow: hidden;
    }
  }
}

.position-relative {
  position: relative !important;
}

.position-absolute {
  position: absolute !important;
}

.button-tooltip {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}

/* FONT STYLE */
@for $i from 1 through 9 {
  .font-weight-#{$i}00 {
    font-weight: 100 * $i;
  }
}

@for $i from 1 through 30 {
  .font-size-#{$i} {
    font-size: 0.1rem * $i;
  }
}

@for $i from 1 through 30 {
  .font-size-md-#{$i} {
    @media (max-width: 767.98px) { 
      font-size: 0.1rem * $i !important;
    }
  }
}

@for $i from 1 through 30 {
  .font-size-sm-#{$i} {
    @media (max-width: 575.98px) { 
      font-size: 0.1rem * $i !important;
    }
  }
}


/* TEXT STYLE */
.white-space-initial {
  white-space: initial !important;
}

.truncate {
  width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.truncate-fullwidth {
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis; 
}

.truncate-list-elem-overflow {
  position: relative;
  max-height: 75px;
  overflow: hidden;
  padding-right: 1rem; /* space for ellipsis */
  background-color: inherit;
}
.truncate-list-elem-overflow::before {
  position: absolute;
  content: "...";
  inset-block-end: 0; /* "bottom" */
  inset-inline-end: 0; /* "right" */
  font-size: .9rem !important;
}
.truncate-list-elem-overflow::after {
  content: "";
  position: absolute;
  inset-inline-end: 0; /* "right" */
  width: 1rem;
  height: 1rem;
  background-color: inherit;
  font-size: .9rem !important;
}

.text-decoration-none {
  text-decoration: none;
}


/* TABLES STYLE */
.main-list-table {

  .table-header {
    @media (max-width: 767.98px) {
      font-size: .8rem;

      b {
        font-size: .8rem;
      }
    }
  }

  .table-body {
    font-size: .8rem;

    .table-body-accordion {
      .card {
        overflow: visible !important;
      }

      .card-header {
        padding: 0px !important;
      }

      .card-body {
        font-size: .7rem !important;
        padding: .5rem 0px .5rem 0px !important;

        @media (min-width: 768px) {
          display: none !important;
        }
      }
    }
  }
}

/* BORDER STYLE */
.border-bottom-only {
  border-left: 0px !important;
  border-top: 0px !important;
  border-right: 0px !important;
  border-radius: 0px !important;
}

.border-left-xl {
  @media (min-width: 1200px) { 
    border-left: 1px solid #dee2e6 !important;
  }
}
.border-left-lg {
  @media (min-width: 992px) { 
    border-left: 1px solid #dee2e6 !important;
  }
}
.border-left-md {
  @media (min-width: 768px) { 
    border-left: 1px solid #dee2e6 !important;
  }
}
.border-left-sm {
  @media (min-width: 576px) { 
    border-left: 1px solid #dee2e6 !important;
  }
}

// Border radius
@for $i from 0 through 9 {
  .round-#{$i} {
    border-radius: $i * 1px !important;
  }
}
@for $i from 0 through 9 {
  .round-right-#{$i} {
    border-radius: 0 $i * 1px $i * 1px 0 !important;
  }
}

@for $i from 0 through 9 {
  .round-bottom-#{$i} {
    border-radius: 0 0 $i * 1px $i * 1px !important;
  }
}

@for $i from 0 through 9 {
  .round-md-#{$i} {
    @media (max-width: 767.98px) {
      border-radius: $i * 1px !important;
    }
  }
}
@for $i from 0 through 9 {
  .round-right-md-#{$i} {
    @media (max-width: 767.98px) {
      border-radius: 0 $i * 1px $i * 1px 0 !important;
    }
  }
}

.rounded-right {
  border-radius: 0rem 0.25rem 0.25rem 0rem !important;
}

.rounded-left {
  border-radius: 0.25rem 0rem 0rem 0.25rem !important;
}

@for $i from 0 through 9 {
  .round-left-#{$i} {
    border-top-left-radius: $i * 1px !important;
    border-bottom-left-radius: $i * 1px !important;
  }
}

@for $i from 0 through 9 {
  .round-top-#{$i} {
    border-top-left-radius: $i * 1px !important;
    border-top-right-radius: $i * 1px !important;
  }
}

@for $i from 0 through 9 {
  .round-right-#{$i} {
    border-top-right-radius: $i * 1px !important;
    border-bottom-right-radius: $i * 1px !important;
  }
}

@for $i from 0 through 9 {
  .round-bottom-#{$i} {
    border-top-left-radius: $i * 1px !important;
    border-bottom-left-radius: $i * 1px !important;
  }
}


/* MODAL STYLE */
.modal-lg {
  max-width: 1200px !important;
}

.modal-container {
  overflow: visible;
}


/******** VARIOUS COMPONENTS ********/

// Ng Bootstrap datepicker
.form-group.hidden {
  width: 0;
  margin: 0;
  border: none;
  padding: 0;
}
.custom-day {
  text-align: center;
  padding: 0.185rem 0.25rem;
  display: inline-block;
  height: 2rem;
  width: 2rem;
}
.custom-day.focused {
  background-color: #e6e6e6;
}
.custom-day.range, .custom-day:hover {
  background-color: rgb(2, 117, 216);
  color: white;
}
.custom-day.faded {
  background-color: rgba(2, 117, 216, 0.5);
}
button.calendar, button.calendar:active {
  width: 2.75rem;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACIAAAAcCAYAAAAEN20fAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAOxAAADsQBlSsOGwAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAAEUSURBVEiJ7ZQxToVAEIY/YCHGxN6XGOIpnpaEsBSeQC9ArZbm9TZ6ADyBNzAhQGGl8Riv4BLAWAgmkpBYkH1b8FWT2WK/zJ8ZJ4qiI6XUI3ANnGKWBnht2/ZBDRK3hgVGNsCd7/ui+JkEIrKtqurLpEWaphd933+IyI3LEIdpCYCiKD6HcuOa/nwOa0ScJEnk0BJg0UTUWJRl6RxCYEzEmomsIlPU3IPW+grIAbquy+q6fluy/28RIBeRMwDXdXMgXLj/B2uimRXpui4D9sBeRLKl+1N+L+t6RwbWrZliTTTr1oxYtzVWiTQAcRxvTX+eJMnlUDaO1vpZRO5NS0x48sIwfPc87xg4B04MCzQi8hIEwe4bl1DnFMCN2zsAAAAASUVORK5CYII=') !important;
  background-repeat: no-repeat;
  background-size: 23px;
  background-position: center;
}
th[sortable] {
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
}
th[sortable].desc:before, th[sortable].asc:before {
  content: '';
  display: block;
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAYAAACqaXHeAAAAAXNSR0IArs4c6QAAAmxJREFUeAHtmksrRVEUx72fH8CIGQNJkpGUUmakDEiZSJRIZsRQmCkTJRmZmJgQE0kpX0D5DJKJgff7v+ru2u3O3vvc67TOvsdatdrnnP1Y///v7HvvubdbUiIhBISAEBACQkAICAEhIAQ4CXSh2DnyDfmCPEG2Iv9F9MPlM/LHyAecdyMzHYNwR3fdNK/OH9HXl1UCozD24TCvILxizEDWIEzA0FcM8woCgRrJCoS5PIwrANQSMAJX1LEI9bqpQo4JYNFFKRSvIgsxHDVnqZgIkPnNBM0rIGtYk9YOOsqgbgepRCfdbmFtqhFkVEDVPjJp0+Z6e6hRHhqBKgg6ZDCvYBygVmUoEGoh5JTRvIJwhJo1aUOoh4CLPMyvxxi7EWOMgnCGsXXI1GIXlZUYX7ucU+kbR8NW8lh3O7cue0Pk32MKndfUxQFAwxdirk3fHappAnc0oqDPzDfGTBrCfHP04dM4oTV8cxr0SVzH9FF07xD3ib6xCDE+M+aUcVygtWzzbtGX2rPBrEUYfecfQkaFzYi6HjVnGBdtL7epqAlc1+jRdAap74RrnPc4BCijttY2tRcdN0g17w7HqZrXhdJTYAuS3hd8z+vKgK3V1zWPae0mZDMykadBn1hTQBLnZNwVrJpSe/NwEeDsEwCctEOsJTsgxLvCqUl2ACftEGvJDgjxrnBqkh3ASTvEWrIDQrwrnJpkB3DSDrGW7IAQ7wqnJtkBnLRztejXXVu4+mxz/nQ9jR1w5VB86ejLTFcnnDwhzV+F6T+CHZlx6THSjn76eyyBIOPHyDakhBAQAkJACAgBISAEhIAQYCLwC8JxpAmsEGt6AAAAAElFTkSuQmCC') no-repeat;
  background-size: 22px;
  width: 22px;
  height: 22px;
  float: left;
  margin-left: -22px;
}
th[sortable].desc:before {
  transform: rotate(180deg);
  -ms-transform: rotate(180deg);
}

ngbd-table-filtering span.ngb-highlight {
  background-color: yellow;
}

ngbd-table-complete span.ngb-highlight {
  background-color: yellow;
}
ngb-carousel .picsum-img-wrapper {
  position: relative;
  height: 0;
  padding-top: 55%; /* Keep ratio for 900x500 images */
}
ngb-carousel .picsum-img-wrapper>img {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

// NavBar and dropdown improvements
.nav-item {
  .indicator {
    background: #3f80ea;
    box-shadow: 0 0.1rem 0.2rem rgb(0 0 0 / 5%);
    border-radius: 50%;
    display: block;
    height: 18px;
    width: 18px;
    padding: 1px;
    position: absolute;
    top: 0;
    right: -8px;
    text-align: center;
    transition: top .1s ease-out;
    font-size: .675rem;
    color: #fff;
  }
}

.nav-flag, .nav-icon {
  padding: .1rem .8rem;
  display: block;
  font-size: 1.5rem;
  color: #6c757d;
  transition: background .1s ease-in-out,color .1s ease-in-out;
  line-height: 1.4;

  &.dropdown-toggle::after {
    display: none !important;
  }
}

.dropdown .dropdown-menu.show {
  animation-name: dropdownAnimation;
  animation-duration: .5s;
  animation-iteration-count: 1;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}

.dropdown-menu-header {
  padding: .75rem;
  text-align: center;
  font-weight: 500;
  border-bottom: 1px solid #dee6ed;
}

.dropdown-menu-footer {
  padding: .5rem;
  text-align: center;
  display: block;
  font-size: .75rem;
}

.avatar-sm {
  width: 30px;
  height: 30px;
}

.avatar {
  margin-top: -15px;
  margin-bottom: -15px;
  width: 40px;
  height: 40px;
}


.rounded-circle {
  border-radius: 50%!important;
}

.img-fluid, .img-thumbnail {
  max-width: 100%;
  height: auto;
}

.list-group {
  a {
    cursor: pointer !important;
    
    &:hover {
      text-decoration: none;
    }
  }
}

.list-group-item {
  &:hover {
    background: #f4f7f9;
  }
}


.dropdown-menu-lg {
  min-width: 20rem !important;
}

@media (max-width: 767.98px) {
  .navbar-expand .navbar-nav .dropdown-menu-lg {
    min-width: 100% !important;
  }
}

.dropdown-no-arrow {
  .dropdown-toggle::after {
    content: none;
  }
}


/* loader */
.lds-ring {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 51px;
  height: 51px;
  margin: 6px;
  border: 6px solid #cef;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #cef transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* TINY MCE */
.tiniMCE-container {
  .tox {
    height: calc(100vh - 180px) !important;
  }

  .button-container {
    position:absolute; 
    z-index: 2; 
    top:5px; 
    right: 5px;
  }
}

/* BOOTSTRAP RE-DEFINITION */
.multiselect-dropdown {
  .disabled {
    .dropdown-btn {
      background-color: white !important;
      border: 0 !important;
    }
  }
}

.modal-dialog-scrollable .modal-content {
  overflow-y: auto !important;
}

.form-control-sm {
  height: calc(1.2em + 0.5rem + 2px) !important;
  padding: 0.15rem 0.4rem !important;
  font-size: 0.875rem !important;
  line-height: 1.2 !important;
  border-radius: 0.2rem !important;
}
.form-control-sm-max-md {
  @media (max-width: 767.98px) {
    font-size: .8rem !important;
    height: calc(1.2em + .3rem + 2px) !important;
  }
}

/* MEDIA QUERIES */
@for $i from 0 through 100 {
  .w-sm-#{$i} {
    @media (max-width: 575.98px) { 
      width: $i*1% !important;
    }
  }
}
@for $i from 0 through 100 {
  .h-sm-#{$i} {
    @media (max-width: 575.98px) { 
      height: $i*1% !important;
    }
  }
}

.h-vh-fixed {
  @media (max-width: 767.98px) {
    height: 100% !important;
  }
}

.h6 {
  font-size: 1rem;
  word-break: break-all;
  @media (max-width: 767.98px) {
    font-size: .8rem !important;
  }
}

.h5 {
  font-size: 1.25rem;
  word-break: break-all;
  @media (max-width: 767.98px) {
    font-size: 1rem !important;
  }
}

.h4 {
  font-size: 1.5rem;
  word-break: break-all;
  @media (max-width: 767.98px) {
    font-size: 1.2rem !important;
  }
}

.h2 {
  font-size: 2rem;
  word-break: break-all;
  @media (max-width: 767.98px) {
    font-size: 1.6rem !important;
  }
}

.form-control-max-xxl {
  @media (max-width: 1400px) { 
    height: calc(1.2em + 0.5rem + 2px) !important;
    padding: 0.15rem 0.4rem !important;
    font-size: 0.875rem !important;
    line-height: 1.2 !important;
    border-radius: 0.2rem !important;
  }
}

.form-control-max-xl {
  @media (max-width: 1199.98px) {
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
}

.form-control-min-xl {
  @media (min-width: 1200px) { 
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
}

.input-group-text-min-xl {
  @media (min-width: 1200px) { 
      display: flex;
      align-items: center;
      padding: 0.375rem 0.75rem;
      margin-bottom: 0;
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.5;
      color: #495057;
      text-align: center;
      white-space: nowrap;
      background-color: #e9ecef;
      border: 1px solid #ced4da;
      border-radius: 0.25rem 0 0 0.25rem;
  }
}

.col-form-label-max-xl {
  @media (max-width: 1400px) { 
    padding-top: calc(0.25rem + 1px) !important;
    padding-bottom: calc(0.25rem + 1px) !important;
    font-size: 0.875rem !important;
    line-height: 1.5 !important;
  }
}

.col-form-label-sm {
  @media (max-width: 767.98px) {
    font-size: .8rem !important;
  }
  @media (max-width: 575.98px) { 
    font-size: .7rem !important;
  }
}

.btn-no-focus {
  &:focus {
    box-shadow: none !important;
  }
}

.btn-transparent {
  padding: 0px !important;
  background-color: transparent !important;
  border: 0px !important;
  &:focus {
    box-shadow: none !important;
  }
}

.btn-sm-sm {
  @media (max-width: 575.98px) { 
    padding: 0.25rem 0.5rem !important;
    font-size: 0.875rem !important;
    line-height: 1.5 !important;
    border-radius: 0.2rem !important;
  }
}


