.main__header {
  cursor: default;
  height: 44px;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2);
}
.main__header .account-info {
  position: absolute;
  right: 16px;
  bottom: 3px;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
}

.main-content {
  /* ===== Scrollbar ===== */
  /* Customize website's scrollbar like Mac OS
  Not supports in Firefox and IE */
  /* total width */
  /* background of the scrollbar except button or resizer */
  /* scrollbar itself */
  /* set button(top and bottom of the scrollbar) */
  /* ===== END SCROLLBAR ===== */
}
.main-content ::-webkit-scrollbar {
  background-color: #fff;
  width: 15px;
}
.main-content ::-webkit-scrollbar-track {
  background-color: #fff;
}
.main-content ::-webkit-scrollbar-track:hover {
  background-color: #f4f4f4;
}
.main-content ::-webkit-scrollbar-thumb {
  background-color: #babac0;
  border-radius: 16px;
  border: 4px solid #fff;
}
.main-content ::-webkit-scrollbar-thumb:hover {
  background-color: #a0a0a5;
  border: 2px solid #f4f4f4;
}
.main-content ::-webkit-scrollbar-button {
  display: none;
}

/* COLOURS */
.bg-cyan {
  background-color: rgba(112, 181, 249, 0.2) !important;
}

/* MISCELLANEOUS */
.loading-overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.box-shadow-5 {
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.sub-header {
  font-size: small;
  font-style: italic;
}

.bg-lightdark {
  background-color: rgba(0, 0, 0, 0.6) !important;
}

.border-lightdark {
  border-color: rgba(0, 0, 0, 0.6) !important;
}

.bottom-right-absolute {
  position: absolute;
  right: 15px;
  bottom: 15px;
}

[hidden] {
  display: none !important;
}

.display-inline {
  display: inline !important;
}

.display-block {
  display: block !important;
}

.margin-right-1 {
  margin-right: 0.1%;
}

.flex-1 {
  flex: 0 0 100%;
}

.flex-2 {
  flex: 0 0 49.95%;
}

.flex-3 {
  flex: 0 0 33.2666666667%;
}

.flex-4 {
  flex: 0 0 24.925%;
}

.flex-5 {
  flex: 0 0 19.92%;
}

.flex-6 {
  flex: 0 0 16.5833333333%;
}

.flex-7 {
  flex: 0 0 14.2%;
}

.flex-8 {
  flex: 0 0 12.4125%;
}

.w-auto {
  width: auto !important;
}

.h-auto {
  height: auto !important;
}

.cursor-pointer {
  cursor: pointer !important;
}

.overflow-auto {
  overflow: auto !important;
}

.overflow-visible {
  overflow: visible !important;
}

.overflow-hidden {
  overflow: hidden !important;
}

/* LINK STYLE */
.link-text {
  text-decoration: none;
  color: black;
  display: inline-block;
}
.link-text:hover {
  color: #0f1042e6;
  text-decoration: none;
}

.link-text-inline {
  text-decoration: none;
  color: black;
}
.link-text-inline:hover {
  color: #0f1042e6;
  text-decoration: none;
}

/* BUTTON STYLE */
.normal-button {
  text-decoration: none;
  color: white;
}
.normal-button:hover, .normal-button:active {
  color: white;
  text-decoration: none;
  display: inline-block;
}

.image-button {
  cursor: pointer;
}
@media screen and (max-width: 1400px) {
  .image-button img {
    width: 14px !important;
    height: auto;
  }
}
.image-button:hover {
  opacity: 75%;
}

.inverse-image-button {
  cursor: pointer;
  opacity: 30%;
}
@media screen and (max-width: 1400px) {
  .inverse-image-button img {
    width: 14px !important;
    height: auto;
  }
}
.inverse-image-button:hover {
  opacity: 75%;
}
.inverse-image-button.active {
  opacity: 100%;
}

.list-group-item-action:hover, .list-group-item-action:focus {
  z-index: 0 !important;
}

.image-button-big {
  cursor: pointer;
  z-index: 1 !important;
}
@media screen and (max-width: 1400px) {
  .image-button-big img {
    width: 30px !important;
    height: auto;
  }
}
.image-button-big:hover {
  opacity: 75%;
}

.link-image-fontawesome {
  cursor: pointer;
  text-decoration: none;
}
.link-image-fontawesome:hover, .link-image-fontawesome:active {
  text-decoration: none;
  opacity: 65%;
}

.link-button {
  cursor: pointer;
  text-decoration: none;
  color: white;
}
.link-button:hover, .link-button:active {
  color: white;
  text-decoration: none;
  display: inline-block;
}

.text-button {
  text-decoration: none;
  color: black;
  display: inline-block;
}
.text-button:hover {
  color: #0f1042e6;
  text-decoration: none;
}

.text-button {
  text-decoration: none;
  color: black;
  display: inline;
}
.text-button:hover {
  color: #0f1042e6;
  text-decoration: none;
}

.tooltip-btn-container {
  display: inline-block;
  position: relative;
}
.tooltip-btn-container [disabled] {
  pointer-events: none;
}

/* DIV STYLE */
.opacity-1 {
  opacity: 0.1;
}

.opacity-2 {
  opacity: 0.2;
}

.opacity-3 {
  opacity: 0.3;
}

.opacity-4 {
  opacity: 0.4;
}

.opacity-5 {
  opacity: 0.5;
}

.opacity-6 {
  opacity: 0.6;
}

.opacity-7 {
  opacity: 0.7;
}

.opacity-8 {
  opacity: 0.8;
}

.opacity-9 {
  opacity: 0.9;
}

.opacity-10 {
  opacity: 1;
}

.w-0 {
  width: 0% !important;
}

.w-10 {
  width: 10% !important;
}

.w-20 {
  width: 20% !important;
}

.w-30 {
  width: 30% !important;
}

.w-40 {
  width: 40% !important;
}

.w-50 {
  width: 50% !important;
}

.w-60 {
  width: 60% !important;
}

.w-70 {
  width: 70% !important;
}

.w-80 {
  width: 80% !important;
}

.w-90 {
  width: 90% !important;
}

.h-0 {
  height: 0% !important;
}

.h-10 {
  height: 10% !important;
}

.h-20 {
  height: 20% !important;
}

.h-30 {
  height: 30% !important;
}

.h-40 {
  height: 40% !important;
}

.h-50 {
  height: 50% !important;
}

.h-60 {
  height: 60% !important;
}

.h-70 {
  height: 70% !important;
}

.h-80 {
  height: 80% !important;
}

.h-90 {
  height: 90% !important;
}

.p-6 {
  padding: 6rem !important;
}

.p-7 {
  padding: 7rem !important;
}

.p-8 {
  padding: 8rem !important;
}

.p-9 {
  padding: 9rem !important;
}

.pt-6 {
  padding-top: 6rem !important;
}

.pt-7 {
  padding-top: 7rem !important;
}

.pt-8 {
  padding-top: 8rem !important;
}

.pt-9 {
  padding-top: 9rem !important;
}

.pb-6 {
  padding-bottom: 6rem !important;
}

.pb-7 {
  padding-bottom: 7rem !important;
}

.pb-8 {
  padding-bottom: 8rem !important;
}

.pb-9 {
  padding-bottom: 9rem !important;
}

.pr-6 {
  padding-right: 6rem !important;
}

.pr-7 {
  padding-right: 7rem !important;
}

.pr-8 {
  padding-right: 8rem !important;
}

.pr-9 {
  padding-right: 9rem !important;
}

.pl-6 {
  padding-left: 6rem !important;
}

.pl-7 {
  padding-left: 7rem !important;
}

.pl-8 {
  padding-left: 8rem !important;
}

.pl-9 {
  padding-left: 9rem !important;
}

.overlay-full-center {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.overlay-full-center .content {
  display: none;
}
.overlay-full-center:hover {
  background-color: rgba(0, 0, 0, 0.4);
  cursor: pointer;
}
.overlay-full-center:hover .content {
  width: 100%;
  height: 100%;
  color: white;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  overflow: hidden;
}

.overlay-full-bottomright {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.overlay-full-bottomright .content {
  display: none;
}
.overlay-full-bottomright:hover {
  background-color: rgba(0, 0, 0, 0.4);
  cursor: pointer;
}
.overlay-full-bottomright:hover .content {
  width: 100%;
  height: 100%;
  color: white;
  display: flex !important;
  align-items: flex-end !important;
  justify-content: flex-end !important;
  overflow: hidden;
}

.position-relative {
  position: relative !important;
}

.position-absolute {
  position: absolute !important;
}

.button-tooltip {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}

/* FONT STYLE */
.font-weight-100 {
  font-weight: 100;
}

.font-weight-200 {
  font-weight: 200;
}

.font-weight-300 {
  font-weight: 300;
}

.font-weight-400 {
  font-weight: 400;
}

.font-weight-500 {
  font-weight: 500;
}

.font-weight-600 {
  font-weight: 600;
}

.font-weight-700 {
  font-weight: 700;
}

.font-weight-800 {
  font-weight: 800;
}

.font-weight-900 {
  font-weight: 900;
}

.font-header-homepage {
  font-size: 5rem;
}

/* TEXT STYLE */
.truncate {
  width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.truncate-fullwidth {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.text-decoration-none {
  text-decoration: none;
}

/* TABLES STYLE */
.main-list-table .table-body {
  font-size: 0.8rem;
}

/* BORDER STYLE */
.border-bottom-only {
  border-left: 0px !important;
  border-top: 0px !important;
  border-right: 0px !important;
  border-radius: 0px !important;
}

.round-0 {
  border-radius: 0px !important;
}

.round-1 {
  border-radius: 1px !important;
}

.round-2 {
  border-radius: 2px !important;
}

.round-3 {
  border-radius: 3px !important;
}

.round-4 {
  border-radius: 4px !important;
}

.round-5 {
  border-radius: 5px !important;
}

.round-6 {
  border-radius: 6px !important;
}

.round-7 {
  border-radius: 7px !important;
}

.round-8 {
  border-radius: 8px !important;
}

.round-9 {
  border-radius: 9px !important;
}

.rounded-right {
  border-radius: 0rem 0.25rem 0.25rem 0rem !important;
}

.rounded-left {
  border-radius: 0.25rem 0rem 0rem 0.25rem !important;
}

.round-left-0 {
  border-top-left-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
}

.round-left-1 {
  border-top-left-radius: 1px !important;
  border-bottom-left-radius: 1px !important;
}

.round-left-2 {
  border-top-left-radius: 2px !important;
  border-bottom-left-radius: 2px !important;
}

.round-left-3 {
  border-top-left-radius: 3px !important;
  border-bottom-left-radius: 3px !important;
}

.round-left-4 {
  border-top-left-radius: 4px !important;
  border-bottom-left-radius: 4px !important;
}

.round-left-5 {
  border-top-left-radius: 5px !important;
  border-bottom-left-radius: 5px !important;
}

.round-left-6 {
  border-top-left-radius: 6px !important;
  border-bottom-left-radius: 6px !important;
}

.round-left-7 {
  border-top-left-radius: 7px !important;
  border-bottom-left-radius: 7px !important;
}

.round-left-8 {
  border-top-left-radius: 8px !important;
  border-bottom-left-radius: 8px !important;
}

.round-left-9 {
  border-top-left-radius: 9px !important;
  border-bottom-left-radius: 9px !important;
}

.round-top-0 {
  border-top-left-radius: 0px !important;
  border-top-right-radius: 0px !important;
}

.round-top-1 {
  border-top-left-radius: 1px !important;
  border-top-right-radius: 1px !important;
}

.round-top-2 {
  border-top-left-radius: 2px !important;
  border-top-right-radius: 2px !important;
}

.round-top-3 {
  border-top-left-radius: 3px !important;
  border-top-right-radius: 3px !important;
}

.round-top-4 {
  border-top-left-radius: 4px !important;
  border-top-right-radius: 4px !important;
}

.round-top-5 {
  border-top-left-radius: 5px !important;
  border-top-right-radius: 5px !important;
}

.round-top-6 {
  border-top-left-radius: 6px !important;
  border-top-right-radius: 6px !important;
}

.round-top-7 {
  border-top-left-radius: 7px !important;
  border-top-right-radius: 7px !important;
}

.round-top-8 {
  border-top-left-radius: 8px !important;
  border-top-right-radius: 8px !important;
}

.round-top-9 {
  border-top-left-radius: 9px !important;
  border-top-right-radius: 9px !important;
}

.round-right-0 {
  border-top-right-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
}

.round-right-1 {
  border-top-right-radius: 1px !important;
  border-bottom-right-radius: 1px !important;
}

.round-right-2 {
  border-top-right-radius: 2px !important;
  border-bottom-right-radius: 2px !important;
}

.round-right-3 {
  border-top-right-radius: 3px !important;
  border-bottom-right-radius: 3px !important;
}

.round-right-4 {
  border-top-right-radius: 4px !important;
  border-bottom-right-radius: 4px !important;
}

.round-right-5 {
  border-top-right-radius: 5px !important;
  border-bottom-right-radius: 5px !important;
}

.round-right-6 {
  border-top-right-radius: 6px !important;
  border-bottom-right-radius: 6px !important;
}

.round-right-7 {
  border-top-right-radius: 7px !important;
  border-bottom-right-radius: 7px !important;
}

.round-right-8 {
  border-top-right-radius: 8px !important;
  border-bottom-right-radius: 8px !important;
}

.round-right-9 {
  border-top-right-radius: 9px !important;
  border-bottom-right-radius: 9px !important;
}

.round-bottom-0 {
  border-top-left-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
}

.round-bottom-1 {
  border-top-left-radius: 1px !important;
  border-bottom-left-radius: 1px !important;
}

.round-bottom-2 {
  border-top-left-radius: 2px !important;
  border-bottom-left-radius: 2px !important;
}

.round-bottom-3 {
  border-top-left-radius: 3px !important;
  border-bottom-left-radius: 3px !important;
}

.round-bottom-4 {
  border-top-left-radius: 4px !important;
  border-bottom-left-radius: 4px !important;
}

.round-bottom-5 {
  border-top-left-radius: 5px !important;
  border-bottom-left-radius: 5px !important;
}

.round-bottom-6 {
  border-top-left-radius: 6px !important;
  border-bottom-left-radius: 6px !important;
}

.round-bottom-7 {
  border-top-left-radius: 7px !important;
  border-bottom-left-radius: 7px !important;
}

.round-bottom-8 {
  border-top-left-radius: 8px !important;
  border-bottom-left-radius: 8px !important;
}

.round-bottom-9 {
  border-top-left-radius: 9px !important;
  border-bottom-left-radius: 9px !important;
}

/* MODAL STYLE */
.modal-lg {
  max-width: 1200px !important;
}

.modal-container {
  overflow: visible;
}

/******** VARIOUS COMPONENTS ********/
.form-group.hidden {
  width: 0;
  margin: 0;
  border: none;
  padding: 0;
}

.custom-day {
  text-align: center;
  padding: 0.185rem 0.25rem;
  display: inline-block;
  height: 2rem;
  width: 2rem;
}

.custom-day.focused {
  background-color: #e6e6e6;
}

.custom-day.range, .custom-day:hover {
  background-color: #0275d8;
  color: white;
}

.custom-day.faded {
  background-color: rgba(2, 117, 216, 0.5);
}

button.calendar, button.calendar:active {
  width: 2.75rem;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACIAAAAcCAYAAAAEN20fAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAOxAAADsQBlSsOGwAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAAEUSURBVEiJ7ZQxToVAEIY/YCHGxN6XGOIpnpaEsBSeQC9ArZbm9TZ6ADyBNzAhQGGl8Riv4BLAWAgmkpBYkH1b8FWT2WK/zJ8ZJ4qiI6XUI3ANnGKWBnht2/ZBDRK3hgVGNsCd7/ui+JkEIrKtqurLpEWaphd933+IyI3LEIdpCYCiKD6HcuOa/nwOa0ScJEnk0BJg0UTUWJRl6RxCYEzEmomsIlPU3IPW+grIAbquy+q6fluy/28RIBeRMwDXdXMgXLj/B2uimRXpui4D9sBeRLKl+1N+L+t6RwbWrZliTTTr1oxYtzVWiTQAcRxvTX+eJMnlUDaO1vpZRO5NS0x48sIwfPc87xg4B04MCzQi8hIEwe4bl1DnFMCN2zsAAAAASUVORK5CYII=") !important;
  background-repeat: no-repeat;
  background-size: 23px;
  background-position: center;
}

th[sortable] {
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
}

th[sortable].desc:before, th[sortable].asc:before {
  content: "";
  display: block;
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAYAAACqaXHeAAAAAXNSR0IArs4c6QAAAmxJREFUeAHtmksrRVEUx72fH8CIGQNJkpGUUmakDEiZSJRIZsRQmCkTJRmZmJgQE0kpX0D5DJKJgff7v+ru2u3O3vvc67TOvsdatdrnnP1Y///v7HvvubdbUiIhBISAEBACQkAICAEhIAQ4CXSh2DnyDfmCPEG2Iv9F9MPlM/LHyAecdyMzHYNwR3fdNK/OH9HXl1UCozD24TCvILxizEDWIEzA0FcM8woCgRrJCoS5PIwrANQSMAJX1LEI9bqpQo4JYNFFKRSvIgsxHDVnqZgIkPnNBM0rIGtYk9YOOsqgbgepRCfdbmFtqhFkVEDVPjJp0+Z6e6hRHhqBKgg6ZDCvYBygVmUoEGoh5JTRvIJwhJo1aUOoh4CLPMyvxxi7EWOMgnCGsXXI1GIXlZUYX7ucU+kbR8NW8lh3O7cue0Pk32MKndfUxQFAwxdirk3fHappAnc0oqDPzDfGTBrCfHP04dM4oTV8cxr0SVzH9FF07xD3ib6xCDE+M+aUcVygtWzzbtGX2rPBrEUYfecfQkaFzYi6HjVnGBdtL7epqAlc1+jRdAap74RrnPc4BCijttY2tRcdN0g17w7HqZrXhdJTYAuS3hd8z+vKgK3V1zWPae0mZDMykadBn1hTQBLnZNwVrJpSe/NwEeDsEwCctEOsJTsgxLvCqUl2ACftEGvJDgjxrnBqkh3ASTvEWrIDQrwrnJpkB3DSDrGW7IAQ7wqnJtkBnLRztejXXVu4+mxz/nQ9jR1w5VB86ejLTFcnnDwhzV+F6T+CHZlx6THSjn76eyyBIOPHyDakhBAQAkJACAgBISAEhIAQYCLwC8JxpAmsEGt6AAAAAElFTkSuQmCC") no-repeat;
  background-size: 22px;
  width: 22px;
  height: 22px;
  float: left;
  margin-left: -22px;
}

th[sortable].desc:before {
  transform: rotate(180deg);
  -ms-transform: rotate(180deg);
}

ngbd-table-filtering span.ngb-highlight {
  background-color: yellow;
}

ngbd-table-complete span.ngb-highlight {
  background-color: yellow;
}

ngb-carousel .picsum-img-wrapper {
  position: relative;
  height: 0;
  padding-top: 55%;
  /* Keep ratio for 900x500 images */
}

ngb-carousel .picsum-img-wrapper > img {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

/* loader */
.lds-ring {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 51px;
  height: 51px;
  margin: 6px;
  border: 6px solid #cef;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #cef transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* TINY MCE */
.tiniMCE-container .tox {
  height: calc(100vh - 215px) !important;
}
.tiniMCE-container .button-container {
  position: absolute;
  z-index: 2;
  top: 5px;
  right: 5px;
}

/*# sourceMappingURL=main.css.map */
