.main__header {
  cursor: default;
  height: 60px;
  box-shadow: 0 0 2rem 0 rgba(41, 48, 66, 0.1);
  background-color: #ffffff;
}
.main__header .account-info {
  position: absolute;
  right: 16px;
  bottom: 3px;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
}

.main-content {
  overflow: hidden !important;
  /* ===== Scrollbar ===== */
  /* Customize website's scrollbar like Mac OS
  Not supports in Firefox and IE */
  /* total width */
  /* background of the scrollbar except button or resizer */
  /* scrollbar itself */
  /* set button(top and bottom of the scrollbar) */
  /* ===== END SCROLLBAR ===== */
}
@media (max-width: 767.98px) {
  .main-content {
    overflow: auto !important;
  }
}
.main-content ::-webkit-scrollbar {
  background-color: #fff;
  width: 15px;
}
.main-content ::-webkit-scrollbar-track {
  background-color: #fff;
}
.main-content ::-webkit-scrollbar-track:hover {
  background-color: #f4f4f4;
}
.main-content ::-webkit-scrollbar-thumb {
  background-color: #babac0;
  border-radius: 16px;
  border: 4px solid #fff;
}
.main-content ::-webkit-scrollbar-thumb:hover {
  background-color: #a0a0a5;
  border: 2px solid #f4f4f4;
}
.main-content ::-webkit-scrollbar-button {
  display: none;
}

/* COLOURS */
.bg-custom-cyan {
  background-color: rgba(112, 181, 249, 0.2) !important;
}

.bg-custom-lightgray {
  background-color: rgba(179, 179, 179, 0.15) !important;
}

/* MISCELLANEOUS */
.table-icon-lg {
  width: 30px;
  height: auto;
}
@media (max-width: 767.98px) {
  .table-icon-lg {
    width: 20px;
  }
}

.table-icon-md {
  width: 24px;
  height: auto;
}
@media (max-width: 767.98px) {
  .table-icon-md {
    width: 20px;
  }
}

.illustration {
  background: #e0eafc !important;
  color: #3f80ea !important;
}

.illustration-text {
  color: #3f80ea;
}

.illustration-img {
  max-width: 150px;
  width: 100%;
}

@media (min-width: 1440px) {
  .illustration-img {
    max-width: 175px;
  }
}
.flex-fill {
  flex: 1 1 auto !important;
}

.media {
  display: flex;
  align-items: flex-start;
}

.media-body {
  flex: 1;
}

.d-inline-block {
  display: inline-block !important;
}

.stat {
  background: #e0eafc;
  border-radius: 50%;
  /* padding: 0.75rem; */
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.stat svg {
  width: 24px;
  height: 24px;
  color: #3f80ea !important;
}

.loading-overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.box-shadow-5 {
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.sub-header {
  font-size: small;
  font-style: italic;
}

.bg-lightdark {
  background-color: rgba(0, 0, 0, 0.6) !important;
}

.border-lightdark {
  border-color: rgba(0, 0, 0, 0.6) !important;
}

.bottom-right-absolute {
  position: absolute;
  right: 15px;
  bottom: 15px;
}

[hidden] {
  display: none !important;
}

.display-inline {
  display: inline !important;
}

.display-block {
  display: block !important;
}

.margin-right-1 {
  margin-right: 0.1%;
}

.flex-1 {
  flex: 0 0 100%;
}

.flex-2 {
  flex: 0 0 49.95%;
}

.flex-3 {
  flex: 0 0 33.2666666667%;
}

.flex-4 {
  flex: 0 0 24.925%;
}

.flex-5 {
  flex: 0 0 19.92%;
}

.flex-6 {
  flex: 0 0 16.5833333333%;
}

.flex-7 {
  flex: 0 0 14.2%;
}

.flex-8 {
  flex: 0 0 12.4125%;
}

.w-auto {
  width: auto !important;
}

.h-auto {
  height: auto !important;
}

.cursor-pointer {
  cursor: pointer !important;
}

.cursor-not-allowed {
  cursor: not-allowed !important;
}

.overflow-auto {
  overflow: auto !important;
}

.overflow-visible {
  overflow: visible !important;
}

.overflow-hidden {
  overflow: hidden !important;
}

/* LINK STYLE */
.link-text {
  text-decoration: none;
  color: black;
  display: inline-block;
}
.link-text:hover {
  color: #0f1042e6;
  text-decoration: none;
}

.link-text-inline {
  text-decoration: none;
  color: black;
}
.link-text-inline:hover {
  color: #0f1042e6;
  text-decoration: none;
}

/* BUTTON STYLE */
.normal-button {
  text-decoration: none;
  color: white;
}
.normal-button:hover, .normal-button:active {
  color: white;
  text-decoration: none;
  display: inline-block;
}

.image-button {
  cursor: pointer;
  display: flex;
  align-items: center;
}
@media screen and (max-width: 1400px) {
  .image-button img {
    width: 14px !important;
    height: auto;
  }
}
.image-button:hover {
  opacity: 75%;
}

.inverse-image-button {
  cursor: pointer;
  opacity: 30%;
}
@media screen and (max-width: 1400px) {
  .inverse-image-button img {
    width: 14px !important;
    height: auto;
  }
}
.inverse-image-button:hover {
  opacity: 75%;
}
.inverse-image-button.active {
  opacity: 100%;
}

.list-group-item-action:hover, .list-group-item-action:focus {
  z-index: 0 !important;
}

.list-group-item-cyan {
  background-color: rgba(112, 181, 249, 0.2) !important;
}
.list-group-item-cyan:hover {
  background-color: rgba(112, 181, 249, 0.4) !important;
}

.image-button-big {
  cursor: pointer;
  z-index: 1 !important;
}
@media screen and (max-width: 1400px) {
  .image-button-big img {
    width: 30px !important;
    height: auto;
  }
}
.image-button-big:hover {
  opacity: 75%;
}

.link-image-fontawesome {
  cursor: pointer;
  text-decoration: none;
}
.link-image-fontawesome:hover, .link-image-fontawesome:active {
  text-decoration: none;
  opacity: 65%;
}

.link-button {
  cursor: pointer;
  text-decoration: none;
  color: white;
}
.link-button:hover, .link-button:active {
  color: white;
  text-decoration: none;
  display: inline-block;
}

.text-button {
  text-decoration: none;
  color: black;
  display: inline-block;
}
.text-button:hover {
  color: #0f1042e6;
  text-decoration: none;
}

.text-button {
  text-decoration: none;
  color: black;
  display: inline;
}
.text-button:hover {
  color: #0f1042e6;
  text-decoration: none;
}

.tooltip-btn-container {
  display: inline-block;
  position: relative;
}
.tooltip-btn-container [disabled] {
  pointer-events: none;
}

@media (max-width: 991.98px) {
  .tooltip-inner {
    font-size: 0.7rem !important;
  }
}

/* DIV STYLE */
.opacity-1 {
  opacity: 0.1;
}

.opacity-2 {
  opacity: 0.2;
}

.opacity-3 {
  opacity: 0.3;
}

.opacity-4 {
  opacity: 0.4;
}

.opacity-5 {
  opacity: 0.5;
}

.opacity-6 {
  opacity: 0.6;
}

.opacity-7 {
  opacity: 0.7;
}

.opacity-8 {
  opacity: 0.8;
}

.opacity-9 {
  opacity: 0.9;
}

.opacity-10 {
  opacity: 1;
}

.w-0 {
  width: 0% !important;
}

.w-10 {
  width: 10% !important;
}

.w-20 {
  width: 20% !important;
}

.w-30 {
  width: 30% !important;
}

.w-40 {
  width: 40% !important;
}

.w-50 {
  width: 50% !important;
}

.w-60 {
  width: 60% !important;
}

.w-70 {
  width: 70% !important;
}

.w-80 {
  width: 80% !important;
}

.w-90 {
  width: 90% !important;
}

.h-0 {
  height: 0% !important;
}

.h-10 {
  height: 10% !important;
}

.h-20 {
  height: 20% !important;
}

.h-30 {
  height: 30% !important;
}

.h-40 {
  height: 40% !important;
}

.h-50 {
  height: 50% !important;
}

.h-60 {
  height: 60% !important;
}

.h-70 {
  height: 70% !important;
}

.h-80 {
  height: 80% !important;
}

.h-90 {
  height: 90% !important;
}

.p-6 {
  padding: 6rem !important;
}

.p-7 {
  padding: 7rem !important;
}

.p-8 {
  padding: 8rem !important;
}

.p-9 {
  padding: 9rem !important;
}

.pt-6 {
  padding-top: 6rem !important;
}

.pt-7 {
  padding-top: 7rem !important;
}

.pt-8 {
  padding-top: 8rem !important;
}

.pt-9 {
  padding-top: 9rem !important;
}

.pb-6 {
  padding-bottom: 6rem !important;
}

.pb-7 {
  padding-bottom: 7rem !important;
}

.pb-8 {
  padding-bottom: 8rem !important;
}

.pb-9 {
  padding-bottom: 9rem !important;
}

.pr-6 {
  padding-right: 6rem !important;
}

.pr-7 {
  padding-right: 7rem !important;
}

.pr-8 {
  padding-right: 8rem !important;
}

.pr-9 {
  padding-right: 9rem !important;
}

.pl-6 {
  padding-left: 6rem !important;
}

.pl-7 {
  padding-left: 7rem !important;
}

.pl-8 {
  padding-left: 8rem !important;
}

.pl-9 {
  padding-left: 9rem !important;
}

.overlay-full-center {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.overlay-full-center .content {
  display: none;
}
.overlay-full-center:hover {
  background-color: rgba(0, 0, 0, 0.4);
  cursor: pointer;
}
.overlay-full-center:hover .content {
  width: 100%;
  height: 100%;
  color: white;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  overflow: hidden;
}

.overlay-full-bottomright {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.overlay-full-bottomright .content {
  display: none;
}
.overlay-full-bottomright:hover {
  background-color: rgba(0, 0, 0, 0.4);
  cursor: pointer;
}
.overlay-full-bottomright:hover .content {
  width: 100%;
  height: 100%;
  color: white;
  display: flex !important;
  align-items: flex-end !important;
  justify-content: flex-end !important;
  overflow: hidden;
}

.position-relative {
  position: relative !important;
}

.position-absolute {
  position: absolute !important;
}

.button-tooltip {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}

/* FONT STYLE */
.font-weight-100 {
  font-weight: 100;
}

.font-weight-200 {
  font-weight: 200;
}

.font-weight-300 {
  font-weight: 300;
}

.font-weight-400 {
  font-weight: 400;
}

.font-weight-500 {
  font-weight: 500;
}

.font-weight-600 {
  font-weight: 600;
}

.font-weight-700 {
  font-weight: 700;
}

.font-weight-800 {
  font-weight: 800;
}

.font-weight-900 {
  font-weight: 900;
}

/* TEXT STYLE */
.truncate {
  width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.truncate-fullwidth {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.text-decoration-none {
  text-decoration: none;
}

/* TABLES STYLE */
@media (max-width: 767.98px) {
  .main-list-table .table-header {
    font-size: 0.8rem;
  }
  .main-list-table .table-header b {
    font-size: 0.8rem;
  }
}
.main-list-table .table-body {
  font-size: 0.8rem;
}
.main-list-table .table-body .table-body-accordion .card {
  overflow: visible !important;
}
.main-list-table .table-body .table-body-accordion .card-header {
  padding: 0px !important;
}
.main-list-table .table-body .table-body-accordion .card-body {
  font-size: 0.7rem !important;
  padding: 0.5rem 0px 0.5rem 0px !important;
}
@media (min-width: 768px) {
  .main-list-table .table-body .table-body-accordion .card-body {
    display: none !important;
  }
}

/* BORDER STYLE */
.border-bottom-only {
  border-left: 0px !important;
  border-top: 0px !important;
  border-right: 0px !important;
  border-radius: 0px !important;
}

.round-0 {
  border-radius: 0px !important;
}

.round-1 {
  border-radius: 1px !important;
}

.round-2 {
  border-radius: 2px !important;
}

.round-3 {
  border-radius: 3px !important;
}

.round-4 {
  border-radius: 4px !important;
}

.round-5 {
  border-radius: 5px !important;
}

.round-6 {
  border-radius: 6px !important;
}

.round-7 {
  border-radius: 7px !important;
}

.round-8 {
  border-radius: 8px !important;
}

.round-9 {
  border-radius: 9px !important;
}

.rounded-right {
  border-radius: 0rem 0.25rem 0.25rem 0rem !important;
}

.rounded-left {
  border-radius: 0.25rem 0rem 0rem 0.25rem !important;
}

.round-left-0 {
  border-top-left-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
}

.round-left-1 {
  border-top-left-radius: 1px !important;
  border-bottom-left-radius: 1px !important;
}

.round-left-2 {
  border-top-left-radius: 2px !important;
  border-bottom-left-radius: 2px !important;
}

.round-left-3 {
  border-top-left-radius: 3px !important;
  border-bottom-left-radius: 3px !important;
}

.round-left-4 {
  border-top-left-radius: 4px !important;
  border-bottom-left-radius: 4px !important;
}

.round-left-5 {
  border-top-left-radius: 5px !important;
  border-bottom-left-radius: 5px !important;
}

.round-left-6 {
  border-top-left-radius: 6px !important;
  border-bottom-left-radius: 6px !important;
}

.round-left-7 {
  border-top-left-radius: 7px !important;
  border-bottom-left-radius: 7px !important;
}

.round-left-8 {
  border-top-left-radius: 8px !important;
  border-bottom-left-radius: 8px !important;
}

.round-left-9 {
  border-top-left-radius: 9px !important;
  border-bottom-left-radius: 9px !important;
}

.round-top-0 {
  border-top-left-radius: 0px !important;
  border-top-right-radius: 0px !important;
}

.round-top-1 {
  border-top-left-radius: 1px !important;
  border-top-right-radius: 1px !important;
}

.round-top-2 {
  border-top-left-radius: 2px !important;
  border-top-right-radius: 2px !important;
}

.round-top-3 {
  border-top-left-radius: 3px !important;
  border-top-right-radius: 3px !important;
}

.round-top-4 {
  border-top-left-radius: 4px !important;
  border-top-right-radius: 4px !important;
}

.round-top-5 {
  border-top-left-radius: 5px !important;
  border-top-right-radius: 5px !important;
}

.round-top-6 {
  border-top-left-radius: 6px !important;
  border-top-right-radius: 6px !important;
}

.round-top-7 {
  border-top-left-radius: 7px !important;
  border-top-right-radius: 7px !important;
}

.round-top-8 {
  border-top-left-radius: 8px !important;
  border-top-right-radius: 8px !important;
}

.round-top-9 {
  border-top-left-radius: 9px !important;
  border-top-right-radius: 9px !important;
}

.round-right-0 {
  border-top-right-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
}

.round-right-1 {
  border-top-right-radius: 1px !important;
  border-bottom-right-radius: 1px !important;
}

.round-right-2 {
  border-top-right-radius: 2px !important;
  border-bottom-right-radius: 2px !important;
}

.round-right-3 {
  border-top-right-radius: 3px !important;
  border-bottom-right-radius: 3px !important;
}

.round-right-4 {
  border-top-right-radius: 4px !important;
  border-bottom-right-radius: 4px !important;
}

.round-right-5 {
  border-top-right-radius: 5px !important;
  border-bottom-right-radius: 5px !important;
}

.round-right-6 {
  border-top-right-radius: 6px !important;
  border-bottom-right-radius: 6px !important;
}

.round-right-7 {
  border-top-right-radius: 7px !important;
  border-bottom-right-radius: 7px !important;
}

.round-right-8 {
  border-top-right-radius: 8px !important;
  border-bottom-right-radius: 8px !important;
}

.round-right-9 {
  border-top-right-radius: 9px !important;
  border-bottom-right-radius: 9px !important;
}

.round-bottom-0 {
  border-top-left-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
}

.round-bottom-1 {
  border-top-left-radius: 1px !important;
  border-bottom-left-radius: 1px !important;
}

.round-bottom-2 {
  border-top-left-radius: 2px !important;
  border-bottom-left-radius: 2px !important;
}

.round-bottom-3 {
  border-top-left-radius: 3px !important;
  border-bottom-left-radius: 3px !important;
}

.round-bottom-4 {
  border-top-left-radius: 4px !important;
  border-bottom-left-radius: 4px !important;
}

.round-bottom-5 {
  border-top-left-radius: 5px !important;
  border-bottom-left-radius: 5px !important;
}

.round-bottom-6 {
  border-top-left-radius: 6px !important;
  border-bottom-left-radius: 6px !important;
}

.round-bottom-7 {
  border-top-left-radius: 7px !important;
  border-bottom-left-radius: 7px !important;
}

.round-bottom-8 {
  border-top-left-radius: 8px !important;
  border-bottom-left-radius: 8px !important;
}

.round-bottom-9 {
  border-top-left-radius: 9px !important;
  border-bottom-left-radius: 9px !important;
}

/* MODAL STYLE */
.modal-lg {
  max-width: 1200px !important;
}

.modal-container {
  overflow: visible;
}

/******** VARIOUS COMPONENTS ********/
.form-group.hidden {
  width: 0;
  margin: 0;
  border: none;
  padding: 0;
}

.custom-day {
  text-align: center;
  padding: 0.185rem 0.25rem;
  display: inline-block;
  height: 2rem;
  width: 2rem;
}

.custom-day.focused {
  background-color: #e6e6e6;
}

.custom-day.range, .custom-day:hover {
  background-color: #0275d8;
  color: white;
}

.custom-day.faded {
  background-color: rgba(2, 117, 216, 0.5);
}

button.calendar, button.calendar:active {
  width: 2.75rem;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACIAAAAcCAYAAAAEN20fAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAOxAAADsQBlSsOGwAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAAEUSURBVEiJ7ZQxToVAEIY/YCHGxN6XGOIpnpaEsBSeQC9ArZbm9TZ6ADyBNzAhQGGl8Riv4BLAWAgmkpBYkH1b8FWT2WK/zJ8ZJ4qiI6XUI3ANnGKWBnht2/ZBDRK3hgVGNsCd7/ui+JkEIrKtqurLpEWaphd933+IyI3LEIdpCYCiKD6HcuOa/nwOa0ScJEnk0BJg0UTUWJRl6RxCYEzEmomsIlPU3IPW+grIAbquy+q6fluy/28RIBeRMwDXdXMgXLj/B2uimRXpui4D9sBeRLKl+1N+L+t6RwbWrZliTTTr1oxYtzVWiTQAcRxvTX+eJMnlUDaO1vpZRO5NS0x48sIwfPc87xg4B04MCzQi8hIEwe4bl1DnFMCN2zsAAAAASUVORK5CYII=") !important;
  background-repeat: no-repeat;
  background-size: 23px;
  background-position: center;
}

th[sortable] {
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
}

th[sortable].desc:before, th[sortable].asc:before {
  content: "";
  display: block;
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAYAAACqaXHeAAAAAXNSR0IArs4c6QAAAmxJREFUeAHtmksrRVEUx72fH8CIGQNJkpGUUmakDEiZSJRIZsRQmCkTJRmZmJgQE0kpX0D5DJKJgff7v+ru2u3O3vvc67TOvsdatdrnnP1Y///v7HvvubdbUiIhBISAEBACQkAICAEhIAQ4CXSh2DnyDfmCPEG2Iv9F9MPlM/LHyAecdyMzHYNwR3fdNK/OH9HXl1UCozD24TCvILxizEDWIEzA0FcM8woCgRrJCoS5PIwrANQSMAJX1LEI9bqpQo4JYNFFKRSvIgsxHDVnqZgIkPnNBM0rIGtYk9YOOsqgbgepRCfdbmFtqhFkVEDVPjJp0+Z6e6hRHhqBKgg6ZDCvYBygVmUoEGoh5JTRvIJwhJo1aUOoh4CLPMyvxxi7EWOMgnCGsXXI1GIXlZUYX7ucU+kbR8NW8lh3O7cue0Pk32MKndfUxQFAwxdirk3fHappAnc0oqDPzDfGTBrCfHP04dM4oTV8cxr0SVzH9FF07xD3ib6xCDE+M+aUcVygtWzzbtGX2rPBrEUYfecfQkaFzYi6HjVnGBdtL7epqAlc1+jRdAap74RrnPc4BCijttY2tRcdN0g17w7HqZrXhdJTYAuS3hd8z+vKgK3V1zWPae0mZDMykadBn1hTQBLnZNwVrJpSe/NwEeDsEwCctEOsJTsgxLvCqUl2ACftEGvJDgjxrnBqkh3ASTvEWrIDQrwrnJpkB3DSDrGW7IAQ7wqnJtkBnLRztejXXVu4+mxz/nQ9jR1w5VB86ejLTFcnnDwhzV+F6T+CHZlx6THSjn76eyyBIOPHyDakhBAQAkJACAgBISAEhIAQYCLwC8JxpAmsEGt6AAAAAElFTkSuQmCC") no-repeat;
  background-size: 22px;
  width: 22px;
  height: 22px;
  float: left;
  margin-left: -22px;
}

th[sortable].desc:before {
  transform: rotate(180deg);
  -ms-transform: rotate(180deg);
}

ngbd-table-filtering span.ngb-highlight {
  background-color: yellow;
}

ngbd-table-complete span.ngb-highlight {
  background-color: yellow;
}

ngb-carousel .picsum-img-wrapper {
  position: relative;
  height: 0;
  padding-top: 55%;
  /* Keep ratio for 900x500 images */
}

ngb-carousel .picsum-img-wrapper > img {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.nav-item .indicator {
  background: #3f80ea;
  box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.05);
  border-radius: 50%;
  display: block;
  height: 18px;
  width: 18px;
  padding: 1px;
  position: absolute;
  top: 0;
  right: -8px;
  text-align: center;
  transition: top 0.1s ease-out;
  font-size: 0.675rem;
  color: #fff;
}

.nav-flag, .nav-icon {
  padding: 0.1rem 0.8rem;
  display: block;
  font-size: 1.5rem;
  color: #6c757d;
  transition: background 0.1s ease-in-out, color 0.1s ease-in-out;
  line-height: 1.4;
}
.nav-flag.dropdown-toggle::after, .nav-icon.dropdown-toggle::after {
  display: none !important;
}

.dropdown .dropdown-menu.show {
  animation-name: dropdownAnimation;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}

.dropdown-menu-header {
  padding: 0.75rem;
  text-align: center;
  font-weight: 500;
  border-bottom: 1px solid #dee6ed;
}

.dropdown-menu-footer {
  padding: 0.5rem;
  text-align: center;
  display: block;
  font-size: 0.75rem;
}

.avatar {
  margin-top: -15px;
  margin-bottom: -15px;
  width: 40px;
  height: 40px;
}

.rounded-circle {
  border-radius: 50% !important;
}

.img-fluid, .img-thumbnail {
  max-width: 100%;
  height: auto;
}

.list-group a {
  cursor: pointer !important;
}
.list-group a:hover {
  text-decoration: none;
}

.list-group-item:hover {
  background: #f4f7f9;
}

.dropdown-menu-lg {
  min-width: 20rem !important;
}

@media (max-width: 767.98px) {
  .navbar-expand .navbar-nav .dropdown-menu-lg {
    min-width: 100% !important;
  }
}
.dropdown-no-arrow .dropdown-toggle::after {
  content: none;
}

/* loader */
.lds-ring {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 51px;
  height: 51px;
  margin: 6px;
  border: 6px solid #cef;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #cef transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* TINY MCE */
.tiniMCE-container .tox {
  height: calc(100vh - 180px) !important;
}
.tiniMCE-container .button-container {
  position: absolute;
  z-index: 2;
  top: 5px;
  right: 5px;
}

/* BOOTSTRAP RE-DEFINITION */
.form-control-sm {
  height: calc(1.2em + 0.5rem + 2px) !important;
  padding: 0.15rem 0.4rem !important;
  font-size: 0.875rem !important;
  line-height: 1.2 !important;
  border-radius: 0.2rem !important;
}

/* MEDIA QUERIES */
@media (max-width: 575.98px) {
  .w-sm-0 {
    width: 0% !important;
  }
}

@media (max-width: 575.98px) {
  .w-sm-1 {
    width: 1% !important;
  }
}

@media (max-width: 575.98px) {
  .w-sm-2 {
    width: 2% !important;
  }
}

@media (max-width: 575.98px) {
  .w-sm-3 {
    width: 3% !important;
  }
}

@media (max-width: 575.98px) {
  .w-sm-4 {
    width: 4% !important;
  }
}

@media (max-width: 575.98px) {
  .w-sm-5 {
    width: 5% !important;
  }
}

@media (max-width: 575.98px) {
  .w-sm-6 {
    width: 6% !important;
  }
}

@media (max-width: 575.98px) {
  .w-sm-7 {
    width: 7% !important;
  }
}

@media (max-width: 575.98px) {
  .w-sm-8 {
    width: 8% !important;
  }
}

@media (max-width: 575.98px) {
  .w-sm-9 {
    width: 9% !important;
  }
}

@media (max-width: 575.98px) {
  .w-sm-10 {
    width: 10% !important;
  }
}

@media (max-width: 575.98px) {
  .w-sm-11 {
    width: 11% !important;
  }
}

@media (max-width: 575.98px) {
  .w-sm-12 {
    width: 12% !important;
  }
}

@media (max-width: 575.98px) {
  .w-sm-13 {
    width: 13% !important;
  }
}

@media (max-width: 575.98px) {
  .w-sm-14 {
    width: 14% !important;
  }
}

@media (max-width: 575.98px) {
  .w-sm-15 {
    width: 15% !important;
  }
}

@media (max-width: 575.98px) {
  .w-sm-16 {
    width: 16% !important;
  }
}

@media (max-width: 575.98px) {
  .w-sm-17 {
    width: 17% !important;
  }
}

@media (max-width: 575.98px) {
  .w-sm-18 {
    width: 18% !important;
  }
}

@media (max-width: 575.98px) {
  .w-sm-19 {
    width: 19% !important;
  }
}

@media (max-width: 575.98px) {
  .w-sm-20 {
    width: 20% !important;
  }
}

@media (max-width: 575.98px) {
  .w-sm-21 {
    width: 21% !important;
  }
}

@media (max-width: 575.98px) {
  .w-sm-22 {
    width: 22% !important;
  }
}

@media (max-width: 575.98px) {
  .w-sm-23 {
    width: 23% !important;
  }
}

@media (max-width: 575.98px) {
  .w-sm-24 {
    width: 24% !important;
  }
}

@media (max-width: 575.98px) {
  .w-sm-25 {
    width: 25% !important;
  }
}

@media (max-width: 575.98px) {
  .w-sm-26 {
    width: 26% !important;
  }
}

@media (max-width: 575.98px) {
  .w-sm-27 {
    width: 27% !important;
  }
}

@media (max-width: 575.98px) {
  .w-sm-28 {
    width: 28% !important;
  }
}

@media (max-width: 575.98px) {
  .w-sm-29 {
    width: 29% !important;
  }
}

@media (max-width: 575.98px) {
  .w-sm-30 {
    width: 30% !important;
  }
}

@media (max-width: 575.98px) {
  .w-sm-31 {
    width: 31% !important;
  }
}

@media (max-width: 575.98px) {
  .w-sm-32 {
    width: 32% !important;
  }
}

@media (max-width: 575.98px) {
  .w-sm-33 {
    width: 33% !important;
  }
}

@media (max-width: 575.98px) {
  .w-sm-34 {
    width: 34% !important;
  }
}

@media (max-width: 575.98px) {
  .w-sm-35 {
    width: 35% !important;
  }
}

@media (max-width: 575.98px) {
  .w-sm-36 {
    width: 36% !important;
  }
}

@media (max-width: 575.98px) {
  .w-sm-37 {
    width: 37% !important;
  }
}

@media (max-width: 575.98px) {
  .w-sm-38 {
    width: 38% !important;
  }
}

@media (max-width: 575.98px) {
  .w-sm-39 {
    width: 39% !important;
  }
}

@media (max-width: 575.98px) {
  .w-sm-40 {
    width: 40% !important;
  }
}

@media (max-width: 575.98px) {
  .w-sm-41 {
    width: 41% !important;
  }
}

@media (max-width: 575.98px) {
  .w-sm-42 {
    width: 42% !important;
  }
}

@media (max-width: 575.98px) {
  .w-sm-43 {
    width: 43% !important;
  }
}

@media (max-width: 575.98px) {
  .w-sm-44 {
    width: 44% !important;
  }
}

@media (max-width: 575.98px) {
  .w-sm-45 {
    width: 45% !important;
  }
}

@media (max-width: 575.98px) {
  .w-sm-46 {
    width: 46% !important;
  }
}

@media (max-width: 575.98px) {
  .w-sm-47 {
    width: 47% !important;
  }
}

@media (max-width: 575.98px) {
  .w-sm-48 {
    width: 48% !important;
  }
}

@media (max-width: 575.98px) {
  .w-sm-49 {
    width: 49% !important;
  }
}

@media (max-width: 575.98px) {
  .w-sm-50 {
    width: 50% !important;
  }
}

@media (max-width: 575.98px) {
  .w-sm-51 {
    width: 51% !important;
  }
}

@media (max-width: 575.98px) {
  .w-sm-52 {
    width: 52% !important;
  }
}

@media (max-width: 575.98px) {
  .w-sm-53 {
    width: 53% !important;
  }
}

@media (max-width: 575.98px) {
  .w-sm-54 {
    width: 54% !important;
  }
}

@media (max-width: 575.98px) {
  .w-sm-55 {
    width: 55% !important;
  }
}

@media (max-width: 575.98px) {
  .w-sm-56 {
    width: 56% !important;
  }
}

@media (max-width: 575.98px) {
  .w-sm-57 {
    width: 57% !important;
  }
}

@media (max-width: 575.98px) {
  .w-sm-58 {
    width: 58% !important;
  }
}

@media (max-width: 575.98px) {
  .w-sm-59 {
    width: 59% !important;
  }
}

@media (max-width: 575.98px) {
  .w-sm-60 {
    width: 60% !important;
  }
}

@media (max-width: 575.98px) {
  .w-sm-61 {
    width: 61% !important;
  }
}

@media (max-width: 575.98px) {
  .w-sm-62 {
    width: 62% !important;
  }
}

@media (max-width: 575.98px) {
  .w-sm-63 {
    width: 63% !important;
  }
}

@media (max-width: 575.98px) {
  .w-sm-64 {
    width: 64% !important;
  }
}

@media (max-width: 575.98px) {
  .w-sm-65 {
    width: 65% !important;
  }
}

@media (max-width: 575.98px) {
  .w-sm-66 {
    width: 66% !important;
  }
}

@media (max-width: 575.98px) {
  .w-sm-67 {
    width: 67% !important;
  }
}

@media (max-width: 575.98px) {
  .w-sm-68 {
    width: 68% !important;
  }
}

@media (max-width: 575.98px) {
  .w-sm-69 {
    width: 69% !important;
  }
}

@media (max-width: 575.98px) {
  .w-sm-70 {
    width: 70% !important;
  }
}

@media (max-width: 575.98px) {
  .w-sm-71 {
    width: 71% !important;
  }
}

@media (max-width: 575.98px) {
  .w-sm-72 {
    width: 72% !important;
  }
}

@media (max-width: 575.98px) {
  .w-sm-73 {
    width: 73% !important;
  }
}

@media (max-width: 575.98px) {
  .w-sm-74 {
    width: 74% !important;
  }
}

@media (max-width: 575.98px) {
  .w-sm-75 {
    width: 75% !important;
  }
}

@media (max-width: 575.98px) {
  .w-sm-76 {
    width: 76% !important;
  }
}

@media (max-width: 575.98px) {
  .w-sm-77 {
    width: 77% !important;
  }
}

@media (max-width: 575.98px) {
  .w-sm-78 {
    width: 78% !important;
  }
}

@media (max-width: 575.98px) {
  .w-sm-79 {
    width: 79% !important;
  }
}

@media (max-width: 575.98px) {
  .w-sm-80 {
    width: 80% !important;
  }
}

@media (max-width: 575.98px) {
  .w-sm-81 {
    width: 81% !important;
  }
}

@media (max-width: 575.98px) {
  .w-sm-82 {
    width: 82% !important;
  }
}

@media (max-width: 575.98px) {
  .w-sm-83 {
    width: 83% !important;
  }
}

@media (max-width: 575.98px) {
  .w-sm-84 {
    width: 84% !important;
  }
}

@media (max-width: 575.98px) {
  .w-sm-85 {
    width: 85% !important;
  }
}

@media (max-width: 575.98px) {
  .w-sm-86 {
    width: 86% !important;
  }
}

@media (max-width: 575.98px) {
  .w-sm-87 {
    width: 87% !important;
  }
}

@media (max-width: 575.98px) {
  .w-sm-88 {
    width: 88% !important;
  }
}

@media (max-width: 575.98px) {
  .w-sm-89 {
    width: 89% !important;
  }
}

@media (max-width: 575.98px) {
  .w-sm-90 {
    width: 90% !important;
  }
}

@media (max-width: 575.98px) {
  .w-sm-91 {
    width: 91% !important;
  }
}

@media (max-width: 575.98px) {
  .w-sm-92 {
    width: 92% !important;
  }
}

@media (max-width: 575.98px) {
  .w-sm-93 {
    width: 93% !important;
  }
}

@media (max-width: 575.98px) {
  .w-sm-94 {
    width: 94% !important;
  }
}

@media (max-width: 575.98px) {
  .w-sm-95 {
    width: 95% !important;
  }
}

@media (max-width: 575.98px) {
  .w-sm-96 {
    width: 96% !important;
  }
}

@media (max-width: 575.98px) {
  .w-sm-97 {
    width: 97% !important;
  }
}

@media (max-width: 575.98px) {
  .w-sm-98 {
    width: 98% !important;
  }
}

@media (max-width: 575.98px) {
  .w-sm-99 {
    width: 99% !important;
  }
}

@media (max-width: 575.98px) {
  .w-sm-100 {
    width: 100% !important;
  }
}

@media (max-width: 575.98px) {
  .h-sm-0 {
    height: 0% !important;
  }
}

@media (max-width: 575.98px) {
  .h-sm-1 {
    height: 1% !important;
  }
}

@media (max-width: 575.98px) {
  .h-sm-2 {
    height: 2% !important;
  }
}

@media (max-width: 575.98px) {
  .h-sm-3 {
    height: 3% !important;
  }
}

@media (max-width: 575.98px) {
  .h-sm-4 {
    height: 4% !important;
  }
}

@media (max-width: 575.98px) {
  .h-sm-5 {
    height: 5% !important;
  }
}

@media (max-width: 575.98px) {
  .h-sm-6 {
    height: 6% !important;
  }
}

@media (max-width: 575.98px) {
  .h-sm-7 {
    height: 7% !important;
  }
}

@media (max-width: 575.98px) {
  .h-sm-8 {
    height: 8% !important;
  }
}

@media (max-width: 575.98px) {
  .h-sm-9 {
    height: 9% !important;
  }
}

@media (max-width: 575.98px) {
  .h-sm-10 {
    height: 10% !important;
  }
}

@media (max-width: 575.98px) {
  .h-sm-11 {
    height: 11% !important;
  }
}

@media (max-width: 575.98px) {
  .h-sm-12 {
    height: 12% !important;
  }
}

@media (max-width: 575.98px) {
  .h-sm-13 {
    height: 13% !important;
  }
}

@media (max-width: 575.98px) {
  .h-sm-14 {
    height: 14% !important;
  }
}

@media (max-width: 575.98px) {
  .h-sm-15 {
    height: 15% !important;
  }
}

@media (max-width: 575.98px) {
  .h-sm-16 {
    height: 16% !important;
  }
}

@media (max-width: 575.98px) {
  .h-sm-17 {
    height: 17% !important;
  }
}

@media (max-width: 575.98px) {
  .h-sm-18 {
    height: 18% !important;
  }
}

@media (max-width: 575.98px) {
  .h-sm-19 {
    height: 19% !important;
  }
}

@media (max-width: 575.98px) {
  .h-sm-20 {
    height: 20% !important;
  }
}

@media (max-width: 575.98px) {
  .h-sm-21 {
    height: 21% !important;
  }
}

@media (max-width: 575.98px) {
  .h-sm-22 {
    height: 22% !important;
  }
}

@media (max-width: 575.98px) {
  .h-sm-23 {
    height: 23% !important;
  }
}

@media (max-width: 575.98px) {
  .h-sm-24 {
    height: 24% !important;
  }
}

@media (max-width: 575.98px) {
  .h-sm-25 {
    height: 25% !important;
  }
}

@media (max-width: 575.98px) {
  .h-sm-26 {
    height: 26% !important;
  }
}

@media (max-width: 575.98px) {
  .h-sm-27 {
    height: 27% !important;
  }
}

@media (max-width: 575.98px) {
  .h-sm-28 {
    height: 28% !important;
  }
}

@media (max-width: 575.98px) {
  .h-sm-29 {
    height: 29% !important;
  }
}

@media (max-width: 575.98px) {
  .h-sm-30 {
    height: 30% !important;
  }
}

@media (max-width: 575.98px) {
  .h-sm-31 {
    height: 31% !important;
  }
}

@media (max-width: 575.98px) {
  .h-sm-32 {
    height: 32% !important;
  }
}

@media (max-width: 575.98px) {
  .h-sm-33 {
    height: 33% !important;
  }
}

@media (max-width: 575.98px) {
  .h-sm-34 {
    height: 34% !important;
  }
}

@media (max-width: 575.98px) {
  .h-sm-35 {
    height: 35% !important;
  }
}

@media (max-width: 575.98px) {
  .h-sm-36 {
    height: 36% !important;
  }
}

@media (max-width: 575.98px) {
  .h-sm-37 {
    height: 37% !important;
  }
}

@media (max-width: 575.98px) {
  .h-sm-38 {
    height: 38% !important;
  }
}

@media (max-width: 575.98px) {
  .h-sm-39 {
    height: 39% !important;
  }
}

@media (max-width: 575.98px) {
  .h-sm-40 {
    height: 40% !important;
  }
}

@media (max-width: 575.98px) {
  .h-sm-41 {
    height: 41% !important;
  }
}

@media (max-width: 575.98px) {
  .h-sm-42 {
    height: 42% !important;
  }
}

@media (max-width: 575.98px) {
  .h-sm-43 {
    height: 43% !important;
  }
}

@media (max-width: 575.98px) {
  .h-sm-44 {
    height: 44% !important;
  }
}

@media (max-width: 575.98px) {
  .h-sm-45 {
    height: 45% !important;
  }
}

@media (max-width: 575.98px) {
  .h-sm-46 {
    height: 46% !important;
  }
}

@media (max-width: 575.98px) {
  .h-sm-47 {
    height: 47% !important;
  }
}

@media (max-width: 575.98px) {
  .h-sm-48 {
    height: 48% !important;
  }
}

@media (max-width: 575.98px) {
  .h-sm-49 {
    height: 49% !important;
  }
}

@media (max-width: 575.98px) {
  .h-sm-50 {
    height: 50% !important;
  }
}

@media (max-width: 575.98px) {
  .h-sm-51 {
    height: 51% !important;
  }
}

@media (max-width: 575.98px) {
  .h-sm-52 {
    height: 52% !important;
  }
}

@media (max-width: 575.98px) {
  .h-sm-53 {
    height: 53% !important;
  }
}

@media (max-width: 575.98px) {
  .h-sm-54 {
    height: 54% !important;
  }
}

@media (max-width: 575.98px) {
  .h-sm-55 {
    height: 55% !important;
  }
}

@media (max-width: 575.98px) {
  .h-sm-56 {
    height: 56% !important;
  }
}

@media (max-width: 575.98px) {
  .h-sm-57 {
    height: 57% !important;
  }
}

@media (max-width: 575.98px) {
  .h-sm-58 {
    height: 58% !important;
  }
}

@media (max-width: 575.98px) {
  .h-sm-59 {
    height: 59% !important;
  }
}

@media (max-width: 575.98px) {
  .h-sm-60 {
    height: 60% !important;
  }
}

@media (max-width: 575.98px) {
  .h-sm-61 {
    height: 61% !important;
  }
}

@media (max-width: 575.98px) {
  .h-sm-62 {
    height: 62% !important;
  }
}

@media (max-width: 575.98px) {
  .h-sm-63 {
    height: 63% !important;
  }
}

@media (max-width: 575.98px) {
  .h-sm-64 {
    height: 64% !important;
  }
}

@media (max-width: 575.98px) {
  .h-sm-65 {
    height: 65% !important;
  }
}

@media (max-width: 575.98px) {
  .h-sm-66 {
    height: 66% !important;
  }
}

@media (max-width: 575.98px) {
  .h-sm-67 {
    height: 67% !important;
  }
}

@media (max-width: 575.98px) {
  .h-sm-68 {
    height: 68% !important;
  }
}

@media (max-width: 575.98px) {
  .h-sm-69 {
    height: 69% !important;
  }
}

@media (max-width: 575.98px) {
  .h-sm-70 {
    height: 70% !important;
  }
}

@media (max-width: 575.98px) {
  .h-sm-71 {
    height: 71% !important;
  }
}

@media (max-width: 575.98px) {
  .h-sm-72 {
    height: 72% !important;
  }
}

@media (max-width: 575.98px) {
  .h-sm-73 {
    height: 73% !important;
  }
}

@media (max-width: 575.98px) {
  .h-sm-74 {
    height: 74% !important;
  }
}

@media (max-width: 575.98px) {
  .h-sm-75 {
    height: 75% !important;
  }
}

@media (max-width: 575.98px) {
  .h-sm-76 {
    height: 76% !important;
  }
}

@media (max-width: 575.98px) {
  .h-sm-77 {
    height: 77% !important;
  }
}

@media (max-width: 575.98px) {
  .h-sm-78 {
    height: 78% !important;
  }
}

@media (max-width: 575.98px) {
  .h-sm-79 {
    height: 79% !important;
  }
}

@media (max-width: 575.98px) {
  .h-sm-80 {
    height: 80% !important;
  }
}

@media (max-width: 575.98px) {
  .h-sm-81 {
    height: 81% !important;
  }
}

@media (max-width: 575.98px) {
  .h-sm-82 {
    height: 82% !important;
  }
}

@media (max-width: 575.98px) {
  .h-sm-83 {
    height: 83% !important;
  }
}

@media (max-width: 575.98px) {
  .h-sm-84 {
    height: 84% !important;
  }
}

@media (max-width: 575.98px) {
  .h-sm-85 {
    height: 85% !important;
  }
}

@media (max-width: 575.98px) {
  .h-sm-86 {
    height: 86% !important;
  }
}

@media (max-width: 575.98px) {
  .h-sm-87 {
    height: 87% !important;
  }
}

@media (max-width: 575.98px) {
  .h-sm-88 {
    height: 88% !important;
  }
}

@media (max-width: 575.98px) {
  .h-sm-89 {
    height: 89% !important;
  }
}

@media (max-width: 575.98px) {
  .h-sm-90 {
    height: 90% !important;
  }
}

@media (max-width: 575.98px) {
  .h-sm-91 {
    height: 91% !important;
  }
}

@media (max-width: 575.98px) {
  .h-sm-92 {
    height: 92% !important;
  }
}

@media (max-width: 575.98px) {
  .h-sm-93 {
    height: 93% !important;
  }
}

@media (max-width: 575.98px) {
  .h-sm-94 {
    height: 94% !important;
  }
}

@media (max-width: 575.98px) {
  .h-sm-95 {
    height: 95% !important;
  }
}

@media (max-width: 575.98px) {
  .h-sm-96 {
    height: 96% !important;
  }
}

@media (max-width: 575.98px) {
  .h-sm-97 {
    height: 97% !important;
  }
}

@media (max-width: 575.98px) {
  .h-sm-98 {
    height: 98% !important;
  }
}

@media (max-width: 575.98px) {
  .h-sm-99 {
    height: 99% !important;
  }
}

@media (max-width: 575.98px) {
  .h-sm-100 {
    height: 100% !important;
  }
}

@media (max-width: 767.98px) {
  .h-vh-fixed {
    height: 100% !important;
  }
}

.h4 {
  font-size: 1.5rem;
}
@media (max-width: 767.98px) {
  .h4 {
    font-size: 1.2rem !important;
  }
}

@media (max-width: 1400px) {
  .form-control-max-xl {
    height: calc(1.2em + 0.5rem + 2px) !important;
    padding: 0.15rem 0.4rem !important;
    font-size: 0.875rem !important;
    line-height: 1.2 !important;
    border-radius: 0.2rem !important;
  }
}

@media (max-width: 1400px) {
  .col-form-label-max-xl {
    padding-top: calc(0.25rem + 1px) !important;
    padding-bottom: calc(0.25rem + 1px) !important;
    font-size: 0.875rem !important;
    line-height: 1.5 !important;
  }
}

.btn-no-focus:focus {
  box-shadow: none !important;
}

.btn-transparent {
  padding: 0px !important;
  background-color: transparent !important;
  border: 0px !important;
}
.btn-transparent:focus {
  box-shadow: none !important;
}

@media (max-width: 575.98px) {
  .btn-sm-sm {
    padding: 0.25rem 0.5rem !important;
    font-size: 0.875rem !important;
    line-height: 1.5 !important;
    border-radius: 0.2rem !important;
  }
}

/*# sourceMappingURL=main.css.map */
