<ng-template #trainingModal let-modal>
    <div class="trainingmodal__container">
        <form id="trainingForm" ngNativeValidate action='#' #trainingForm="ngForm" (ngSubmit)="submit()">
            <div class="modal-header">
                <h4 class="modal-title h4" id="modal-basic-title">Crea Allenamento</h4>
                <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card">
                    <div class="card-body">
                        <div class="form-row m-0">
                            <div class="col-12 form-group">Allenamento creato da {{newTraining.author.name}}
                                {{newTraining.author.surname}} il {{newTraining.creationDate | date:'dd/MM/yyyy'}}</div>
                            <div class="col-12 col-md-4 form-group">
                                <label for="newTrainingType"
                                    class="col-form-label col-form-label-sm text-muted">Disciplina</label>
                                <select [(ngModel)]="newTraining.type" required
                                    [minlength]="TRAINING_VALIDATIONS.MIN_TYPE_LENGTH"
                                    [maxlength]="TRAINING_VALIDATIONS.MAX_TYPE_LENGTH"
                                    [ngClass]="{'is-invalid': newTraining.type.length < TRAINING_VALIDATIONS.MIN_TYPE_LENGTH || newTraining.type.length > TRAINING_VALIDATIONS.MAX_TYPE_LENGTH}"
                                    class="form-control form-control-sm cursor-pointer" id="newTraining"
                                    name="newTraining"
                                    *ngIf="(newTraining.type==TRAINING_TYPES.POWERLIFTING || newTraining.type==TRAINING_TYPES.WEIGHTLIFTING || newTraining.type==TRAINING_TYPES.CROSSFIT || newTraining.type==TRAINING_TYPES.BODYBUILDING || newTraining.type==TRAINING_TYPES.SALA)">
                                    <option *ngFor="let type of TRAINING_TYPES | keyvalue" [value]="type.value"
                                        class="text-capitalize">{{type.value}}</option>
                                </select>
                                <div class="position-relative"
                                    *ngIf="!(newTraining.type==TRAINING_TYPES.POWERLIFTING || newTraining.type==TRAINING_TYPES.WEIGHTLIFTING || newTraining.type==TRAINING_TYPES.CROSSFIT || newTraining.type==TRAINING_TYPES.BODYBUILDING || newTraining.type==TRAINING_TYPES.SALA)">
                                    <input type="text" required [(ngModel)]="newTraining.type"
                                        class="form-control form-control-sm" id="newTraining" name="newTraining"
                                        [minlength]="TRAINING_VALIDATIONS.MIN_TYPE_LENGTH"
                                        [maxlength]="TRAINING_VALIDATIONS.MAX_TYPE_LENGTH"
                                        [ngClass]="{'is-invalid': newTraining.type.length < TRAINING_VALIDATIONS.MIN_TYPE_LENGTH || newTraining.type.length > TRAINING_VALIDATIONS.MAX_TYPE_LENGTH}">
                                    <div (click)="newTraining.type=TRAINING_TYPES.POWERLIFTING"
                                        style="position:absolute; right: 3px; top: 0px;">&times;</div>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6 col-md-4 form-group">
                                <label for="newTrainingStartDate"
                                    class="col-form-label col-form-label-sm text-muted">Data inizio</label>
                                <input type="datetime-local" [ngModel]="newTraining.startDate | date:'yyyy-MM-ddTHH:mm'"
                                    [max]="TRAINING_VALIDATIONS.MAX_DATE"
                                    (ngModelChange)="newTraining.startDate = $event"
                                    class="form-control form-control-sm"
                                    [ngClass]="{'border-danger': !isValidStartDate(newTraining.startDate)}"
                                    id="newTrainingStartDate" name="newTrainingStartDate">
                            </div>
                            <div class="col-12 col-sm-6 col-md-4 form-group">
                                <label for="newTrainingEndDate" class="col-form-label col-form-label-sm text-muted">Data
                                    fine</label>
                                <input type="datetime-local" [ngModel]="newTraining.endDate | date:'yyyy-MM-ddTHH:mm'"
                                    [min]="newTraining.startDate | date:'yyyy-MM-ddTHH:mm'"
                                    [max]="TRAINING_VALIDATIONS.MAX_DATE" (ngModelChange)="newTraining.endDate = $event"
                                    class="form-control form-control-sm"
                                    [ngClass]="{'border-danger': !isValidEndDate(newTraining.startDate, newTraining.endDate)}"
                                    id="newTrainingEndDate" name="newTrainingEndDate">
                            </div>
                            <div class="col-12 form-group">
                                <label for="newTrainingAthletes"
                                    class="col-form-label col-form-label-sm text-muted">Atleti</label>
                                <ng-multiselect-dropdown class="w-100 small" name="newTrainingAthletes" ngDefaultControl
                                    [placeholder]="'Atleti'" [settings]="dropdownSettings" [data]="athleteList"
                                    [(ngModel)]="newTraining.athletes" (onSelect)="onItemSelect($event)"
                                    (onSelectAll)="onSelectAll($event)" required
                                    [ngClass]="{'is-invalid-dropdown': !newTraining.athletes || !newTraining.athletes.length}"
                                    ngbTooltip="Deve essere selezionato almeno un atleta"
                                    [disableTooltip]="newTraining.athletes && newTraining.athletes.length">
                                    <ng-template #optionsTemplate let-item let-option="option" let-id="id"
                                        let-isSelected="isSelected">
                                        <div>
                                            <label style="color: #333; min-width: 130px; font-weight: normal;"
                                                class="m-0"
                                                [ngStyle]="{ 'font-weight': isSelected? 'bold':' normal','color': getItems[id].isDisabled? 'lightgrey': ''}">{{getItems[id].name}}
                                                {{getItems[id].surname}} ({{getItems[id].dateOfBirth |
                                                date:'dd/MM/yyyy'}})</label>
                                        </div>
                                    </ng-template>
                                    <ng-template #optionSelectedTemplate let-option="option" let-id="id">
                                        <div>
                                            {{getItems[id].name}} {{getItems[id].surname}} ({{getItems[id].dateOfBirth |
                                            date:'dd/MM/yyyy'}})
                                        </div>
                                    </ng-template>
                                </ng-multiselect-dropdown>
                            </div>
                            <div class="col-12 col-sm-6 col-md-4 form-group">
                                <label for="newTrainingWeeksNumber" class="col-form-label col-form-label-sm">Settimane</label>
                                <input type="number" [min]="TRAINING_VALIDATIONS.MIN_WEEKS_NUMBER" [max]="TRAINING_VALIDATIONS.MAX_WEEKS_NUMBER" [(ngModel)]="weeksNumber"
                                    class="form-control form-control-sm form-control-sm-max-md" id="newTrainingWeeksNumber" name="newTrainingWeeksNumber"
                                    [ngClass]="{'is-invalid': (weeksNumber > TRAINING_VALIDATIONS.MIN_WEEKS_NUMBER && weeksNumber < TRAINING_VALIDATIONS.MAX_WEEKS_NUMBER)}">
                            </div>
                            <div class="col-12 col-sm-6 col-md-4 form-group">
                                <label for="newTrainingDayForWeeks" class="col-form-label col-form-label-sm">Sessioni a settimana</label>
                                <input type="number" [min]="TRAINING_VALIDATIONS.MIN_SESSION_NUMBER" [max]="TRAINING_VALIDATIONS.MAX_SESSION_NUMBER" [(ngModel)]="sessionsForWeek"
                                    class="form-control form-control-sm form-control-sm-max-md" id="newTrainingDayForWeeks" name="newTrainingDayForWeeks"
                                    [ngClass]="{'is-invalid': (sessionsForWeek > TRAINING_VALIDATIONS.MIN_SESSION_NUMBER && sessionsForWeek < TRAINING_VALIDATIONS.MAX_SESSION_NUMBER)}">
                            </div>
                            <div class="col-12 form-group">
                                <label for="newTrainingcomment"
                                    class="col-form-label col-form-label-sm text-muted">Commento</label>
                                <textarea [(ngModel)]="newTraining.comment" class="form-control"
                                    [maxlength]="TRAINING_VALIDATIONS.MAX_TRAINING_COMMENT_LENGTH"
                                    id="newTrainingcomment" name="newTrainingcomment" placeholder="Commento..."
                                    [ngClass]="{'is-invalid': newTraining.comment.length > TRAINING_VALIDATIONS.MAX_TRAINING_COMMENT_LENGTH}"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer overflow-visible">
                <div class="form-group d-flex align-items-center justify-content-end">
                    <button type="submit" [disabled]="bLoading" ngbAutofocus class="btn btn-sm-sm btn-success mr-2"
                        [ngClass]="{'disabled header-invalid cursor-not-allowed': !areBasicTrainingInfosValidToSubmit(newTraining)}"
                        ngbTooltip="Alcuni input presentano valori errati"
                        [disableTooltip]="areBasicTrainingInfosValidToSubmit(newTraining)">Crea</button>
                    <div [disabled]="bLoading" class="btn btn-sm-sm btn-secondary"
                        (click)="modal.dismiss('Cancel')">Annulla</div>
                </div>
            </div>
        </form>
    </div>
</ng-template>

<div (click)="openTrainingModal(trainingModal)">
    <ng-content></ng-content>
</div>