.view__maincontainer {

    overflow: auto;
    // height: calc(100vh - 164px);
    border: 0px;
    background: rgba(0,0,0,0) !important;
    transition: all 1s;
    box-shadow: 0 0 0.875rem 0 rgb(41 48 66 / 8%);

    .card {
        box-shadow: 0 0 0.875rem 0 rgb(41 48 66 / 8%);
        position: relative;
        display: flex;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        border: 0 solid transparent;
        border-radius: .25rem;

        .card-header {
            background-color: white;
            border: 0px;
            
            .card-title {
                font-size: .95rem;
                font-weight: 500;
                color: #495057;
            }
        }

    }
}