<div class="main__training row m-3">
    <div class="training__maincontainer card col-12 p-0">
        <div class="maincontainer__header card-header py-2">
            <div class="d-flex align-items-baseline mb-2">
                <h5 class="m-0">ALLENAMENTO {{training.type}}</h5>
                <div class="d-flex input-group w-auto ml-auto">
                    <div class="input-group-prepend"><span class="input-group-text">ACTIONS</span></div>
                    <div class="d-flex align-items-center form-control">
                        <div (click)="changeMode(PAGEMODE.READONLY)" class="inverse-image-button" [ngClass]="{'active': pageStatus[PAGES.TRAININGS] == PAGEMODE.READONLY}"  ngbTooltip="Visualizza" placement="left"><img src="assets/icons/actions/visibility.svg" style="width:20px; height:auto;"></div>
                        <div (click)="changeMode(PAGEMODE.WRITE)" class="ml-2 inverse-image-button" [ngClass]="{'active': pageStatus[PAGES.TRAININGS] == PAGEMODE.WRITE}"  ngbTooltip="Modifica" placement="left"><img src="assets/icons/actions/edit.svg" style="width:20px; height:auto;"></div>
                        <div (click)="changeMode(PAGEMODE.STATS)" class="ml-2 inverse-image-button" [ngClass]="{'active': pageStatus[PAGES.TRAININGS] == PAGEMODE.STATS}"  ngbTooltip="Statistiche" placement="left"><img src="assets/icons/actions/graph.svg" style="width:20px; height:auto;"></div>
                        <div (click)="deleteTraining()" class="ml-2 inverse-image-button" ngbTooltip="Elimina" placement="left"><img src="assets/icons/actions/garbage-can.svg" style="width:20px; height:auto;"></div>
                    </div>
                </div>
            </div>
            <h6 class="m-0">
                <span>Atleta {{training.athlete.name}} {{training.athlete.surname}} ({{training.athlete.dateOfBirth | date:'d MMMM yyyy'}} &bull; {{training.athlete.bodyWeight}} kg)</span>
                <span class="m-0">, dal {{training.startDate | date:'d MMMM yyyy'}} al {{training.endDate | date:'d MMMM yyyy'}}</span>
            </h6>
        </div>
        <div class="maincontainer__body card-body p-2">

            <!-- READ ONLY MODE CONTENT -->
            <div class="row m-0" *ngIf="pageStatus[PAGES.TRAININGS] == PAGEMODE.READONLY && !bLoading">
                <div class="card w-100 border-0" [hidden]="bTinyMCEEditorOpen">
                    <div class="card-header d-flex border bg-dark text-white" style="border-radius: 5px !important;">
                        <div>
                            <h5>ALLENAMENTO {{readOnlyTraining.type}} {{readOnlyTraining._id}}</h5>
                            <h6 class="m-0">Allenamento creato da {{readOnlyTraining.author.name}} {{readOnlyTraining.author.surname}} il {{readOnlyTraining.creationDate | date:'d MMMM yyyy'}}</h6>
                            <h6 class="m-0">
                                <span>Atleta {{readOnlyTraining.athlete.name}} {{readOnlyTraining.athlete.surname}} ({{readOnlyTraining.athlete.dateOfBirth | date:'d MMMM yyyy'}} &bull; {{readOnlyTraining.athlete.bodyWeight}} kg)</span>
                                <span class="m-0">, dal {{readOnlyTraining.startDate | date:'d MMMM yyyy'}} al {{readOnlyTraining.endDate | date:'d MMMM yyyy'}}</span>
                            </h6>
                            <span [hidden]="(readOnlyTraining.comment == null || readOnlyTraining.comment == '')">Commento: {{readOnlyTraining.comment}}</span>
                        </div>
                        <div class="ml-auto d-flex ">
                            <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="conversionDropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                  Conversione
                                </button>
                                <div class="dropdown-menu" aria-labelledby="conversionDropdownMenuButton">
                                  <a class="dropdown-item cursor-pointer" (click)="convertPercentage('kg')">Converti % in kg</a>
                                  <a class="dropdown-item cursor-pointer" (click)="convertPercentage('lbs')">Converti % in lbs</a>
                                  <a class="dropdown-item cursor-pointer" (click)="convertLbsToKg()">Converti lbs in kg</a>
                                  <a class="dropdown-item cursor-pointer" (click)="convertKgToLbs()">Converti kg in lbs</a>
                                  <a class="dropdown-item cursor-pointer" (click)="convertPercentage()">Ripristina originale</a>
                                </div>
                            </div>
                            <div class="dropdown ml-2">
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="formatDropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                  Formattazione
                                </button>
                                <div class="dropdown-menu" aria-labelledby="formatDropdownMenuButton">
                                  <a class="dropdown-item cursor-pointer d-flex align-items-center justify-content-center">
                                    <span>Settimane per riga: </span><input type="number" class="ml-2" [(ngModel)]="readOptions.format.weeksForRow" min="1" max="8" (ngModelChange)="clampWeeksForRowValue()">
                                  </a>
                                  <a class="dropdown-item cursor-pointer" (click)="setDefaultReadOptions()">Ripristina originale</a>
                                </div>
                            </div>
                            <div> 
                                <button class="btn btn-primary ml-2" ngbTooltip="Apri in Editor di testo" placement="left" (click)="openTinyMCEEditor()">Apri Editor</button>
                            </div>
                        </div>
                    </div>

                    <div class="card-body p-0 d-flex m-0" style="flex-wrap: wrap;">
                        <div class="card my-3 p-0" *ngFor="let week of readOnlyTraining.weeks; index as weekIndex; last as bLastWeek" style="border-color: rgba(0, 0, 0, 0.6) !important;"
                            [ngClass]="{'margin-right-1': index==0 || ((weekIndex+1)%readOptions.format.weeksForRow!=0),'flex-1': readOptions.format.weeksForRow == 1 || readOptions.format.weeksForRow == 0 || readOptions.format.weeksForRow == null, 'flex-2': readOptions.format.weeksForRow == 2, 'flex-3': readOptions.format.weeksForRow == 3, 'flex-4': readOptions.format.weeksForRow == 4, 'flex-5': readOptions.format.weeksForRow == 5, 'flex-6': readOptions.format.weeksForRow == 6, 'flex-7': readOptions.format.weeksForRow == 7, 'flex-8': readOptions.format.weeksForRow == 8}">
                            <div class="card-header border border-dark bg-dark text-white">
                                <h6 class="m-0">WEEK {{weekIndex+1}}</h6>
                                <span [hidden]="(week.comment == null || week.comment == '')">Commento: {{week.comment}}</span>
                            </div>
                            <div class="card-body border-0 p-0 ">
                                <div *ngFor="let session of week.sessions; index as sessionIndex" class="card border-0" style="box-shadow: 0px 2px 0px rgba(0,0,0,.5); border-radius: 0px !important;">
                                    <div class="card-header m-0 px-0 border-0 text-white" style="background-color: rgba(0, 0, 0, 0.6) !important; border-radius: 0px !important;">
                                        <h6 class="m-0 px-3">Sessione {{session.name}} - {{session.name}}</h6>
                                        <div class="row m-0 px-3 py-0" style="font-size: small; font-style: italic;">
                                            <div class="col-4 px-0">
                                                <span>Esercizio (variante)</span>
                                            </div>
                                            <div class="col-8 pr-0">
                                                <div class="row m-0 d-flex">
                                                    <span>Serie &times; Ripetizioni</span>
                                                    <span class="ml-auto">Riposo</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-body p-0">
                                        <div *ngFor="let exercise of session.exercises; index as exerciseIndex" class="row m-0 px-3 py-1 border border-left-0 border-right-0 border-top-0">
                                            <div class="col-4 px-0">
                                                <div><span>{{exercise.exercise.name}} ({{exercise.exercise.variant.name}})</span></div>
                                                <div><span>{{exercise.exercise.description}}</span></div>
                                            </div>
                                            <div class="col-8 pr-0">
                                                <div *ngFor="let series of exercise.series; index as seriesIndex" class="row m-0 d-flex">
                                                    <span>{{series.seriesNumber}} &times; {{series.repNumber}} @ {{series.weight}} {{series.measure}}</span>
                                                    <span class="ml-auto">{{series.rest}}''</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-footer border-0 bg-white px-3">
                                        <span>{{(session.comment == null || session.comment == '') ? 'Nessun commento' : ('Commento: ' + session.comment)}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class='mceNonEditable'>
                        <span>Allenamento creato sulla piattaforma <em>MyTrainingPlatform</em></span>
                    </div>
                </div>
                <div [hidden]="!bTinyMCEEditorOpen" class="w-100 h-100 tiniMCE-container position-relative">
                    <div class="button-container">
                        <button class="btn btn-sm btn-primary" ngbTooltip="Chiudi Editor di testo" placement="left" (click)="closeTinyMCEEditor()">Chiudi Editor</button>
                        <button class="btn btn-sm btn-primary ml-1" ngbTooltip="Crea pdf dal testo dell'editor" placement="left" (click)="createPdfFromEditor()">Crea PDF</button>
                    </div>
                    <editor class="w-100 h-100" apiKey="nezikf86u3tkn42uasu6wth68lb9qcfa2dszno3h7anr94qq" initialValue={{editorContent}} [(ngModel)]="editorContent" [init]=tinyMCEoptions name="tinymceeditor" ngDefaultControl></editor>
                </div>
            </div>

            <!-- WRITE MODE CONTENT -->
            <form class="d-flex" *ngIf="pageStatus[PAGES.TRAININGS] == PAGEMODE.WRITE && !bLoading">
                <!-- WEEKS -->
                <ul ngbNav #nav="ngbNav" [(activeId)]="activeWeek" class="nav-pills mt-2 mr-2 nav flex-column border border-left-0 border-top-0 border-bottom-0" orientation="vertical">
                    <li ngbNavItem="0">
                        <a ngbNavLink class="d-flex">INFO&nbsp;<img [hidden]="activeWeek != 0" src="assets/icons/actions/info-light.svg" style="width:15px; height:auto;"><img [hidden]="activeWeek == 0" src="assets/icons/actions/info-dark.svg" style="width:15px; height:auto;"></a>
                        <ng-template ngbNavContent class="w-100">
                            <div class="form-row m-0">
                                <div class="col-12 form-group">Allenamento creato da {{training.author.name}} {{training.author.surname}} il {{training.creationDate | date:'d MMMM yyyy'}}</div>
                                <div class="col-4 form-group">
                                    <label for="trainingType" class="col-form-label col-form-label-sm text-muted">Disciplina</label>
                                    <select [(ngModel)]="training.type" class="form-control form-control-sm cursor-pointer" id="trainingType" name="trainingType"
                                        *ngIf="(training.type=='POWERLIFTING' || training.type=='WEIGHTLIFTING' || training.type=='CROSSFIT' || training.type=='BODYBUILDING' || training.type=='SALA ATTREZZI')">
                                        <option [value]="'POWERLIFTING'">POWERLIFTING</option>
                                        <option [value]="'WEIGHTLIFTING'">WEIGHTLIFTING</option>
                                        <option [value]="'CROSSFIT'">CROSSFIT</option>
                                        <option [value]="'BODYBUILDING'">BODYBUILDING</option>
                                        <option [value]="'SALA ATTREZZI'">SALA ATTREZZI</option>
                                        <option [value]="'Custom'">(+)</option>
                                    </select>
                                    <div class="position-relative" *ngIf="!(training.type=='POWERLIFTING' || training.type=='WEIGHTLIFTING' || training.type=='CROSSFIT' || training.type=='BODYBUILDING' || training.type=='SALA ATTREZZI')">
                                        <input type="text" [(ngModel)]="training.type" class="form-control form-control-sm">
                                        <div (click)="training.type='POWERLIFTING'" style="position:absolute; right: 3px; top: 0px;">&times;</div>
                                    </div>
                                </div>
                                <div class="col-4 form-group">
                                    <label for="trainingAthlete" class="col-form-label col-form-label-sm text-muted">Atleta</label>
                                    <select [(ngModel)]="training.athlete" class="form-control form-control-sm cursor-pointer" id="trainingAthlete" name="trainingAthlete" [compareWith]="compareObjects">
                                        <option [ngValue]="athlete" *ngFor="let athlete of athleteList; index as athleteIndex">{{athlete.name}} {{athlete.surname}}</option>
                                    </select>
                                </div>
                                <div class="col-2 form-group">
                                    <label for="trainingStartDate" class="col-form-label col-form-label-sm text-muted">Data inizio</label>
                                    <input type="date"  [ngModel] ="training.startDate | date:'yyyy-MM-dd'" (ngModelChange)="training.startDate = $event" class="form-control form-control-sm"
                                        id="trainingStartDate" name="trainingStartDate">
                                </div>
                                <div class="col-2 form-group">
                                    <label for="trainingEndDate" class="col-form-label col-form-label-sm text-muted">Data fine</label>
                                    <input type="date" [ngModel] ="training.endDate | date:'yyyy-MM-dd'" (ngModelChange)="training.endDate = $event" class="form-control form-control-sm"
                                        id="trainingEndDate" name="trainingEndDate">
                                </div>
                                <div class="col-12 form-group">
                                    <label for="trainingcomment" class="col-form-label col-form-label-sm text-muted">Commento</label>
                                    <textarea [(ngModel)]="training.comment" class="form-control form-control-sm"
                                        id="trainingcomment" name="trainingcomment" placeholder="Commento..."></textarea>
                                </div>
                            </div>
                        </ng-template>  
                    </li>
                    <li *ngFor="let week of training.weeks; index as weekIndex; first as bFirstWeek; last as bLastWeek" [ngbNavItem]="weekIndex+1">
                        <a ngbNavLink class="d-flex">
                            <span>WEEK&nbsp;{{weekIndex+1}}</span>
                            <span class="ml-2 image-button" ngbTooltip="Copia Settimana" placement="top" (click)="copyWeek($event, weekIndex)"><img [hidden]="activeWeek != weekIndex+1" src="assets/icons/actions/copy-light.svg" style="width:15px; height:auto;"><img [hidden]="activeWeek == weekIndex+1" src="assets/icons/actions/copy.svg" style="width:15px; height:auto;"></span>
                            <span class="ml-1 image-button" ngbTooltip="Incolla Settimana" placement="top" (click)="pasteWeek($event, weekIndex)"><img [hidden]="activeWeek != weekIndex+1" src="assets/icons/actions/contract-light.svg" style="width:15px; height:auto;"><img [hidden]="activeWeek == weekIndex+1" src="assets/icons/actions/contract.svg" style="width:15px; height:auto;"></span>
                            <span class="ml-1 image-button" ngbTooltip="Reset Settimana" placement="top" (click)="resetWeek($event, weekIndex)"><img [hidden]="activeWeek != weekIndex+1" src="assets/icons/actions/return-light.svg" style="width:15px; height:auto;"><img [hidden]="activeWeek == weekIndex+1" src="assets/icons/actions/return.svg" style="width:15px; height:auto;"></span>
                            <span class="ml-1 image-button" ngbTooltip="Elimina Settimana" placement="top" (click)="deleteWeek($event, weekIndex)" [hidden]="training.weeks.length == 1"><img [hidden]="activeWeek != weekIndex+1" src="assets/icons/actions/garbage-can-light.svg" style="width:15px; height:auto;"><img [hidden]="activeWeek == weekIndex+1" src="assets/icons/actions/garbage-can.svg" style="width:15px; height:auto;"></span>
                            <span class="ml-1 image-button" ngbTooltip="Sposta Settimana su" placement="top" (click)="shiftWeek($event, weekIndex, -1)" [hidden]="(training.weeks.length == 1 || bFirstWeek)"><img src="assets/icons/actions/arrow-up.svg" style="width:15px; height:auto;"></span>
                            <span class="ml-1 image-button" ngbTooltip="Sposta Settimana giù" placement="top" (click)="shiftWeek($event, weekIndex, 1)" [hidden]="(training.weeks.length == 1 || bLastWeek)"><img src="assets/icons/actions/arrow-down.svg" style="width:15px; height:auto;"></span>
                        </a>
                        <ng-template ngbNavContent>
                        
                            <!-- SESSIONS -->
                            <ul ngbNav #nav="ngbNav" [(activeId)]="activeSession[weekIndex]" class="nav-tabs">
                                <li [ngbNavItem]="0">
                                    <a ngbNavLink class="d-flex">INFO&nbsp;<img src="assets/icons/actions/info-dark.svg" style="width:15px; height:auto;"></a>
                                    <ng-template ngbNavContent>
                                        <div class="form-row m-0">
                                            <div class="col-12 form-group pl-3">
                                                <label for="weekcomment_{{weekIndex}}" class="col-form-label col-form-label-sm text-muted">Commento</label>
                                                <textarea [(ngModel)]="week.comment" class="form-control form-control-sm"
                                                    id="weekcomment_{{weekIndex}}" name="weekcomment_{{weekIndex}}" placeholder="Commento..."></textarea>
                                            </div>
                                        </div>
                                    </ng-template>
                                </li>
                                <li *ngFor="let session of week.sessions; index as sessionIndex; first as bFirstSession; last as bLastSession" [ngbNavItem]="sessionIndex+1">
                                    <a ngbNavLink class="d-flex align-items-baseline">
                                        <span>Sessione {{sessionIndex+1}}</span>
                                        <span class="ml-2 image-button" ngbTooltip="Copia Sessione" placement="top" (click)="copySession($event, week, sessionIndex)"><img src="assets/icons/actions/copy.svg" style="width:15px; height:auto;"></span>
                                        <span class="ml-1 image-button" ngbTooltip="Incolla Sessione" placement="top" (click)="pasteSession($event, week, sessionIndex)"><img src="assets/icons/actions/contract.svg" style="width:15px; height:auto;"></span>
                                        <span class="ml-1 image-button" ngbTooltip="Reset Sessione" placement="top" (click)="resetSession($event, week, sessionIndex, weekIndex)"><img src="assets/icons/actions/return.svg" style="width:15px; height:auto;"></span>
                                        <span class="ml-1 image-button" ngbTooltip="Elimina Sessione" placement="top" (click)="deleteSession($event, week, sessionIndex, weekIndex)" [hidden]="week.sessions.length == 1"><img src="assets/icons/actions/garbage-can.svg" style="width:15px; height:auto;"></span>
                                        <span class="ml-1 image-button" ngbTooltip="Sposta Sessione a sinistra" placement="top" (click)="shiftSession($event, week, sessionIndex, -1)" [hidden]="(week.sessions.length == 1 || bFirstSession)"><img src="assets/icons/actions/arrow-up.svg" style="width:15px; height:auto; transform: rotate(-90deg);"></span>
                                        <span class="ml-1 image-button" ngbTooltip="Sposta Sessione a destra" placement="top" (click)="shiftSession($event, week, sessionIndex, 1)" [hidden]="(week.sessions.length == 1 || bLastSession)"><img src="assets/icons/actions/arrow-down.svg" style="width:15px; height:auto; transform: rotate(-90deg);"></span>
                                    </a>
                                    <ng-template ngbNavContent>
                                        <div class="form-row m-0">
                                            <div class="col-2 form-group pl-0">
                                                <label for="trainingName_{{weekIndex}}" class="col-form-label col-form-label-sm text-muted">Nome sessione</label>
                                                <input type="text" [(ngModel)]="session.name" class="form-control form-control-sm"
                                                    id="trainingName_{{weekIndex}}" name="trainingName_{{weekIndex}}" placeholder="Nome sessione...">
                                            </div>
                                            <div class="col-10 form-group pr-0">
                                                <label for="trainingComment_{{weekIndex}}" class="col-form-label col-form-label-sm text-muted">Commento</label>
                                                <input type="text" [(ngModel)]="session.comment" class="form-control form-control-sm"
                                                    id="trainingComment_{{weekIndex}}" name="trainingComment_{{weekIndex}}" placeholder="Commento...">
                                            </div>
                                        </div>
                                        <div class="form-row m-0 position-relative border" *ngFor="let exercise of session.exercises; index as exerciseIndex; first as bFirstExercise; last as bLastExercise">
                                            <div class="col-4 d-flex m-0 px-3 h-100">
                                                <div class="row m-0 w-100">
                                                    <div class="col-6 form-group pl-0 pr-1 m-0">
                                                        <label for="exercise_{{exerciseIndex}}" class="col-form-label col-form-label-sm text-muted">Esercizio</label>
                                                        <input id="exercise_{{exerciseIndex}}" name="exercise_{{exerciseIndex}}" type="text" class="form-control form-control-sm"
                                                            [ngModel]="exercise.exercise.name"
                                                            [ngbTypeahead]="search"
                                                            [resultTemplate]="rt"
                                                            [editable]='false'
                                                            (selectItem)="selectExercise($event, session.exercises, exerciseIndex)">
                                                            
                                                            <ng-template #rt let-r="result" let-t="term">
                                                                <ngb-highlight [result]="r.name + ' (' + r.variant.name + ')'" [term]="t"></ngb-highlight>
                                                            </ng-template>
                                                    </div>
                                                    <div class="col-6 form-group pl-1 pr-0 m-0">
                                                        <label for="tipo_{{exerciseIndex}}" class="col-form-label col-form-label-sm text-muted">Tipo</label>
                                                        <input type="text" [(ngModel)]="exercise.exercise.variant.name" class="form-control form-control-sm"
                                                            id="tipo_{{exerciseIndex}}" name="tipo_{{exerciseIndex}}" placeholder="Tipo esercizio..." disabled>
                                                    </div>
                                                    <div class="col-12 form-group pl-0 pr-0">
                                                        <label for="description_{{exerciseIndex}}" class="col-form-label col-form-label-sm text-muted">Descrizione</label>
                                                        <input type="text" [(ngModel)]="exercise.exercise.description" class="form-control form-control-sm"
                                                            id="description_{{exerciseIndex}}" name="description_{{exerciseIndex}}" placeholder="Descrizione esercizio..." disabled>
                                                    </div>
                                                </div>
                                                <div class="pl-3 pr-0 d-flex flex-column align-items-center mt-1">
                                                    <span style="font-size: 0.875rem;">Azioni</span>
                                                    <div class="d-flex">
                                                        <div class="image-button" ngbTooltip="Copia esercizio" placement="top" (click)="copyExercise(session, exerciseIndex)"><img src="assets/icons/actions/copy.svg" style="width:15px; height:auto;"></div>
                                                        <div class="ml-1 image-button" ngbTooltip="Incolla esercizio" placement="top" (click)="pasteExercise(session, exerciseIndex)"><img src="assets/icons/actions/contract.svg" style="width:15px; height:auto;"></div>
                                                    </div>
                                                    <div class="d-flex">
                                                        <div class="image-button" ngbTooltip="Reset esercizio" placement="top" (click)="resetExercise(session, exerciseIndex)"><img src="assets/icons/actions/return.svg" style="width:15px; height:auto;"></div>
                                                        <div class="ml-1 image-button" ngbTooltip="Elimina esercizio" placement="top" (click)="deleteExercise(session, exerciseIndex)" [hidden]="session.exercises.length == 1"><img src="assets/icons/actions/garbage-can.svg" style="width:15px; height:auto;"></div>
                                                    </div>
                                                    <div class="d-flex">
                                                        <div class="image-button" ngbTooltip="Sposta esercizio su" placement="top" (click)="shiftExercise(session, exerciseIndex, -1)" [hidden]="(session.exercises.length == 1 || bFirstExercise)"><img src="assets/icons/actions/arrow-up.svg" style="width:15px; height:auto;"></div>
                                                        <div class="ml-1 image-button" ngbTooltip="Sposta esercizio giù" placement="top" (click)="shiftExercise(session, exerciseIndex, 1)" [hidden]="(session.exercises.length == 1 || bLastExercise)"><img src="assets/icons/actions/arrow-down.svg" style="width:15px; height:auto;"></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-8 pr-3 pl-3 border border-right-0 border-top-0 border-bottom-0">
                                                <div class="form-row m-0" *ngFor="let elem of exercise.series; first as bFirstSeries; last as bLastSeries; index as seriesIndex">
                                                    <div class="col-2 form-group">
                                                        <label for="serie_{{exerciseIndex}}_{{seriesIndex}}" class="col-form-label col-form-label-sm"
                                                            [hidden]="!bFirstSeries">Serie</label>
                                                        <input type="number" min="1" [(ngModel)]="elem.seriesNumber"
                                                            class="form-control form-control-sm" id="serie_{{exerciseIndex}}_{{seriesIndex}}"
                                                            name="serie_{{exerciseIndex}}_{{seriesIndex}}" placeholder="Serie...">
                                                    </div>
                                                    <div class="col-2 form-group">
                                                        <label for="rep_{{exerciseIndex}}_{{seriesIndex}}" class="col-form-label col-form-label-sm"
                                                            [hidden]="!bFirstSeries">Rep</label>
                                                        <input type="number" min="1" [(ngModel)]="elem.repNumber"
                                                            class="form-control form-control-sm" id="rep_{{exerciseIndex}}_{{seriesIndex}}"
                                                            name="rep_{{exerciseIndex}}_{{seriesIndex}}" placeholder="Rep...">
                                                    </div>
                                                    <div class="col-2 form-group">
                                                        <label for="peso_{{exerciseIndex}}_{{seriesIndex}}" class="col-form-label col-form-label-sm"
                                                            [hidden]="!bFirstSeries">Peso</label>
                                                        <input type="number" min="0" [(ngModel)]="elem.weight"
                                                            class="form-control form-control-sm" id="peso_{{exerciseIndex}}_{{seriesIndex}}"
                                                            name="peso_{{exerciseIndex}}_{{seriesIndex}}" placeholder="Peso...">
                                                    </div>
                                                    <div class="col-2 d-flex">
                                                        <div class="form-group w-100">
                                                            <label for="misura_{{exerciseIndex}}_{{seriesIndex}}" class="col-form-label col-form-label-sm"
                                                            [hidden]="!bFirstSeries">Misura</label>
                                                            <select [(ngModel)]="elem.measure" class="form-control form-control-sm" *ngIf="(elem.measure=='kg' || elem.measure=='lbs' || elem.measure=='%' || elem.measure=='RPE' || elem.measure=='Low Effort' || elem.measure=='Med Effort' || elem.measure=='Max Effort')"
                                                                id="misuraSelect_{{exerciseIndex}}_{{seriesIndex}}" name="misuraSelect_{{exerciseIndex}}_{{seriesIndex}}">
                                                                <option [value]="'kg'">kg</option>
                                                                <option [value]="'lbs'">lbs</option>
                                                                <option [value]="'%'">% RM</option>
                                                                <option [value]="'RPE'">RPE</option>
                                                                <option [value]="'Low Effort'">Low Effort</option>
                                                                <option [value]="'Med Effort'">Med Effort</option>
                                                                <option [value]="'Max Effort'">Max Effort</option>
                                                                <option [value]="'Custom'">(+)</option>
                                                            </select>
                                                            <div class="position-relative" *ngIf="!(elem.measure=='kg' || elem.measure=='lbs' || elem.measure=='%' || elem.measure=='RPE' || elem.measure=='Low Effort' || elem.measure=='Med Effort' || elem.measure=='Max Effort')">
                                                                <input type="text" [(ngModel)]="elem.measure" class="form-control form-control-sm"
                                                                id="misuraText_{{exerciseIndex}}_{{seriesIndex}}" name="misuraText_{{exerciseIndex}}_{{seriesIndex}}">
                                                                <div (click)="elem.measure='%'" style="position:absolute; right: 3px; top: 0px;">&times;</div>
                                                            </div>
                                                        </div>
                                                        <div class="d-flex mr-3">
                                                            <div class="image-button ml-1" [ngClass]="{'d-flex align-items mt-3': bFirstSeries}" ngbTooltip="Applica misura a tutta la sessione" placement="top" (click)="setSessionMeasure(session, elem.measure)"><img src="assets/icons/actions/copy-secondary.svg" style="width:15px; height:auto;"></div>
                                                            <div class="image-button ml-1" [ngClass]="{'d-flex align-items mt-3': bFirstSeries}" ngbTooltip="Applica misura a tutto l'esercizio" placement="top" (click)="setExerciseMeasure(exercise, elem.measure)"><img src="assets/icons/actions/copy-secondary.svg" style="width:15px; height:auto;"></div>
                                                        </div>
                                                    </div>
                                                    <div class="col-2 form-group">
                                                        <label for="rest_{{exerciseIndex}}_{{seriesIndex}}" class="col-form-label col-form-label-sm"
                                                            [hidden]="!bFirstSeries">Recupero</label>
                                                        <input type="number" min="0" [(ngModel)]="elem.rest" 
                                                            class="form-control form-control-sm" id="rest_{{exerciseIndex}}_{{seriesIndex}}" 
                                                            name="rest_{{exerciseIndex}}_{{seriesIndex}}">
                                                    </div>
                                                    <div class="col-2 form-group m-0 p-0 pl-2">
                                                        <label class="col-form-label col-form-label-sm" [hidden]="!bFirstSeries">Azioni</label>
                                                        <div class="d-flex">
                                                            <div class="image-button" ngbTooltip="Copia" placement="top" (click)="copySeries(exercise, seriesIndex)"><img src="assets/icons/actions/copy.svg" style="width:15px; height:auto;"></div>
                                                            <div class="ml-1 image-button" ngbTooltip="Incolla" placement="top" (click)="pasteSeries(exercise, seriesIndex)"><img src="assets/icons/actions/contract.svg" style="width:15px; height:auto;"></div>
                                                            <div class="ml-1 image-button" ngbTooltip="Reset" placement="top" (click)="resetSeries(exercise, seriesIndex)"><img src="assets/icons/actions/return.svg" style="width:15px; height:auto;"></div>
                                                            <div class="ml-1 image-button" ngbTooltip="Elimina" placement="top" (click)="deleteSeries(exercise, seriesIndex)" [hidden]="exercise.series.length == 1"><img src="assets/icons/actions/garbage-can.svg" style="width:15px; height:auto;"></div>
                                                            <div class="ml-1 image-button" ngbTooltip="Sposta serie su" placement="top" (click)="shiftSeries(exercise, seriesIndex, -1)" [hidden]="(exercise.series.length == 1 || bFirstSeries)"><img src="assets/icons/actions/arrow-up.svg" style="width:15px; height:auto;"></div>
                                                            <div class="ml-1 image-button" ngbTooltip="Sposta serie giù" placement="top" (click)="shiftSeries(exercise, seriesIndex, 1)" [hidden]="(exercise.series.length == 1 || bLastSeries)"><img src="assets/icons/actions/arrow-down.svg" style="width:15px; height:auto;"></div>
                                                            <div class="ml-1 image-button" ngbTooltip="Aggiungi" placement="top" (click)="pushSeries(exercise)" [hidden]="!bLastSeries"><img src="assets/icons/actions/plus2.svg" style="width:15px; height:auto;"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-row m-0 d-flex justify-content-start">
                                            <div class="btn btn-outline-info btn-small mt-2" (click)="pushExercise(session)">Aggiungi esercizio +</div>
                                        </div>
                                    </ng-template>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href (click)="pushSession($event, week)">Aggiungi <img src="assets/icons/actions/plus.svg" style="width:15px; height:auto;"></a>
                                </li>
                            </ul>
                            <div [ngbNavOutlet]="nav" class="mt-2 session-tab"></div>
                        </ng-template>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link d-flex" href (click)="pushWeek($event)">Aggiungi&nbsp;<img src="assets/icons/actions/plus.svg" style="width:15px; height:auto;"></a>
                    </li>
                </ul>
                <div [ngbNavOutlet]="nav" class="mt-2 week-tab w-100"></div>
                <button type="submit" (click)="saveTraining()" class="bottom-right-absolute btn btn-success" [disabled]="!canTrainingBeSaved()">SALVA</button>
            </form>

            <!-- STATS MODE CONTENT -->
            <div *ngIf="pageStatus[PAGES.TRAININGS] == PAGEMODE.STATS && !bLoading">
                <training-line-chart [currentTraining]="training"></training-line-chart>
            </div>
        </div>
    </div>

    <!-- Loader -->
    <div class='h-100 w-100' [hidden]="!bLoading">
        <div style="position:absolute; background-color:black; opacity:50%; right:0; top:0;" class="w-100 h-100">
            <div class="container d-flex align-items-center justify-content-center w-100 h-100">
                <div class="lds-ring"><div></div><div></div><div></div><div></div></div>
            </div>
        </div>
    </div>

    <!-- Exercise Modal -->
    <app-exercise-modal [hidden]="true" (onClose)="createExercise()" (onAbort)="abortCreateExercise()" [(newExercise)]="newExercise" style="position: absolute; right: 15px; bottom: 15px">
        <button id="exerciseModalButton" class="image-button cursor-pointer" ngbTooltip="Nuovo" placement="top"><img src="assets/icons/actions/plus.svg" style="width:40px; height:auto;"></button>
    </app-exercise-modal>
</div>