.main__training {

    .training__maincontainer {
        border: 0px !important;

        .maincontainer__header {
            border: 0px !important;

            .header-content {
                .content-actions {
                    .actions-title {
                        @media (max-width: 1199.98px) { 
                            display: flex;
                            align-items: center;
                            padding: 0.375rem 0.75rem;
                            margin-bottom: 0;
                            font-size: 1rem;
                            font-weight: 400;
                            line-height: 1.5;
                            color: #495057;
                            text-align: center;
                            white-space: nowrap;
                            background-color: #e9ecef;
                            border: 1px solid #ced4da;
                            border-radius: 0.25rem 0 0 0.25rem;
                        }
                    }  
                    
                    .actions-content {
                        @media (max-width: 1199.98px) { 
                            display: block;
                            width: 100%;
                            height: calc(1.5em + 0.75rem + 2px);
                            padding: 0.375rem 0.75rem;
                            font-size: 1rem;
                            font-weight: 400;
                            line-height: 1.5;
                            color: #495057;
                            background-color: #fff;
                            background-clip: padding-box;
                            border: 1px solid #ced4da;
                            border-radius: 0 0.25rem 0.25rem 0;
                            transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
                        }

                        @media (max-width: 767.98px) { 
                            border-radius: 0.25rem;
                        }

                    }
                }
            }
        } 

        .maincontainer__body {
            overflow: auto;
            height: calc(100vh - 155px);
            border: 1px solid rgba(0, 0, 0, 0.125) !important;

            @media (max-width: 1199.98px) { 
                height: calc(100vh - 200px);
            }

            .toggle-week-navbar-btn {
                position: absolute;
                left: -46px;
                top: 30vh;
                z-index: 11;
                font-size: .9rem;
                background-color: #d5d5d5 !important;
                transform: rotate(-90deg);
                box-shadow: -1px 1px 10px rgb(0 0 0 / 18%);
                transition: all .5s;

                @media (max-width: 767.98px) { 
                    font-size: .8rem;
                }

                &.open-btn {
                    left: -46px;
                }
                &.close-btn {
                    left: 32px;

                    @media (min-width: 576px) { 
                        left: 38px;
                    }
                    @media (min-width: 768px) { 
                        left: 42px;
                    }
                    @media (min-width: 992px) { 
                        left: 42px;
                    }
                }

                &:hover {
                    transition: all .5s;
                    box-shadow: -1px 1px 10px rgb(0 0 0 / 30%); 
                }
            }

            .week-navbar {
                box-shadow: rgb(0 0 0 / 15%) 2px 2px 10px;
                min-height: 60vh;

                @media (max-width: 1199.98px) {
                    // max-height: calc(100vh - 210px);
                    // overflow-y: auto;
                    position: absolute !important;
                    box-shadow: rgb(0 0 0 / 20%) 3px 5px 10px;
                    border: 1px solid #dee2e6 !important;
                    background-color: white;
                    z-index: 10;
                    display: none;

                    &.opened {
                        transition: all .6s;
                        display: initial;
                        opacity: 1;
                    }
                    &.closed {
                        transition: all .6s;
                        opacity: 0;
                    }
                }

                @media (min-width: 1200) {
                    display: initial;
                }

            }

            .week-tab {
                
                .session-nav-link {
                    &.active {
                        box-shadow: 2px -10px 10px rgb(0 0 0 / 10%) !important;
                    }
                }

                .session-tab {
                    margin: 0px !important;
                    padding: 0.5rem 1rem;
                    border: 1px solid #dee2e6;
                    border-radius: 0rem 0.25rem 0.25rem 0rem;
                    border-top: 0px;
                    box-shadow: 2px 2px 10px rgb(0 0 0 / 20%);
                    min-height: 60vh;
                }
            }

        }

        /* Components */
        .close {
            font-size: 1.4rem;
            opacity: 0.1;
            transition: opacity 0.3s;
        }
        .nav-link:hover > .close {
            opacity: 0.8;
        }
    }
}

.history-dropdownmenu-botton {
    transform: translate3d(-155px, 34px, 0px) !important;
}
