<div class="main__athletes row m-3">

    <div class="athletes__maincontainer card col-12 p-0 border border-secondary">

        <div class="maincontainer__header card-header border border-secondary d-flex align-items-center bg-dark text-white">
            <h5 class="m-0"><strong>ATHLETE LIST</strong></h5>
        </div>

        <div class="maincontainer__body card-body row m-0">
            <div class="col-12 row m-0 border d-flex align-items-center justify-content-center">
                <div class="col-2 text-center border border-top-0 border-left-0 border-bottom-0"><b>Atleta</b></div>
                <div class="col-1 text-center border border-top-0 border-left-0 border-bottom-0"><b>Squat</b></div>
                <div class="col-1 text-center border border-top-0 border-left-0 border-bottom-0"><b>Panca</b></div>
                <div class="col-2 text-center border border-top-0 border-left-0 border-bottom-0"><b>Stacco</b></div>
                <div class="col-2 text-center border border-top-0 border-left-0 border-bottom-0"><b>Slancio</b></div>
                <div class="col-2 text-center border border-top-0 border-left-0 border-bottom-0"><b>Front Squat</b>
                </div>
                <div class="col-2 text-center"><b>Military Press</b></div>
            </div>
            <div class="col-12 row m-0 border d-flex align-items-center justify-content-center"
                *ngFor="let elem of athleteList">
                <div class="col-2 text-center border border-top-0 border-left-0 border-bottom-0">{{elem.athlete.name}}
                    {{elem.athlete.surname}}</div>
                <div class="col-1 text-center border border-top-0 border-left-0 border-bottom-0">
                    {{elem.maximum.squat}}</div>
                <div class="col-1 text-center border border-top-0 border-left-0 border-bottom-0">
                    {{elem.maximum.benchpress}}</div>
                <div class="col-2 text-center border border-top-0 border-left-0 border-bottom-0">
                    {{elem.maximum.deadlift}}</div>
                <div class="col-2 text-center border border-top-0 border-left-0 border-bottom-0">
                    {{elem.maximum.cleanandjerk}}</div>
                <div class="col-2 text-center border border-top-0 border-left-0 border-bottom-0">
                    {{elem.maximum.frontsquat}}</div>
                <div class="col-2 text-center">{{elem.maximum.militarypress}}</div>
            </div>
        </div>
    </div>
</div>