$menu-blue: #0f1042e6;

.main__sidebar {
    &.expanded {
        width: 180px;
        transition: all 1s;
    }
    &.not-expanded {
        width: 50px;
        transition: all 1s;
    }

    @media (max-width: 767.98px) { 
        width: 0px;
        &.expanded {
            width: 180px;
            transition: all 1s;
        }
        &.not-expanded {
            width: 0px;
            transition: all 1s;
        }  
    }


    .sidebar__container {
        background-color: $menu-blue;

        .container__header {
            box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2);
            border-bottom: 1px solid #131746c7;
            padding: 0.5rem;
            height: 60px;
            min-height: 60px;
        }

        .container__body {
            display: flex;
            flex-direction: column;
            height: 100%;
            overflow: visible;

            .sidebar__element {
                height: 40px;
                padding: 0.2rem 0.5rem 0.2rem 0.5rem;
    
                &:hover {
                    box-shadow: 1px 1px rgba(0, 0, 0, 0.2);
                    background-color: rgb(29, 31, 140);
    
                    img {
                        transform: scale(1.2);
                    }
                }

                &.active {
                    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
                    background-color: rgb(29, 31, 140);
    
                    img {
                        transform: scale(1.2);
                    }
                }
                
            }

        }
    }
}
