.main__homepage {

    .homepage__maincontainer {
        background-color: rgba(0,0,0,0)  !important;
        border: 0px !important;

        .maincontainer__header {
            background-color: rgba(0,0,0,0)  !important;
            border: 0px;
        }

        .maincontainer__body {
            .body__element {
                border: 0px !important;

                .card {
                    border: 0px !important;
                    box-shadow: 0 0 0.875rem 0 rgb(41 48 66 / 5%);


                    .card-header {
                        border: 0px !important;
                    }
                    .card-body {
                        border: 0px !important;
                    }
                }
            }

            height: calc(100vh - 95px);
            overflow: auto;

            li {
                box-shadow: 2px 2px 5px rgba(0,0,0,.5);
            }
        }

    }
    
}