.card {
    background-color: rgba(0,0,0,0.0) !important;
    border: 0px;
    padding: 1rem;

    .card-header {
        background-color: rgba(0,0,0,0.0) !important;
        border: 0px;
    }

    .card-body {
        background-color: rgba(0,0,0,0.0) !important;
        border: 0px;
    }
}

