@use "../app.component";
@use "../components/homepage/homepage.component"; 
@use "../components/athletes/athletes.component";
@use "../components/sidebar/sidebar.component";
@use "../components/training/training.component";
@use "../components/trainings/trainings.component";
@use "../components/page-not-found/page-not-found.component";

$menu-blue: #0f1042e6;

/* MISCELLANEOUS */
[hidden] {
  display: none !important;
}

.display-inline {
  display: inline !important;
}

.display-block {
  display: block !important;
}

.w-auto {
  width: auto !important;
}

.h-auto {
  height: auto !important;
}

.cursor-pointer {
  cursor: pointer !important;
}

.overflow-auto {
  overflow: auto !important;
}

/* LINK STYLE */
.link-text {
  text-decoration: none;
  color: black;
  display: inline-block;

  &:hover {
    color: $menu-blue;
    text-decoration: none;
  }
}

.link-text-inline {
  text-decoration: none;
  color: black;

  &:hover {
    color: $menu-blue;
    text-decoration: none;
  }
}

/* BUTTON STYLE */
.normal-button {
  text-decoration: none;
  color: white;

  &:hover,
  &:active {
    color: white;
    text-decoration: none;
    display: inline-block;
  }
}

.image-button {
  cursor: pointer;

  @media screen and (max-width: 1400px) {
    img {
      width: 14px !important;
      height: auto;
    }
  }

  &:hover {
    opacity: 75%;
  }
}

.link-image-fontawesome {
  cursor: pointer;
  text-decoration: none;

  &:hover,
  &:active {
    text-decoration: none;
    opacity: 65%;
  }
}

.link-button {
  cursor: pointer;
  text-decoration: none;
  color: white;

  &:hover,
  &:active {
    color: white;
    text-decoration: none;
    display: inline-block;
  }
}

.text-button {
  text-decoration: none;
  color: black;
  display: inline-block;

  &:hover {
    color: $menu-blue;
    text-decoration: none;
  }
}

.text-button {
  text-decoration: none;
  color: black;
  display: inline;

  &:hover {
    color: $menu-blue;
    text-decoration: none;
  }
}

/* DIV STYLE */
@for $i from 1 through 10 {
  .opacity-#{$i} {
    opacity: 0.1 * $i;
  }
}

.overlay-full-center {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  overflow: hidden;

  .content {
    display: none;
  }

  &:hover {
    background-color: rgba(0, 0, 0, 0.4);
    cursor: pointer;

    .content {
      width: 100%;
      height: 100%;
      color: white;
      display: flex !important;
      align-items: center !important;
      justify-content: center !important;
      overflow: hidden;
    }
  }
}

.overlay-full-bottomright {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  overflow: hidden;

  .content {
    display: none;
  }

  &:hover {
    background-color: rgba(0, 0, 0, 0.4);
    cursor: pointer;

    .content {
      width: 100%;
      height: 100%;
      color: white;
      display: flex !important;
      align-items: flex-end !important;
      justify-content: flex-end !important;
      overflow: hidden;
    }
  }
}

/* FONT STYLE */
@for $i from 1 through 9 {
  .font-weight-#{$i}00 {
    font-weight: 100 * $i;
  }
}

/* TEXT STYLE */
.truncate {
  width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.text-decoration-none {
  text-decoration: none;
}

/* BORDER STYLE */
// Border radius
@for $i from 0 through 9 {
  .round-#{$i} {
    border-radius: $i * 1px !important;
  }
}

@for $i from 0 through 9 {
  .round-left-#{$i} {
    border-top-left-radius: $i * 1px !important;
    border-bottom-left-radius: $i * 1px !important;
  }
}

@for $i from 0 through 9 {
  .round-top-#{$i} {
    border-top-left-radius: $i * 1px !important;
    border-top-right-radius: $i * 1px !important;
  }
}

@for $i from 0 through 9 {
  .round-right-#{$i} {
    border-top-right-radius: $i * 1px !important;
    border-bottom-right-radius: $i * 1px !important;
  }
}

@for $i from 0 through 9 {
  .round-bottom-#{$i} {
    border-top-left-radius: $i * 1px !important;
    border-bottom-left-radius: $i * 1px !important;
  }
}

/* MODAL STYLE */
.modal-lg {
  max-width: 1200px !important;
}

/* VARIOUS COMPONENTS */
.form-group.hidden {
  width: 0;
  margin: 0;
  border: none;
  padding: 0;
}
.custom-day {
  text-align: center;
  padding: 0.185rem 0.25rem;
  display: inline-block;
  height: 2rem;
  width: 2rem;
}
.custom-day.focused {
  background-color: #e6e6e6;
}
.custom-day.range, .custom-day:hover {
  background-color: rgb(2, 117, 216);
  color: white;
}
.custom-day.faded {
  background-color: rgba(2, 117, 216, 0.5);
}
