<div class="main__accounts row m-3">

    <!-- FILTERS -->
    <div class="accounts__filters col-12 row d-flex align-items-center border mb-2 m-0 pr-2 py-2" [ngClass]="{'py-3 min-height-200': !bWindowOverMd && filters.bExpanded, 'min-height-60': bWindowOverMd}">
        <div class="col-12 col-md-1 d-flex flex-column justify-content-center pl-0 pr-1 pr-md-2">
            <div class="d-flex">
                <div class="d-flex flex-column">
                    <span class="fa fa-filter" style="font-size: 20px;"></span>
                    <span *ngIf="areFiltersDirty()" class="fa fa-times text-danger cursor-pointer" style="font-size: 16px;" (click)="cancelFilters()" ngbTooltip="Ripristina Filtri" placement="right"></span>
                </div>
                <div class="ml-2">
                    <h6 class="m-0">Filtri</h6>
                    {{accountList.length}}/{{originalAccountList.length}}
                </div>
                <div class="d-flex d-md-none align-items-center w-100 ml-2">
                    <button class="btn btn-sm btn-outline-info w-100  m-0" (click)="filters.bExpanded = !filters.bExpanded">{{filters.bExpanded ? 'Nascondi Filtri' : 'Mostra Filtri'}} <span class="fa" [ngClass]="{'fa-arrow-circle-up': filters.bExpanded, 'fa-arrow-circle-down': !filters.bExpanded }"></span></button>
                </div>
            </div>
        </div>
        <div class="col-6 col-md-3 d-flex flex-column justify-content-center form-group pl-2 pr-1 mt-2 mb-0 m-md-0" *ngIf="filters.bExpanded">
            <label class="col-form-label col-form-label-sm p-0 text-muted">Nome</label>
            <div class="input-group">
                <input type="text" [(ngModel)]="filters.name" class="form-control form-control-sm" (keyup)="filterAccounts($event)"
                    id="filterName" name="filterName" placeholder="Nome..." [disabled]="bLoading">
            </div>
        </div>
        <div class="col-6 col-md-3 d-flex flex-column justify-content-center form-group pl-2 pr-1 mt-2 mb-0 m-md-0" *ngIf="filters.bExpanded">
            <label class="col-form-label col-form-label-sm p-0 text-muted">Cognome</label>
            <div class="input-group">
                <input type="text" [(ngModel)]="filters.surname" class="form-control form-control-sm" (keyup)="filterAccounts($event)"
                    id="filterSurname" name="filterSurname" placeholder="Cognome..." [disabled]="bLoading">
            </div>
        </div>
        <div class="col-6 col-md-3 d-flex flex-column justify-content-center form-group pl-2 pr-1 mt-2 mb-0 m-md-0" *ngIf="filters.bExpanded">
            <label class="col-form-label col-form-label-sm p-0 text-muted">Email</label>
            <div class="input-group">
                <input type="text" [(ngModel)]="filters.email" class="form-control form-control-sm" (keyup)="filterAccounts($event)"
                    id="filterEmail" name="filterEmail" placeholder="Email..." [disabled]="bLoading">
            </div>
        </div>
        <div class="col-6 col-md-2 d-flex flex-column justify-content-center form-group pl-2 pr-1 mt-2 mb-0 m-md-0" *ngIf="filters.bExpanded">
            <label class="col-form-label col-form-label-sm p-0 text-muted">Ruolo</label>
            <select [(ngModel)]="filters.role" class="form-control form-control-sm cursor-pointer" id="filterRole" name="filterRole" (change)="filterAccounts($event)" [disabled]="bLoading">
                <option [value]="''">Tutti</option>
                <option [value]="Role.User">User</option>
                <option [value]="Role.Admin">Admin</option>
            </select>
        </div>
    </div>

    <!-- MAIN CONTAINER -->
    <div class="accounts__maincontainer main-list-table card col-12 p-0 border border-secondary border">
        <div class="maincontainer__header table-header card-header pl-2 pr-3 border-bottom border-secondary d-flex flex-column bg-dark text-white">
            <div class="col-12 row m-0 p-0 d-flex align-items-center justify-content-center">
                <div class="col-5 col-md-3 d-flex align-items-center" (click)="sortListByFieldUI('name')" [ngClass]="{'cursor-pointer': !bLoading}">
                    <div><b class="d-block">Nome</b></div>
                    <div class="ml-2 fa"><span [ngClass]="{'fa fa-arrows-v': sortListStatus['name']==null, 'fa fa-long-arrow-down': sortListStatus['name']==false, 'fa fa-long-arrow-up': sortListStatus['name']==true}"></span></div>
                </div>
                <div class="col-5 col-md-4 d-flex align-items-center px-2" (click)="sortListByFieldUI('email')" [ngClass]="{'cursor-pointer': !bLoading}">
                    <div><b class="d-block">Email</b></div>
                    <div class="ml-2 fa"><span [ngClass]="{'fa fa-arrows-v': sortListStatus['email']==null, 'fa fa-long-arrow-down': sortListStatus['email']==false, 'fa fa-long-arrow-up': sortListStatus['email']==true}"></span></div>
                </div>
                <div class="col-3 d-none d-md-flex align-items-center" (click)="sortListByFieldUI('role')" [ngClass]="{'cursor-pointer': !bLoading}">
                    <div><b class="d-block">Ruolo</b></div>
                    <div class="ml-2 fa"><span [ngClass]="{'fa fa-arrows-v': sortListStatus['role']==null, 'fa fa-long-arrow-down': sortListStatus['role']==false, 'fa fa-long-arrow-up': sortListStatus['role']==true}"></span></div>
                </div>
                <div class="col-2 col-md-2 d-flex align-items-center justify-content-end px-2">
                    <b>Azioni</b>
                </div>
            </div>
        </div>
        <div class="maincontainer__body table-body card-body row w-100 align-content-start m-0 pl-2 pr-0 py-2">
            <div class="h-100 w-100 d-flex flex-column align-items-center justify-content-center" *ngIf="accountList.length == 0">
                <img src="assets/icons/misc/alert.svg" style="width:40px; height:auto;">
                <span class="badge badge-light mt-2">Nessun account presente nella piattaforma</span>
            </div>
            <!-- Loader -->
            <div class='h-100 w-100' [hidden]="!bLoading">
                <div style="position:absolute; background-color:black; opacity:50%; right:0; top:0;" class="w-100 h-100">
                    <div class="container d-flex align-items-center justify-content-center w-100 h-100">
                        <div class="lds-ring"><div></div><div></div><div></div><div></div></div>
                    </div>
                </div>
            </div>
            <!-- Content -->
            <ngb-accordion #a="ngbAccordion" [closeOthers]="true" class="table-body-accordion w-100 text-dark">
                <ngb-panel id="custom-panel-{{accountIndex}}" *ngFor="let elem of accountList; index as accountIndex">
                    <ng-template ngbPanelHeader let-opened="opened" class="p-0">
                        <div class="body__element row list-group-item list-group-item-action list-group-item-light d-flex align-items-center px-0 py-1  m-0">
                            <div class="col-5 col-md-3"><span>{{elem.user.name}} {{elem.user.surname}}</span></div>
                            <div class="col-5 col-md-4 px-2"><span>{{elem.email}}</span></div>
                            <div class="d-none d-md-inline col-md-3"><span class="badge p-1" [ngClass]="{'badge-primary': elem.role == Role.Admin, 'badge-secondary': elem.role == Role.User}">{{elem.role}}</span></div>
                            <div class="col-2 col-md-2 d-flex justify-content-end px-2 px-md-2">
                                <a routerLink="{{elem.id}}" routerLinkActive="active" class="image-button" ngbTooltip="Modifica" placement="left"><img src="assets/icons/actions/edit.svg" style="width:20px; height:auto;"></a>
                                <a *ngIf="account.role == Role.Admin" (click)="deleteAccount(elem._id)" class="ml-2 image-button d-none d-md-flex align-items-center justify-content-center" ngbTooltip="Elimina" placement="left"><img src="assets/icons/actions/garbage-can.svg" style="width:20px; height:auto;"></a>
                                <div class="d-inline d-md-none ml-2 image-button" ngbTooltip="{{opened ? 'Nascondi Dettagli' : 'Mostra Dettagli'}}" placement="left"><button ngbPanelToggle class="btn btn-transparent"><span class="fa text-dark" [ngClass]="{'fa-arrow-circle-up': opened, 'fa-arrow-circle-down': !opened}"></span></button></div>
                            </div>
                        </div>
                    </ng-template>
                    <ng-template class="d-block d-md-none" ngbPanelContent>
                        <div class="row m-0">
                            <div class="col-4 text-muted">Ruolo</div>
                            <div class="col-8"><span class="badge p-1" [ngClass]="{'badge-primary': elem.role == Role.Admin, 'badge-secondary': elem.role == Role.User}">{{elem.role}}</span></div>
                        </div>
                        <div class="row m-0 mt-2">
                            <div class="col-4 text-muted">Azioni</div>
                            <div class="col-8 d-flex">
                                <a routerLink="{{elem.id}}" routerLinkActive="active" class="image-button" ngbTooltip="Modifica" placement="left"><img src="assets/icons/actions/edit.svg" style="width:20px; height:auto;"></a>
                                <a *ngIf="elem.role == Role.Admin" (click)="deleteAccount(elem._id, accountIndex)" class="ml-2 image-button" ngbTooltip="Elimina" placement="left"><img src="assets/icons/actions/garbage-can.svg" style="width:20px; height:auto;"></a>
                            </div>
                        </div>
                    </ng-template>
                </ngb-panel>
            </ngb-accordion>
            <app-account-modal (onClose)="createAccount()" *ngIf="!bLoading"  [(createModalResult)] = "createModalResult" style="position: absolute; right: 15px; bottom: 15px">
                <div class="image-button-big cursor-pointer" ngbTooltip="Nuovo" placement="top"><img src="assets/icons/actions/plus.svg" style="width:40px; height:auto;"></div>
            </app-account-modal>
        </div>
        <!-- <a routerLink="add" class="btn btn-sm btn-success mb-2">Create Account</a> -->
    </div>

</div>