.main__homepage {

    .homepage__maincontainer {

        .maincontainer__header {
            border: 0px;
            background-color: white;
        }

        .maincontainer__body {
            height: 100%;
        }

    }
    
}