<div class="main__sidebar row m-0 h-100 overflow-auto" [ngClass]="{'active': bActive, 'deactive': !bActive}">
  <div class="col-12 d-flex flex-column p-0 sidebar__container">
    <div class="sidebar__header w-100 d-flex justify-content-start cursor-pointer" (click)="bActive = !bActive">
      <img src="assets/icons/sidebar/menu.svg" style="width:24px; height:auto;" [hidden]="bActive" class="ml-1">
      <h5 class="text-white m-0" [hidden]="!bActive">Menu</h5>
    </div>
    <div>
      <a routerLink="/homepage" routerLinkActive="active" class="link-button sidebar__element w-100 d-flex align-items-center justify-content-start text-white cursor-pointer">
        <img src="assets/icons/sidebar/home.svg" style="width:24px; height:auto;" class="ml-1 mr-2">
        <span [hidden]="!bActive">Homepage</span>
      </a>
      <a routerLink="/allenamenti" routerLinkActive="active" class="link-button sidebar__element w-100 d-flex align-items-center justify-content-start text-white cursor-pointer">
        <img src="assets/icons/sidebar/barbell.svg" style="width:24px; height:auto;" class="ml-1 mr-2">
        <span [hidden]="!bActive">Allenamenti</span>
      </a>
      <a routerLink="/massimali" routerLinkActive="active" class="link-button sidebar__element w-100 d-flex align-items-center justify-content-start text-white cursor-pointer">
        <img src="assets/icons/sidebar/writing.svg" style="width:24px; height:auto;" class="ml-1 mr-2">
        <span [hidden]="!bActive">Massimali</span>
      </a>
      <a routerLink="/configurazioni" routerLinkActive="active" class="link-button sidebar__element w-100 d-flex align-items-center justify-content-start text-white cursor-pointer">
        <img src="assets/icons/sidebar/settings-gears.svg" style="width:24px; height:auto;" class="ml-1 mr-2">
        <span [hidden]="!bActive">Configurazioni</span>
      </a>
    </div>
  </div>
</div>
