<div class="main__users row m-3">

    <!-- FILTERS -->
    <div class="users__filters col-12 row mb-2 mx-0 my-0 plx-2 border">
        <div class="col-1 d-flex align-items-center border border-left-0 border-top-0 border-bottom-0">
            <h6 class="m-0">Filtri</h6><span class="fa fa-filter ml-2" style="font-size: 20px;"></span>
        </div>
        <div class="col-3 form-group pl-2 pr-1 m-0">
            <label class="col-form-label col-form-label-sm p-0 text-muted">Utente</label>
            <div class="input-group">
                <input type="text" [(ngModel)]="filters.name" class="form-control form-control-sm" (keyup)="filterUsers($event)"
                    id="filterAuthorName" name="filterAuthorName" placeholder="Nome...">
                <input type="text" [(ngModel)]="filters.surname" class="form-control form-control-sm" (keyup)="filterUsers($event)"
                    id="filterAuthorSurname" name="filterAuthorSurname" placeholder="Cognome...">
            </div>
        </div>
        <div class="col-1 form-group px-1 m-0" *ngIf="account.user.userType=='both'">
            <label for="filterType" class="col-form-label col-form-label-sm p-0 text-muted">Tipo</label>
            <select [(ngModel)]="filters.userType" class="form-control form-control-sm cursor-pointer" placeholder="Tipo utente..." id="filterType" name="filterType" (change)="filterUsers($event)">
                <option value="" disabled selected>Tipo...</option>
                <option [value]="'athlete'">Atleta</option>
                <option [value]="'coach'">Coach</option>
                <option [value]="'both'">Entrambi</option>
                <option [value]="''">Tutti</option>
            </select>
        </div>
        <div class="col-2 form-group px-1 m-0">
            <label for="filterDoB" class="col-form-label col-form-label-sm p-0 text-muted">DoB</label>
            <input type="date" [(ngModel)]="filters.dateOfBirth" class="form-control form-control-sm" (keyup)="filterUsers($event)" (change)="filterUsers($event)"
                    id="filterDoB" name="filterDoB">
        </div>
        <div class="col-1 form-group px-1 m-0">
            <label for="filterSex" class="col-form-label col-form-label-sm p-0 text-muted">Sesso</label>
            <select [(ngModel)]="filters.sex" class="form-control form-control-sm cursor-pointer" placeholder="Sesso..." id="filterSex" name="filterSex" (change)="filterUsers($event)">
                <option value="" disabled selected>Sesso...</option>
                <option [value]="'M'">Uomo</option>
                <option [value]="'F'">Donna</option>
            </select>
        </div>
        <div class="col-2 form-group px-1 m-0">
            <label for="filterBw" class="col-form-label col-form-label-sm p-0 text-muted">BodyWeight</label>
            <input type="number" [(ngModel)]="filters.bodyWeight" min=0 class="form-control form-control-sm" (keyup)="filterUsers($event)"
                    id="filterBw" name="filterBw" placeholder="Peso corporeo...">
        </div>
        <div class="col-2 form-group px-1 m-0">
            <label for="filterExperience" class="col-form-label col-form-label-sm p-0 text-muted">Esperienza (anni)</label>
            <input type="number" [(ngModel)]="filters.yearsOfExperience" min=0 class="form-control form-control-sm" (keyup)="filterUsers($event)" (change)="filterUsers($event)"
                    id="filterExperience" name="filterExperience" placeholder="Esperienza...">
        </div>
        
    </div>

    <!-- MAIN CONTAINER -->
    <div class="users__maincontainer card col-12 p-0 border border-secondary border">

        <div class="maincontainer__header card-header pl-2 pr-3 border border-secondary border-top-0 border-left-0 border-right-0 d-flex flex-column bg-dark text-white">
            <div class="col-12 row m-0 p-0 d-flex align-items-center justify-content-center">
                <div class="col-3 d-flex align-items-center cursor-pointer" (click)="sortListByField('user')">
                    <div><b class="d-block">Utente</b></div>
                    <div class="ml-2 fa"><span [ngClass]="{'fa fa-arrows-v': sortListStatus['user']==null, 'fa fa-long-arrow-down': sortListStatus['user']==false, 'fa fa-long-arrow-up': sortListStatus['user']==true}"></span></div>
                </div>
                <div class="col-1 d-flex align-items-center cursor-pointer" (click)="sortListByField('userType')">
                    <div><b class="d-block">Tipo</b></div>
                    <div class="ml-2 fa"><span [ngClass]="{'fa fa-arrows-v': sortListStatus['userType']==null, 'fa fa-long-arrow-down': sortListStatus['userType']==false, 'fa fa-long-arrow-up': sortListStatus['userType']==true}"></span></div>
                </div>
                <div class="col-2 d-flex align-items-center cursor-pointer" (click)="sortListByField('dateOf Birth')">
                    <div><b class="d-block">DoB</b></div>
                    <div class="ml-2 fa"><span [ngClass]="{'fa fa-arrows-v': sortListStatus['dateOfBirth']==null, 'fa fa-long-arrow-down': sortListStatus['dateOfBirth']==false, 'fa fa-long-arrow-up': sortListStatus['dateOfBirth']==true}"></span></div>
                </div>
                <div class="col-1 d-flex align-items-center cursor-pointer" (click)="sortListByField('sex')">
                    <div><b class="d-block">Sesso</b></div>
                    <div class="ml-2 fa"><span [ngClass]="{'fa fa-arrows-v': sortListStatus['sex']==null, 'fa fa-long-arrow-down': sortListStatus['sex']==false, 'fa fa-long-arrow-up': sortListStatus['sex']==true}"></span></div>
                </div>
                <div class="col-2 d-flex align-items-center cursor-pointer" (click)="sortListByField('bodyWeight')">
                    <div><b class="d-block">BodyWeight</b></div>
                    <div class="ml-2 fa"><span [ngClass]="{'fa fa-arrows-v': sortListStatus['bodyWeight']==null, 'fa fa-long-arrow-down': sortListStatus['bodyWeight']==false, 'fa fa-long-arrow-up': sortListStatus['bodyWeight']==true}"></span></div>
                </div>
                <div class="col-2 d-flex align-items-center cursor-pointer" (click)="sortListByField('yearsOfExperience')">
                    <div><b class="d-block">Esperienza (Anni)</b></div>
                    <div class="ml-2 fa"><span [ngClass]="{'fa fa-arrows-v': sortListStatus['yearsOfExperience']==null, 'fa fa-long-arrow-down': sortListStatus['yearsOfExperience']==false, 'fa fa-long-arrow-up': sortListStatus['yearsOfExperience']==true}"></span></div>
                </div>
                <div class="col-1">
                    <b>Azioni</b>
                </div>
            </div>
        </div>

        <div class="maincontainer__body card-body row w-100 align-content-start m-0 pl-2 pr-0 py-2" [hidden]="bLoading">
            <div class="h-100 w-100 d-flex flex-column align-items-center justify-content-center" *ngIf="userList.length == 0">
                <img src="assets/icons/misc/alert.svg" style="width:40px; height:auto;">
                <span class="badge badge-light mt-2">Nessun utente presente nella piattaforma</span>
            </div>
            <div class="body__element list-group-item list-group-item-action list-group-item-light d-flex align-items-center px-0 py-1" *ngFor="let elem of userList; index as userIndex">
                <div class="col-3"><span class="text-capitalize">{{elem.name}} {{elem.surname}}</span></div>
                <div class="col-1"><span class="text-capitalize">{{elem.userType}}</span></div>
                <div class="col-2"><span>{{elem.dateOfBirth | date:'dd/MM/yyyy' }}</span></div>
                <div class="col-1"><span class="text-capitalize">{{elem.sex}}</span></div>
                <div class="col-2"><span>{{elem.bodyWeight}} kg</span></div>
                <div class="col-2"><span>{{elem.yearsOfExperience}}</span></div>
                <div class="col-1 d-flex">
                    <div (click)="openPageWithMode(PAGEMODE.READONLY, PAGES.USERS, elem._id)" class="image-button" ngbTooltip="Visualizza" placement="left"><img src="assets/icons/actions/visibility.svg" style="width:20px; height:auto;"></div>
                    <div (click)="sendNotification(NOTIFICATION_TYPE.COACH_REQUEST, elem)" *ngIf="(elem.userType == 'coach' || elem.userType == 'both') && (account.user.userType=='athlete' || account.user.userType == 'both') && !isCoachInUser(elem) && !isRequestYetSent(elem)" class="image-button ml-2" ngbTooltip="Richiesta segui coach" placement="left"><img src="assets/icons/actions/add-friend.svg" style="width:20px; height:auto;" ></div>
                    <div (click)="sendNotification(NOTIFICATION_TYPE.ATHLETE_REQUEST, elem)" *ngIf="(elem.userType == 'athlete' || elem.userType == 'both') && (account.user.userType=='coach' || account.user.userType == 'both') && !isAthleteInUser(elem) && !isRequestYetSent(elem)" class="image-button ml-2" ngbTooltip="Richiesta segui atleta" placement="left"><img src="assets/icons/actions/add-friend-secondary.svg" style="width:20px; height:auto;"></div>
                    <!-- <div *ngIf="account.role == Role.Admin" (click)="openPageWithMode(PAGEMODE.WRITE, PAGES.USERS, elem._id)" class="ml-2 image-button" ngbTooltip="Modifica" placement="left"><img src="assets/icons/actions/edit.svg" style="width:20px; height:auto;"></div>
                    <div *ngIf="account.role == Role.Admin" (click)="deleteTraining(elem._id, trainingIndex)" class="ml-2 image-button" ngbTooltip="Elimina" placement="left"><img src="assets/icons/actions/garbage-can.svg" style="width:20px; height:auto;"></div>
                    -->
                </div>
            </div>
            <!-- <app-user-modal (onClose)="createUser()" [(newUser)] = "newUser" style="position: absolute; right: 15px; bottom: 15px">
                <div class="image-button cursor-pointer" ngbTooltip="Nuovo" placement="top"><img src="assets/icons/actions/plus.svg" style="width:40px; height:auto;"></div>
            </app-user-modal> -->
        </div>
    </div>

    <!-- Loader -->
    <div class='h-100 w-100' [hidden]="!bLoading">
        <div style="position:absolute; background-color:black; opacity:50%; right:0; top:0;" class="w-100 h-100">
            <div class="container d-flex align-items-center justify-content-center w-100 h-100">
                <div class="lds-ring"><div></div><div></div><div></div><div></div></div>
            </div>
        </div>
    </div>
</div>