<div class="main__exercises row m-1 m-md-3">

    <!-- FILTERS -->
    <div class="exercises__filters col-12 row d-flex align-items-center border mb-2 m-0 pr-2 py-2" [ngClass]="{'py-3 min-height-200': !bWindowOverMd && filters.bExpanded, 'min-height-60': bWindowOverMd}">
        <div class="col-12 col-md-1 d-flex flex-column justify-content-center pl-0 pr-1 pr-md-2">
            <div class="d-flex">
                <div class="d-flex flex-column">
                    <span class="fa fa-filter" style="font-size: 20px;"></span>
                    <span *ngIf="areFiltersDirty()" class="fa fa-times text-danger cursor-pointer" style="font-size: 16px;" (click)="cancelFilters()" ngbTooltip="Ripristina Filtri" placement="right"></span>
                </div>
                <div class="ml-2">
                    <h6 class="m-0">Filtri</h6>
                    {{exerciseList.length}}/{{originalExerciseList.length}}
                </div>
                <div class="d-flex d-md-none align-items-center w-100 ml-2">
                    <button class="btn btn-sm btn-outline-info w-100  m-0" (click)="filters.bExpanded = !filters.bExpanded">{{filters.bExpanded ? 'Nascondi Filtri' : 'Mostra Filtri'}} <span class="fa" [ngClass]="{'fa-arrow-circle-up': filters.bExpanded, 'fa-arrow-circle-down': !filters.bExpanded }"></span></button>
                </div>
            </div>
        </div>
        <div class="col-6 col-md-2 form-group d-flex flex-column justify-content-center pl-2 pr-1 mt-2 mb-0 m-md-0" *ngIf="filters.bExpanded" ngbTooltip="Visualizza esercizi default di sistema, custom di atleta/coach o tutti" placement="top" >
            <label for="filterExerciseType" class="col-form-label col-form-label-sm p-0 text-muted">Default/Custom</label>
            <select [(ngModel)]="filters.type" class="form-control form-control-sm cursor-pointer" id="filterExerciseType" name="filterExerciseType" (change)="filterExercises($event)" [disabled]="bLoading">
                <option [value]="''">Tutti</option>
                <option [value]="'custom'">Custom</option>
                <option [value]="'default'">Default</option>
            </select>
        </div>
        <div class="col-6 col-md-2 d-flex flex-column justify-content-center form-group pl-2 pr-1 mt-2 mb-0 m-md-0" *ngIf="filters.bExpanded">
            <label class="col-form-label col-form-label-sm p-0 text-muted">Nome</label>
            <div class="input-group">
                <input type="text" [(ngModel)]="filters.name" class="form-control form-control-sm" (keyup)="filterExercises($event)"
                    id="filterName" name="filterName" placeholder="Nome..." [disabled]="bLoading">
            </div>
        </div>
        <div class="col-6 col-md-2 d-flex flex-column justify-content-center form-group pl-2 pr-1 mt-2 mb-0 m-md-0" *ngIf="filters.bExpanded">
            <label class="col-form-label col-form-label-sm p-0 text-muted">Variante</label>
            <div class="input-group">
                <input type="text" [(ngModel)]="filters.variant.name" class="form-control form-control-sm" (keyup)="filterExercises($event)"
                    id="filterVariantName" name="filterVariantName" placeholder="Nome variante..." [disabled]="bLoading">
            </div>
        </div>
        <div class="col-6 col-md-1 d-flex flex-column justify-content-center form-group pl-2 pr-1 mt-2 mb-0 m-md-0" *ngIf="filters.bExpanded">
            <label class="col-form-label col-form-label-sm p-0 text-muted"><span class="d-none d-md-inline d-xl-none">Coeff</span> <span class="d-inline d-md-none d-xl-inline">Cofficiente</span></label>
            <div class="input-group">
                <input type="number" min=0.1 [(ngModel)]="filters.variant.intensityCoefficient" class="form-control form-control-sm" (keyup)="filterExercises($event)" (change)="filterExercises($event)"
                    id="filterVariantCoefficient" name="filterVariantCoefficient" placeholder="Coefficiente..." [disabled]="bLoading">
            </div>
        </div>
        <div class="col-12 col-md-2 d-flex flex-column justify-content-center form-group pl-2 pr-1 mt-2 mb-0 m-md-0" *ngIf="filters.bExpanded">
            <label class="col-form-label col-form-label-sm p-0 text-muted">Gruppo</label>
            <div class="input-group">
                <select [(ngModel)]="filters.groups" class="form-control form-control-sm cursor-pointer" id="filterGroups" name="filterGroups" (change)="filterExercises($event)" [disabled]="bLoading">
                    <option [value]="''" selected>Tutti</option>
                    <option *ngFor="let g of EXERCISE_GROUPS | keyvalue" [value]="g.value" class="text-capitalize">{{g.value}}</option>
                </select>
            </div>
        </div>
        <div class="col-12 col-md-2 d-flex flex-column justify-content-center form-group pl-2 pr-1 mt-2 mb-0 m-md-0" *ngIf="filters.bExpanded">
            <label class="col-form-label col-form-label-sm p-0 text-muted">Disciplina</label>
            <div class="input-group">
                <select [(ngModel)]="filters.disciplines" class="form-control form-control-sm cursor-pointer" id="filterDisciplines" name="filterDisciplines" (change)="filterExercises($event)" [disabled]="bLoading">
                    <option [value]="''" selected>Tutte</option>
                    <option *ngFor="let d of TRAINING_TYPES | keyvalue" [value]="d.value" class="text-capitalize">{{d.value}}</option>
                </select>
            </div>
        </div>
        <!-- <div class="col-12 col-md-2 d-flex flex-column justify-content-center form-group pl-2 pr-1 mt-2 mb-0 m-md-0" *ngIf="filters.bExpanded">
            <label class="col-form-label col-form-label-sm p-0 text-muted">Descrizione</label>
            <div class="input-group">
                <input type="text" [(ngModel)]="filters.description" class="form-control form-control-sm" (keyup)="filterExercises($event)"
                    id="filterDescription" name="filterDescription" placeholder="Descrizione..." [disabled]="bLoading">
            </div>
        </div> -->
    </div>

    <!-- MAIN CONTAINER -->
    <div class="exercises__maincontainer main-list-table card col-12 p-0 border border-secondary border">
        <div class="maincontainer__header table-header card-header pl-2 pr-3 border-bottom border-secondary d-flex flex-column bg-dark text-white">
            <div class="col-12 row m-0 p-0 d-flex align-items-center justify-content-center">
                <div class="col-5 col-md-2 d-flex align-items-center" (click)="sortListByFieldUI('name')" [ngClass]="{'cursor-pointer': !bLoading}">
                    <div><b class="d-block">Nome</b></div>
                    <div class="ml-2 fa"><span [ngClass]="{'fa fa-arrows-v': sortListStatus['name']==null, 'fa fa-long-arrow-down': sortListStatus['name']==false, 'fa fa-long-arrow-up': sortListStatus['name']==true}"></span></div>
                </div>
                <div class="col-5 col-md-2 d-flex align-items-center px-2" (click)="sortListByFieldUI('variant')" [ngClass]="{'cursor-pointer': !bLoading}">
                    <div><b class="d-block">Variante</b><small class="d-block">Nome &bull; <span class="d-none d-md-inline d-xl-none">Coeff</span> <span class="d-inline d-md-none d-xl-inline">Cofficiente</span></small></div>
                    <div class="ml-2 fa"><span [ngClass]="{'fa fa-arrows-v': sortListStatus['variant']==null, 'fa fa-long-arrow-down': sortListStatus['variant']==false, 'fa fa-long-arrow-up': sortListStatus['variant']==true}"></span></div>
                </div>
                <div class="col-2 d-none d-md-flex align-items-center" (click)="sortListByFieldUI('groups')" [ngClass]="{'cursor-pointer': !bLoading}">
                    <div><b class="d-block">Gruppi</b></div>
                    <div class="ml-2 fa"><span [ngClass]="{'fa fa-arrows-v': sortListStatus['groups']==null, 'fa fa-long-arrow-down': sortListStatus['groups']==false, 'fa fa-long-arrow-up': sortListStatus['groups']==true}"></span></div>
                </div>
                <div class="col-2 d-none d-md-flex align-items-center" (click)="sortListByFieldUI('disciplines')" [ngClass]="{'cursor-pointer': !bLoading}">
                    <div><b class="d-block">Discipline</b></div>
                    <div class="ml-2 fa"><span [ngClass]="{'fa fa-arrows-v': sortListStatus['disciplines']==null, 'fa fa-long-arrow-down': sortListStatus['disciplines']==false, 'fa fa-long-arrow-up': sortListStatus['disciplines']==true}"></span></div>
                </div>
                <div class="col-2 d-none d-md-flex align-items-center" (click)="sortListByFieldUI('description')" [ngClass]="{'cursor-pointer': !bLoading}">
                    <div><b class="d-block">Descrizione</b></div>
                    <div class="ml-2 fa"><span [ngClass]="{'fa fa-arrows-v': sortListStatus['description']==null, 'fa fa-long-arrow-down': sortListStatus['description']==false, 'fa fa-long-arrow-up': sortListStatus['description']==true}"></span></div>
                </div>
                <div class="col-2 col-md-2 d-flex align-items-center justify-content-end px-2">
                    <b>Azioni</b>
                </div>
            </div>
        </div>
        <div class="maincontainer__body table-body card-body row w-100 align-content-start m-0 pl-2 pr-0 py-2">
            <div class="h-100 w-100 d-flex flex-column align-items-center justify-content-center" *ngIf="exerciseList.length == 0">
                <img src="assets/icons/misc/alert.svg" style="width:40px; height:auto;">
                <span class="badge badge-light mt-2">Nessun esercizio presente nella piattaforma</span>
            </div>
            <!-- Loader -->
            <div class='h-100 w-100' [hidden]="!bLoading">
                <div style="position:absolute; background-color:black; opacity:50%; right:0; top:0;" class="w-100 h-100">
                    <div class="container d-flex align-items-center justify-content-center w-100 h-100">
                        <div class="lds-ring"><div></div><div></div><div></div><div></div></div>
                    </div>
                </div>
            </div>
            <!-- Content -->
            <ngb-accordion #a="ngbAccordion" [closeOthers]="true" class="table-body-accordion w-100 text-dark">
                <ngb-panel id="custom-panel-{{exerciseIndex}}" *ngFor="let elem of exerciseList; index as exerciseIndex">
                    <ng-template ngbPanelHeader let-opened="opened" class="p-0">
                        <div class="body__element row list-group-item list-group-item-action list-group-item-light d-flex align-items-center px-0 py-1  m-0">
                            <div class="col-5 col-md-2 truncate-list-elem-overflow"><span>{{elem.name}}</span></div>
                            <div class="col-5 col-md-2 px-2 truncate-list-elem-overflow"><span>{{elem.variant.name}} &bull; {{elem.variant.intensityCoefficient}}</span></div>
                            <div class="d-none d-md-inline col-md-2 truncate-list-elem-overflow"><span *ngFor="let g of elem.groups; last as lastGroup" class="text-capitalize">{{g}}<span [hidden]="lastGroup">, </span></span> <span [hidden]="elem.groups.length > 0">N.D.</span></div>
                            <div class="d-none d-md-inline col-md-2 truncate-list-elem-overflow"><span *ngFor="let d of elem.disciplines; last as lastDiscipline" class="text-capitalize">{{d}}<span [hidden]="lastDiscipline">, </span></span> <span [hidden]="elem.disciplines.length > 0">N.D.</span></div>
                            <div class="d-none d-md-inline col-md-2 truncate-list-elem-overflow"><span>{{elem.description != '' ? elem.description : 'N.D.'}}</span></div>
                            <div class="col-2 col-md-2 d-flex justify-content-end px-2 px-md-2">
                                <div (click)="openPageWithMode(PAGEMODE.READONLY, PAGES.EXERCISES, elem._id)" class="image-button" ngbTooltip="Visualizza" placement="left"><img src="assets/icons/actions/visibility.svg" style="width:20px; height:auto;"></div>
                                <div *ngIf="(account.user.userType=='both' || account.user.userType=='coach')" (click)="openPageWithMode(PAGEMODE.WRITE, PAGES.EXERCISES, elem._id)" class="ml-2 image-button d-none d-md-flex align-items-center" ngbTooltip="Modifica" placement="left"><img src="assets/icons/actions/edit.svg" style="width:20px; height:auto;"></div>
                                <div *ngIf="(account.role == Role.Admin)" (click)="deleteExercise(elem._id)" class="ml-2 image-button d-none d-md-flex align-items-center" ngbTooltip="Elimina" placement="left"><img src="assets/icons/actions/garbage-can.svg" style="width:20px; height:auto;"></div>
                                
                                <div class="d-inline d-md-none ml-2 image-button" ngbTooltip="{{opened ? 'Nascondi Dettagli' : 'Mostra Dettagli'}}" placement="left"><button ngbPanelToggle class="btn btn-transparent"><span class="fa text-dark" [ngClass]="{'fa-arrow-circle-up': opened, 'fa-arrow-circle-down': !opened}"></span></button></div>
                            </div>
                        </div>
                    </ng-template>
                    <ng-template class="d-block d-md-none" ngbPanelContent>
                        <div class="row m-0">
                            <div class="col-4 text-muted">Gruppi</div>
                            <div class="col-8"><span *ngFor="let g of elem.groups; last as lastGroup" class="text-capitalize">{{g}}<span [hidden]="lastGroup">, </span></span> <span [hidden]="elem.groups.length > 0">N.D.</span></div>
                        </div>
                        <div class="row m-0">
                            <div class="col-4 text-muted">Discipline</div>
                            <div class="col-8"><span *ngFor="let d of elem.disciplines; last as lastDiscipline" class="text-capitalize">{{d}}<span [hidden]="lastDiscipline">, </span></span> <span [hidden]="elem.disciplines.length > 0">N.D.</span></div>
                        </div>
                        <div class="row m-0">
                            <div class="col-4 text-muted">Descrizione</div>
                            <div class="col-8">{{elem.description != '' ? elem.description : 'N.D.'}}</div>
                        </div>
                        <div class="row m-0 mt-2">
                            <div class="col-4 text-muted">Azioni</div>
                            <div class="col-8 d-flex">
                                <div (click)="openPageWithMode(PAGEMODE.READONLY, PAGES.EXERCISES, elem._id)" class="image-button" ngbTooltip="Visualizza" placement="left"><img src="assets/icons/actions/visibility.svg" style="width:20px; height:auto;"></div>
                                <div *ngIf="(account.user.userType=='both' || account.user.userType=='coach')" (click)="openPageWithMode(PAGEMODE.WRITE, PAGES.EXERCISES, elem._id)" class="ml-2 image-button" ngbTooltip="Modifica" placement="left"><img src="assets/icons/actions/edit.svg" style="width:20px; height:auto;"></div>
                                <div *ngIf="(account.role == Role.Admin)" (click)="deleteExercise(elem._id)" class="ml-2 image-button" ngbTooltip="Elimina" placement="left"><img src="assets/icons/actions/garbage-can.svg" style="width:20px; height:auto;"></div>
                            </div>
                        </div>
                    </ng-template>
                </ngb-panel>
            </ngb-accordion>
            <app-exercise-modal (onClose)="createExercise()" *ngIf="!bLoading && (account.user.userType=='both' || account.user.userType == 'coach')"  [(newExercise)] = "newExercise" style="position: absolute; right: 15px; bottom: 15px">
                <div class="image-button-big cursor-pointer" ngbTooltip="Nuovo" placement="top"><img src="assets/icons/actions/plus.svg" style="width:40px; height:auto;"></div>
            </app-exercise-modal>
        </div>
    </div>

</div>