<div class="main__exercises row m-3">

    <!-- FILTERS -->
    <div class="exercises__filters col-12 row mb-2 mx-0 my-0 plx-2 border">
        <div class="col-1 d-flex align-items-center border border-left-0 border-top-0 border-bottom-0">
            <h6 class="m-0">Filtri</h6><span class="fa fa-filter ml-2" style="font-size: 20px;"></span>
        </div>
        <div class="col-3 form-group pl-2 pr-1 m-0">
            <label class="col-form-label col-form-label-sm p-0 text-muted">Nome</label>
            <div class="input-group">
                <input type="text" [(ngModel)]="filters.name" class="form-control form-control-sm" (keyup)="filterExercises($event)"
                    id="filterName" name="filterName" placeholder="Nome...">
            </div>
        </div>
        <div class="col-3 form-group pl-2 pr-1 m-0">
            <label class="col-form-label col-form-label-sm p-0 text-muted">Variante (nome)</label>
            <div class="input-group">
                <input type="text" [(ngModel)]="filters.variant.name" class="form-control form-control-sm" (keyup)="filterExercises($event)"
                    id="filterVariantName" name="filterVariantName" placeholder="Nome variante...">
            </div>
        </div>
        <div class="col-2 form-group pl-2 pr-1 m-0">
            <label class="col-form-label col-form-label-sm p-0 text-muted">Variante (coefficiente)</label>
            <div class="input-group">
                <input type="number" min=0.1 [(ngModel)]="filters.variant.intensityCoefficient" class="form-control form-control-sm" (keyup)="filterExercises($event)" (change)="filterExercises($event)"
                    id="filterVariantCoefficient" name="filterVariantCoefficient" placeholder="Coefficiente...">
            </div>
        </div>
        <div class="col-3 form-group pl-2 pr-1 m-0">
            <label class="col-form-label col-form-label-sm p-0 text-muted">Descrizione</label>
            <div class="input-group">
                <input type="text" [(ngModel)]="filters.description" class="form-control form-control-sm" (keyup)="filterExercises($event)"
                    id="filterDescription" name="filterDescription" placeholder="Descrizione...">
            </div>
        </div>
    </div>

    <!-- MAIN CONTAINER -->
    <div class="exercises__maincontainer card col-12 p-0 border border-secondary border">
        <div class="maincontainer__header card-header pl-2 pr-3 border border-secondary border-top-0 border-left-0 border-right-0 d-flex flex-column bg-dark text-white">
            <div class="col-12 row m-0 p-0 d-flex align-items-center justify-content-center">
                <div class="col-2"><b>Nome</b></div>
                <div class="col-4"><b class="d-block">Variante</b><small class="d-block">Nome &bull; Coefficiente</small></div>
                <div class="col-4"><b>Descrizione</b></div>
                <div class="col-2"><b>Azioni</b></div>
            </div>
        </div>
        <div class="maincontainer__body card-body row w-100 align-content-start m-0 pl-2 pr-0 py-2" [hidden]="bLoading">
            <div class="h-100 w-100 d-flex flex-column align-items-center justify-content-center" *ngIf="exerciseList.length == 0">
                <img src="assets/icons/misc/alert.svg" style="width:40px; height:auto;">
                <span class="badge badge-light mt-2">Nessun esercizio presente nella piattaforma</span>
            </div>
            <div class="body__element list-group-item list-group-item-action list-group-item-light d-flex align-items-center px-0 py-1" *ngFor="let elem of exerciseList; index as exerciseIndex">
                <div class="col-2">
                    <span>{{elem.name}}</span>
                </div>
                <div class="col-4">
                    <span>{{elem.variant.name}} &bull; {{elem.variant.intensityCoefficient}}</span>
                </div>
                <div class="col-4"><span>{{elem.description}}</span></div>
                <div class="col-2 d-flex">
                    <a [routerLink]="['/exercises', elem._id]" routerLinkActive="active" class="image-button" ngbTooltip="Visualizza" placement="left"><img src="assets/icons/actions/visibility.svg" style="width:20px; height:auto;"></a>
                    <a *ngIf="(account.user.userType=='both' || account.user.userType == 'coach')" [routerLink]="['/exercises', elem._id]" routerLinkActive="active" class="ml-2 image-button" ngbTooltip="Modifica" placement="left"><img src="assets/icons/actions/edit.svg" style="width:20px; height:auto;"></a>
                    <a *ngIf="account.role == Role.Admin"(click)="deleteExercise(elem._id, exerciseIndex)" class="ml-2 image-button" ngbTooltip="Elimina" placement="left"><img src="assets/icons/actions/garbage-can.svg" style="width:20px; height:auto;"></a>
                </div>
            </div>
            <app-exercise-modal (onClose)="createExercise()" *ngIf="(account.user.userType=='both' || account.user.userType == 'coach')"  [(newExercise)] = "newExercise" style="position: absolute; right: 15px; bottom: 15px">
                <div class="image-button-big cursor-pointer" ngbTooltip="Nuovo" placement="top"><img src="assets/icons/actions/plus.svg" style="width:40px; height:auto;"></div>
            </app-exercise-modal>
        </div>
    </div>

    <!-- Loader -->
    <div class='h-100 w-100' [hidden]="!bLoading">
        <div style="position:absolute; background-color:black; opacity:50%; right:0; top:0;" class="w-100 h-100">
            <div class="container d-flex align-items-center justify-content-center w-100 h-100">
                <div class="lds-ring"><div></div><div></div><div></div><div></div></div>
            </div>
        </div>
    </div>
</div>