.main__exercises {

    .exercises__filters {
        font-size: 0.8rem;
        min-height: 65px;
        box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
        border-radius: 4px;
        background-color: white !important;

        transition: min-height 1s;

        &.min-height-60 {
            min-height: 65px;
            transition: all 1s;
        }
        &.min-height-200 {
            min-height: 200px;
            transition: all 1s;
        }
    }

    .exercises__maincontainer {
        
        .maincontainer__header {
            height: 70px;
        }
        
        .maincontainer__body {
            overflow-y: scroll;
            height: calc(100vh - 240px);

            .body__element {
                height: 80px;
                overflow: hidden;
            }
        }

    }
    
}