<div class="d-flex m-0" style="flex-wrap: wrap;">
    
    <div *ngFor="let week of training.weeks; index as weekIndex; last as bLastWeek" [ngClass]="{'margin-right-1': weekIndex==0 || ((weekIndex+1)%options.format.weeksForRow!=0),'flex-1': options.format.weeksForRow == 1 || options.format.weeksForRow == 0 || options.format.weeksForRow == null, 'flex-2': options.format.weeksForRow == 2, 'flex-3': options.format.weeksForRow == 3, 'flex-4': options.format.weeksForRow == 4, 'flex-5': options.format.weeksForRow == 5, 'flex-6': options.format.weeksForRow == 6, 'flex-7': options.format.weeksForRow == 7, 'flex-8': options.format.weeksForRow == 8}">
        <app-week-view [week]="week" [weekIndex]="weekIndex" [(options)]="options"></app-week-view>
    </div>
</div>