<div class="row col-12 p-0 m-0">
    <div class="col-12">
        <h1 *ngIf="isAddMode">Create Account</h1>
        <h1 *ngIf="!isAddMode">Edit Account</h1>
    </div>

    <div class="col-12" style="max-height: calc(100vh - 186px); overflow: auto;">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">

            <!-- USER INFORMATIONS -->
            <div class="row m-0"><h5>User Informations</h5></div>
            <div class="form-row m-0">
                <!-- Name -->
                <div class="col-3 form-group">
                    <label class="col-form-label col-form-label-sm text-muted">First Name</label>
                    <input type="text" formControlName="name" class="form-control form-control-sm" [ngClass]="{ 'is-invalid': submitted && f.name.errors }" />
                    <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                        <div *ngIf="f.name.errors.required">First Name is required</div>
                    </div>
                </div>
    
                <!-- Surname -->
                <div class="col-3 form-group">
                    <label class="col-form-label col-form-label-sm text-muted">Last Name</label>
                    <input type="text" formControlName="surname" class="form-control form-control-sm" [ngClass]="{ 'is-invalid': submitted && f.surname.errors }" />
                    <div *ngIf="submitted && f.surname.errors" class="invalid-feedback">
                        <div *ngIf="f.surname.errors.required">Last Name is required</div>
                    </div>
                </div>
    
                <!-- Date of Birth -->
                <div class="col-3 form-group" *ngIf="!isAddMode">
                    <label for="userDoB" class="col-form-label col-form-label-sm text-muted">Date of Birth</label>
                    <input type="date" formControlName="dateOfBirth" class="form-control form-control-sm" [ngClass]="{'is-invalid': submitted && f.dateOfBirth.errors}"/>
                </div>
    
                <!-- User Sex -->
                <div class="col-3 form-group" *ngIf="!isAddMode">
                    <label for="userSex" class="col-form-label col-form-label-sm text-muted">Sex</label>
                    <select formControlName="sex" class="form-control form-control-sm" [ngClass]="{'is-invalid': submitted && f.sex.errors}">
                        <option [value]="'M'">Uomo</option>
                        <option [value]="'F'">Donna</option>
                    </select>
                </div>
    
                <!-- User Type -->
                <div class="form-group col-4">
                    <label class="col-form-label col-form-label-sm text-muted">User Type</label>
                    <select formControlName="userType" class="form-control form-control-sm" [ngClass]="{'is-invalid': submitted && f.userType.errors }">
                        <option value="coach">Coach</option>
                        <option value="athlete">Athlete</option>
                        <option value="both">Both</option>
                    </select>
                    <div *ngIf="submitted && f.userType.errors" class="invalid-feedback">
                        <div *ngIf="f.userType.errors.required">User Type is required</div>
                    </div>
                </div>
    
                <!-- Body Weight -->
                <div class="col-4 form-group" *ngIf="!isAddMode">
                    <label for="userBw" class="col-form-label col-form-label-sm text-muted">Body Weight</label>
                    <input type="number" min=10 max=500 formControlName="bodyWeight" class="form-control form-control-sm" [ngClass]="{'is-invalid': submitted && f.bodyWeight.errors}">
                </div>
    
                <!-- Years of experience -->
                <div class="col-4 form-group" *ngIf="!isAddMode">
                    <label for="userYearsOfExperience" class="col-form-label col-form-label-sm text-muted">Experience (years)</label>
                    <input type="number" min=0 max=100 formControlName="yearsOfExperience" class="form-control form-control-sm" [ngClass]="{'is-invalid': submitted && f.yearsOfExperience.errors }">
                </div>
    
                <!-- Email -->
                <div class="col-6 form-group" *ngIf="!isAddMode">
                    <label for="userContactsEmail" class="col-form-label col-form-label-sm text-muted">Email</label>
                    <input type="email" formControlName="userEmail" required class="form-control form-control-sm" [ngClass]="{'is-invalid': submitted && f.userEmail.errors}"/>
                    <div *ngIf="submitted && f.userEmail.errors" class="invalid-feedback">
                        <div *ngIf="f.userEmail.errors.email">Il campo email deve contenere un'email valida</div>
                    </div>
                </div>
    
                <!-- Telephone -->
                <div class="col-6 form-group" *ngIf="!isAddMode">
                    <label for="userContactsTelephone"
                        class="col-form-label col-form-label-sm text-muted">Telephone</label>
                    <input type="tel" formControlName="telephone" class="form-control form-control-sm" [ngClass]="{'is-invalid': submitted && f.telephone.errors}"/>
                </div>
    
                <!-- Residence State -->
                <div class="col-4 form-group" *ngIf="!isAddMode">
                    <label for="userResidenceState" class="col-form-label col-form-label-sm text-muted">State</label>
                    <input type="text" formControlName="residenceState" class="form-control form-control-sm" [ngClass]="{'is-invalid': submitted && f.residenceState.errors}"/>
                </div>
    
                <!-- Residence City -->
                <div class="col-4 form-group" *ngIf="!isAddMode">
                    <label for="userResidenceCity" class="col-form-label col-form-label-sm text-muted">City</label>
                    <input type="text" formControlName="residenceCity" class="form-control form-control-sm" [ngClass]="{'is-invalid': submitted && f.residenceCity.errors}"/>
                </div>
    
                <!-- Residence Address -->
                <div class="col-4 form-group" *ngIf="!isAddMode">
                    <label for="userResidenceAddress" class="col-form-label col-form-label-sm text-muted">Address</label>
                    <input type="text" formControlName="residenceAddress" class="form-control form-control-sm" [ngClass]="{'is-invalid': submitted && f.residenceAddress.errors}"/>
                </div>
            </div>


            <!-- ACCOUNT INFORMATIONS -->
            <div class="row m-0"><h5>Account Informations</h5></div>
            <div class="form-row m-0">
                <!-- Email -->
                <div class="form-group col-7">
                    <label class="col-form-label col-form-label-sm text-muted">Email</label>
                    <input type="text" formControlName="email" class="form-control form-control-sm" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                    <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                        <div *ngIf="f.email.errors.required">Email is required</div>
                        <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                    </div>
                </div>

                <!-- Role -->
                <div class="form-group col">
                    <label class="col-form-label col-form-label-sm text-muted">Role</label>
                    <select formControlName="role" class="form-control form-control-sm" [ngClass]="{ 'is-invalid': submitted && f.role.errors }">
                        <option value=""></option>
                        <option value="User">User</option>
                        <option value="Admin">Admin</option>
                    </select>
                    <div *ngIf="submitted && f.role.errors" class="invalid-feedback">
                        <div *ngIf="f.role.errors.required">Role is required</div>
                    </div>
                </div>

                <!-- Password -->
                <div class="form-group col-6">
                    <label class="col-form-label col-form-label-sm text-muted">Password <span [hidden]="isAddMode">(Leave blank to keep the same password)</span></label>
                    <input type="password" formControlName="password" class="form-control form-control-sm" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                    <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                        <div *ngIf="f.password.errors.required">Password is required</div>
                        <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
                    </div>
                </div>
                <div class="form-group col-6">
                    <label class="col-form-label col-form-label-sm text-muted">Confirm Password <span [hidden]="isAddMode">(Leave blank to keep the same password)</span></label>
                    <input type="password" formControlName="confirmPassword" class="form-control form-control-sm" [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }" />
                    <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
                        <div *ngIf="f.confirmPassword.errors.required">Confirm Password is required</div>
                        <div *ngIf="f.confirmPassword.errors.mustMatch">Passwords must match</div>
                    </div>
                </div>
            </div>

            <!-- ACTIONS -->
            <div class="form-group">
                <button [disabled]="bLoading" class="btn btn-primary">
                    <span *ngIf="bLoading" class="spinner-border spinner-border-sm mr-1"></span>
                    Save
                </button>
                <a routerLink="/admin/accounts" class="btn btn-link">Cancel</a>
            </div>
        </form>
    </div>
</div>